<footer>
  <div class="fit_course">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <a href="/" class="fit_device">
            {% include 'partials/chrome/_fa_svg_square.html' %}
          </a>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_about.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_product.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_support.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="support" class="note"><small>Need help?</small>Get support</a>
            <a href="about/michael#">In loving memory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>