<form class="fit_form_code_head fit_fancyplace" method="post" action="{{ url_for('course.code', institute='') }}" data-fit_head_code_daddy>
  <div class="input-group input-group-sm">
    <input type="text" name="course_code" id="course_code_header" class="form-control" placeholder="Course code" aria-label="Coure code" data-fit_head_code data-fit-fancyplace>
    <div class="input-group-append">
      <button class="btn" disabled type="button"><i class="fal fa-rocket"></i> </button>
    </div>
    <label for="course_code_header"><span class="course">Course</span> <span class="code">Code</span> </label>
  </div>  
</form>