<header>

  <div class="container"> 

    <!-- Left hand side logic -->
    <!-- ---------------------------------------------------------------- -->

    {% if url_is('course.view') %}
      <!-- this means course intro -->
      
      <a href="/" class="fit_btn"> 
        <i class="fal fa-arrow-left"></i>
        <span class="fit_txt">Home</span>
      </a>

    {% elif url_is('lesson.view', 'segment.view') %}

      <div class="left">

        <a href="/course/{{ course.slug }}" class="fit_btn left"> 
          <i class="fal fa-arrow-left"></i>
          <span class="fit_txt">{{ course.title }}</span>
        </a>


      </div>

    <!-- Course -->
    {% elif url_is('course.retrieve') %}
      <div class="left">
        <a href="/" class="fit_btn widthlimit">
          <i class="fal fa-arrow-left"></i>
          <span class="fit_txt">Institute name</span>
        </a>

        <a href="{{ course.permalink }}" class="fit_btn"> 
          <i class="fal fa-external-link"></i>
          <span class="fit_txt">Live</span>
        </a>

        <a class="fit_btn_saver">
          <span class="fit_btn saved"><i class="fal fa-check-circle"></i><span class="fit_txt">Saved</span></span>
          <span class="fit_btn saving"><i class="fas fa-spin fa-spinner-third"></i><span class="fit_txt">Saving...</span></span>
          <span class="fit_btn error"><i class="fas fa-exclamation-square"></i><span class="fit_txt">Error! Try again?</span></span>
        </a>
      </div>

    <!-- Course > lesson -->
    {% elif url_is('lesson.retrieve') %}
      <div class="left">
        <a href="/course/{{ course.slug }}/edit" class="fit_btn widthlimit"> 
          <i class="fal fa-arrow-left"></i>
          <span class="fit_txt">{{ course.title }}</span>
        </a>

        {% if lesson %}
        <a href="{{ lesson.permalink }}" class="fit_btn"> 
          <i class="fal fa-external-link"></i>
          <span class="fit_txt">Live</span>
        </a>
        {% endif %}

        <a class="fit_btn_saver" data-fit-save-lesson-changes>
          <span class="fit_btn saved"><i class="fal fa-check-circle"></i><span class="fit_txt">Saved</span></span>
          <span class="fit_btn saving"><i class="fas fa-spin fa-spinner-third"></i><span class="fit_txt">Saving...</span></span>
          <span class="fit_btn error"><i class="fas fa-exclamation-square"></i><span class="fit_txt">Error! Try again?</span></span>
        </a>
      </div>

    <!-- Course > lesson > segment -->
    {% elif url_is('segment.add_edit_segment') %}
      <div class="left">
        <a href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit" class="fit_btn widthlimit">
          <i class="fal fa-arrow-left"></i>
          <span class="fit_txt">{{ lesson.title }}</span>
        </a>

        <a class="fit_btn_saver">
          <span class="fit_btn saved"><i class="fal fa-check-circle"></i><span class="fit_txt">Saved</span></span>
          <span class="fit_btn saving"><i class="fas fa-spin fa-spinner-third"></i><span class="fit_txt">Saving...</span></span>
          <span class="fit_btn error"><i class="fas fa-exclamation-square"></i><span class="fit_txt">Error! Try again?</span></span>
        </a>
      </div>

    {% else %}

      <a href="/" class="fit_device">
        {{ get_logo(current_institute)|safe }}
      </a>

      <form class="fit_form_code_head fit_fancyplace" method="post" action="{{ url_for('course.code', institute='') }}" data-fit_head_code_daddy>
        <div class="input-group input-group-sm">
          <input type="text" name="course_code" id="course_code_header" class="form-control" placeholder="Course code" aria-label="Coure code" data-fit_head_code data-fit-fancyplace>
          <div class="input-group-append">
            <button class="btn" disabled type="button"><i class="fal fa-rocket"></i> </button>
          </div>
          <label for="course_code_header"><span class="course">Course</span> <span class="code">Code</span> </label>
        </div>  
      </form>

      <div class="fit_loading spinner">
        <div class="circle">
          <i class="fas fa-spin fa-spinner-third"></i>
        </div>
      </div>

      <div class="fit_loading check">
        <div class="circle">
          <i class="fas fa-check"></i>
        </div>
      </div>

      <div class="fit_loading error">
        <div class="circle">
          <i class="fas fa-exclamation"></i>
        </div>
      </div>

    {% endif %}



    <!-- Right hand side logic -->
    <!-- ---------------------------------------------------------------- -->

    {% if url_is('course.view', 'lesson.view', 'segment.view', 'course.retrieve', 'lesson.retrieve', 'segment.add_edit_segment') %}

      <div class="right">

        {% if current_user %}
          
          <a href="/edit" class="fit_btn login" data-fit-userpanel>
            <span class="fit_txt">
              <span class="d-none d-sm-inline-block">{{ current_user.first_name }}</span>
              <span class="d-none d-md-inline-block">{{ current_user.last_name }}</span>
            </span>
            <span class="fit_pic circle"> 
              {% if current_user.profile_picture_url %}
                <img src="{{ current_user.profile_picture_url }}" alt="user">
              {% else %}
                <i class="fal fa-user"></i>
              {% endif %}
              <i class="fal fa-chevron-right"></i>
            </span>
          </a>

        {% else %}

          <a href="{{ url_for('user.login') }}" class="fit_btn login" data-fit-userpanel>
            <span class="fit_txt">Sign up</span>
            <i class="fal fa-user"></i>
            <i class="fal fa-chevron-right"></i>
          </a>

        {% endif %}

      </div>
    
    {% else %}

      {% include 'partials/nav/_header_nav_sales.html' %}

    {% endif %}


  </div> 
  
</header>


{% if current_user %}

  {% include 'partials/nav/_sidepanel_user.html' %}

{% else %}

  {% include 'partials/nav/_sidepanel_login.html' %}

{% endif %}