<a href="/edit" class="fit_btn" data-fit-userpanel>
  <span class="fit_txt">
    <span class="d-none d-sm-inline-block">{{ current_user.first_name }}</span>
    <span class="d-none d-md-inline-block">{{ current_user.last_name }}</span>
  </span>
  <span class="fit_pic circle">
      {% if current_user.profile_picture %}
          <img src="{{ current_user.profile_picture_url }}" alt="user">
      {% else %}
            <i class="fas fa-user" style="opacity: 100;"></i>
      {% endif %}

  </span>
</a>