<div class="right fit_mobile_menu">

  <a href="{{ url_for('course.index') }}" class="fit_btn fit_mobile_menu_trigger" data-fit_mobile_menu_trigger>
    <span class="fit_txt">Menu</span>
    <i class="fal fa-chevron-down"></i>
    <i class="fal fa-times"></i>
  </a>

  <div class="right fit_mobile_menu_dropdown">

    <form class="form fit_search_header" action="/search" method="post">
      <input class="form-control" type="text" value="" placeholder="Search..." data-fit_search_header_input>
      <button class="btn btn-link"><i class="fal fa-search"></i></button>
      <a href="#" class="btn btn-link" data-fit_toggle_mode="fit_search_header_active"><i class="fal fa-times"></i></a>
      <div class="results"></div>
    </form>

    <a href="/search" class="fit_btn search d-none" data-fit_toggle_mode="fit_search_header_active" data-fit_focus="[data-fit_search_header_input]">
      <i class="fal fa-search"></i>
      <span class="fit_txt">Search</span>
    </a>

<!--     <a href="{{ url_for('about.index') }}" class="fit_btn">
      <span class="fit_txt">About</span>
    </a> -->

    <a href="{{ url_for('product.index') }}" class="fit_btn">
      <span class="fit_txt">Product</span>
    </a>

    <a href="{{ url_for('product.pricing') }}" class="fit_btn">
      <span class="fit_txt">Pricing</span>
    </a>

    <a href="{{ url_for('product.teachers') }}" class="fit_btn">
      <span class="fit_txt">Teachers</span>
    </a>

<!--     <a href="{{ url_for('support.index') }}" class="fit_btn">
      <span class="fit_txt">Support</span>
    </a> -->
  
    {% if current_user %}
      
      {% include 'partials/nav/_header_link_user.html' %}

    {% else %}

      <a href="{{ url_for('user.login') }}" class="fit_btn login" data-fit-userpanel>
        <span class="fit_txt">Sign up</span>
        <i class="fal fa-user"></i>
        <i class="fal fa-chevron-right"></i>
      </a>
    
    {% endif %}

  </div>
</div>