<header>

  <div class="container"> 

    <!-- Left hand side logic -->
    <!-- ---------------------------------------------------------------- -->

    {% if url_is('course.view') %}

      {% include 'partials/nav/_header_link_home.html' %}

    {% elif url_is('lesson.view', 'segment.view') %}

      {% include 'partials/nav/_header_link_coursetitle.html' %}

    {% elif url_is('course.edit') %}

    <!-- This needs to show course edit stuff -->

    {% else %}

      <a href="/" class="fit_device">
        {% include 'partials/chrome/_fa_svg_square.html' %}
      </a>

      {% include 'partials/nav/_header_nav_code.html' %}

      {% include 'partials/nav/_header_loading.html' %}

    {% endif %}



    <!-- Right hand side logic -->
    <!-- ---------------------------------------------------------------- -->

    {% if url_is('course.view', 'lesson.view', 'segment.view') %}

      <div class="right">

        {% if current_user %}
          
          {% include 'partials/nav/_header_link_user.html' %}

        {% else %}

          {% include 'partials/nav/_header_link_login.html' %}

        {% endif %}

      </div>
    
    {% else %}

      {% include 'partials/nav/_header_nav_sales.html' %}

    {% endif %}


  </div> 
  
</header>


{% if current_user %}

  {% include 'partials/nav/_sidepanel_user.html' %}

{% else %}

  {% include 'partials/nav/_sidepanel_login.html' %}

{% endif %}