<div class="fit_sidepanel userpanel">
  <div class="whiteout" data-fit-userpanel></div>
  <div class="panel">
  
    <div class="head">
      <a href="{{ url_for('user.edit') }}" class="fit_btn right" data-fit-userpanel>
        <span class="fit_txt">
          {{ current_user.full_name }}
        </span>
        <i class="fas fa-times"></i>
      </a>
    </div>
    
    <div class="content">
      
      <div class="fit_pane">
        <dl class="fit_summary_icons">
          <dt><i class="far fa-user"></i> About you.</dt>
          <dd>
            <ul>
              <li>{{ current_user.full_name }}</li> 
              <li><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></li> 
              <!-- <li><strong>34</strong> years old, from <strong>Paris, France</strong>.</li> <! DEV: from the user DB -->
            </ul>
            
            <form method="post" action="/logout" class="form-inline">
              <a href="{{ url_for('user.edit') }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Edit your details</a>
              &nbsp; 
              <button type="submit" class="btn btn-outline-secondary btn-sm"><i class="fas fa-sign-out"></i> Log out</button>
            </form>
          </dd>
        </dl>
      </div>

      <div class="fit_course">
        <h3>
          <span class="txt">Your courses.</span>
          {% if current_user.courses|length > 0 %}
            <small class="subtxt"><span class="fas fa-check"></span> {{ current_user.course_progress }}% complete</small> 
            <!-- DEV: total % complete, aggregated across all courses user has started -->
          {% endif %}
        </h3>

        <div class="fit_body fit_lessons">

          <!-- DEV: this is links (without the accordion!) direct to the courses user is enrolled in -->

          {% if current_user.courses|length == 0 %}
            <div class="fit_btn">
              <div class="fit_txt">You're not enrolled in any courses yet!</div>
            </div>
          {% else %}
            {% for course in current_user.courses %}
            <div class="fit_lesson">
              <div class="fit_btn">
                <a class="fit_pic vid" href="{{ course.permalink }}">
                  <img src="{{ course.cover_image_url }}" alt="course">
                </a>
                <a class="fit_txt" href="{{ course.permalink }}">{{ course.title }}</a>
                {% if current_user.teaches(course) %}
                  <a href="/course/{{ course.slug }}/edit" class="fit_sub"> 
                    <i class="fal fa-edit"></i> Edit
                  </a>
                {% endif %}
                <span class="fit_sub">{{ course.duration_seconds|hhmmss }}</span>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>

        <a href="/course/add" href="#" data-toggle="modal" data-target="#fit_modal_add_course" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i> New course</a>

      </div><!-- fit_course -->


    </div><!-- content -->
  </div><!-- panel -->
</div>