{% macro pref_toggle(tag, label) -%}
  <div class="form-group" data-fit-preference-toggle="{{ tag }}">
    <input type="checkbox" {{ 'checked' if current_user.preference(tag) }} data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1">
    <label for="permissions_1">{{ label }}</label>
  </div>
{%- endmacro %}

<div class="fit_sidepanel userpanel">
  <div class="whiteout" data-fit-userpanel></div>
  <div class="panel">
  
    <div class="head">
      <a href="{{ url_for('user.edit') }}" class="fit_btn right" data-fit-userpanel>
        <span class="fit_txt">
          {{ current_user.full_name }}
        </span>
        <i class="fas fa-times"></i>
      </a>
    </div>
    
    <div class="content">
      
      <div class="fit_pane">
        <dl class="fit_summary_icons">
          <dt><i class="far fa-user"></i> About you.</dt>
          <dd>
            <ul>
              <li>{{ current_user.full_name }}</li> 
              <li><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></li> 
              <!-- <li><strong>34</strong> years old, from <strong>Paris, France</strong>.</li> <! DEV: from the user DB -->
            </ul>
            
            <form method="post" action="/logout" class="form-inline">
              <a href="{{ url_for('user.edit') }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Edit your details</a>
              &nbsp; 
              <button type="submit" class="btn btn-outline-secondary btn-sm"><i class="fas fa-sign-out"></i> Log out</button>
            </form>
          </dd>
        </dl>
      </div>    

      <div class="fit_course">
        <h3>
          <span class="txt">Your courses.</span>
          {% if current_user.courses|length > 0 %}
            <small class="subtxt"><span class="fas fa-check"></span> {{ current_user.course_progress }}% complete</small> 
            <!-- DEV: total % complete, aggregated across all courses user has started -->
          {% endif %}
        </h3>

        <div class="fit_body fit_lessons">

          <!-- DEV: this is links (without the accordion!) direct to the courses user is enrolled in -->

          {% if current_user.courses|length == 0 %}
            <div class="fit_btn">
              <div class="fit_txt">You're not enrolled in any courses yet!</div>
            </div>
          {% else %}
            {% for course in current_user.courses %}
            <div class="fit_lesson">
              <a class="fit_btn collapsed i-l i-t" href="{{ course.permalink }}">
                <div class="fit_pic vid">
                  <img src="{{ course.thumbnail }}" alt="course">
                  <span class="fas fa-check"></span>
                </div>
                <span class="fit_txt">{{ course.title }} {{ course.user_progress(current_user) }}%</span>
                <span class="fit_txt secondary">{{ course.instructors|join_names }}</span>
                <span class="fit_time">{{ course.duration_seconds|format_time }}</span>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>

        <!-- DEV: Use this button for creating courses -->
        <a href="#" class="btn btn-outline-primary"><i class="fal fa-plus"></i> Create a course</a>
      </div><!-- fit_course -->

      <!-- end vid stack -->

      <h3>
        <span class="txt">Your privacy.</span>
      </h3>
      <p></p>
      <dl class="fit_summary_icons">
        <dt><i class="far fa-bell"></i> Notifications.</dt>
        <dd>
          {{ pref_toggle('emails_from_teachers', 'Receieve emails and notifications from your teachers.') }} <!-- DEV: user privacy permissions. Let's talk this through -->
          {{ pref_toggle('emails_from_site', 'Receieve emails and notifications from Fitzroy Academy.') }} 
        </dd>
        <dt><i class="far fa-lock"></i> Privacy.</dt>
        <dd>     
          {{ pref_toggle('data_show_name', 'Allow other students to see my name') }}
          {{ pref_toggle('data_show_email', 'Allow other students to see my email address') }}
          {{ pref_toggle('data_research', 'Let us use your learning data for research.') }}
        </dd>          
      </dl>
      <p>Wondering about privacy? <a href="/support/privacy">Learn more.</a></p>
    </div>

  </div>
</div>