{% extends "/layout.html" %}
{% block body %}

<div class="fit_hero">

    
  <h1>
    <img src="/static/assets/images/partners/griffith/logo.png" alt="logo" class="logo">
    <span class="txt">Yunus Social <br>Business Centre.</span>
  </h1> 
  <p>Driving systems change through social entrepreneurship.</p>



  <div class="fit_code">
    <form class="fit_form_code fit_fancyplace fit_wiggle_daddy" method="post" action="{{ url_for('course.code') }}">
      <div class="form-group">
        <input type="text" class="form-control" name="course_code" id="course_code" placeholder="Course code" required data-fit-fancyplace>
        <label for="course_code">Course code</label>
        <button type="submit" class="btn btn-text fit_wiggle"><i class="fas fa-rocket"></i></button>
      </div>
      <div class="fit_cta_tnc">No code? Check out our <a href="#public">public courses!</a></div>
    </form>
  </div>

</div>

<div id="public" class="fit_tabbydiv">
  <div class="fit_tabby">Public courses</div>
</div>

<div class="fit_course">

  <div class="row">
    <div class="col-sm-6">
      <div class="fit_course_sell">
        <div class="fit_window">
          <img src="/static/assets/images/lessons/design-iteration-form.jpg" alt="image">
          <div class="butts">
            <a></a>
            <a></a>
            <a></a>
          </div>      
          <a href="course_intro" class="play"><i class="fas fa-play-circle"></i></a>
        </div>
        <h3><a href="course_intro">International development.</a></h3>
        <p class="tagline">
          <span class="tag"><i class="fal fa-info-square"></i> Designing for lasting impact at scale, direct from the best minds in the sector.</span>
          <span class="tag"><i class="fal fa-calendar"></i> 8 lessons, at your own pace.</span>
          <span class="tag"><i class="fal fa-tag"></i> Free forever.</span>
          <span class="tag"><i class="fal fa-university"></i> Intermediate to advanced.</span>
        </p>    
      </div>      
    </div>
    <div class="col-sm-6">
      <div class="fit_course_sell">
        <div class="fit_window">
          <img src="/static/assets/images/lessons/empathy-mapping.jpg" alt="image">
          <div class="butts">
            <a></a>
            <a></a>
            <a></a>
          </div>      
          <a href="course_intro" class="play"><i class="fas fa-play-circle"></i></a>
        </div>
        <h3><a href="course_intro">Social sector digital.</a></h3>
        <p class="tagline">
          <span class="tag"><i class="fal fa-info-square"></i> Do the internet better. Help more people, in more places by doing digital the right way: human-first.</span>
          <span class="tag"><i class="fal fa-calendar"></i> 9 lessons, at your own pace.</span>
          <span class="tag"><i class="fal fa-tag"></i> Free forever.</span>
          <span class="tag"><i class="fal fa-university"></i> Introduction level.</span>
        </p>
      </div>
    </div>        
  </div>

</div><!-- fit_course -->



{% endblock %}