<div class="fit_vidya fit_cropper" data-fit-image-uploader data-fit-aspect-width="16" data-fit-aspect-height="9">
        {% if cover_image %}
            <img class="placeholder" src="{{ cover_image }}" alt="cover image">
        {% else %}
        <img class="placeholder" src="{{ url_for('static', filename='assets/images/defaults/spacer.gif') }}" alt="spacer">
        {% endif %}
        <a class="fit_vidya_play fit_upload_dropzone" href="#" data-fit-image-dropzone><i class="fas fa-upload"></i></a>
        {% if cover_action %}
        <form action="{{ cover_action }}" method="post" style="display:none;">
        {% endif %}
        <input id="cover_image" name="cover_image" type="file" style="display: none;" data-fit-image-input>
        {% if cover_action %}
         </form>
        {% endif %}
        <a class="btn btn-lg btn-primary fit_save_crop" data-fit-save-crop><i class="fal fa-check"></i> Save</a>
</div>