<div class="fit_vidya fit_cropper" data-fit-image-uploader data-fit-aspect-width="16" data-fit-aspect-height="9">
        <img class="placeholder" src="/static/assets/images/defaults/spacer.gif" alt="spacer">
        <a class="fit_vidya_play fit_upload_dropzone" href="#" data-fit-image-dropzone><i class="fas fa-upload"></i></a>
        <input id="cover_image" name="cover_image" type="file" style="display: none;" data-fit-image-input>
        <a class="btn btn-lg btn-primary fit_save_crop" data-fit-save-crop><i class="fal fa-check"></i> Save</a>
</div>