<div class="fit_btn">
    <div class="fit_pic vid">
        <img src="{{ introduction.thumbnail_url }}" alt="course">
    </div>
    <a data-toggle="modal" href="#" data-target="#fit_modal_add_intro" class="fit_txt">Introduction</a>

    <div class="sub buttonset">
        <span class="btn btn-text subtle">{{ introduction.duration_seconds|hhmmss }}</span>
        <a class="btn btn-light" href="#" data-toggle="modal" data-target="#fit_modal_add_intro"><i class="fal fa-edit"></i></a>
    </div>
</div>