{% extends "/layout.html" %}
{% block CSRFtoken %}
    <script type="text/javascript">
        {% if ajax_csrf_form.csrf_token %}
        var csrf_token = "{{ ajax_csrf_form.csrf_token.current_token }}";
        {% endif %}
    </script>
{% endblock %}
{% block body %}

<main>

  <article>

    <div class="fit_course intro">

    <form id="lesson-edit-form" action="/course/{{ course.slug }}/lessons/{% if not lesson %}add{% else %}{{ lesson.id }}/edit{% endif %}" method="POST" enctype="multipart/form-data" data-fit-wysiwyg data-fit-lesson-add-edit>
    {{ form.csrf_token }}
      

      <!-- <h1>
        <span class="txt">{% if not lesson %}Add{% else %}Edit{% endif %} Lesson.</span>
        <small class="subtxt">
          <a href="/course/{{ course.slug }}/edit" class="btn btn-sm btn-outline-secondary"><i class="fal fa-arrow-left"></i> {{ course.title }} </a>
          &nbsp;
          <button class="btn btn-sm btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary" type="submit"><i class="fal fa-check"></i>  Save</button>
        </small>
      </h1> -->

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="title" value="{{ form.title.data }}" id="title" placeholder="E.g. Lesson name" required>
      </div>
      <div class="form-group">
        <!-- <label for="lesson_description">Short description</label> -->
        <input type="text" value="{{ form.description.data }}" class="form-control" id="description" name="description" maxlength="140" placeholder="Short description of the lesson. 140 characters max." required>
      </div>

      <div class="fit_vidya">
        {% if lesson and lesson.get_cover %}<img class="placeholder" src="{{ lesson.get_cover }}" alt="video">{% endif %}
        <a class="fit_vidya_play" href="#" onclick="document.getElementById('cover_image').click()"><i class="fas fa-upload"></i></a>
        <input id="cover_image" name="cover_image" type="file" style="display: none;">
      </div>

      {% if lesson %}
      <h3>
        <span class="txt">Lesson segments.</span>
        <small class="subtxt"><span class="fas fa-clock"></span>
          {{ lesson.duration_seconds|hhmmss }}
        </small>
      </h3>

      <div class="fit_body fit_lessons">

          {% if not introduction %}
          <a class="fit_btn solid secondary add-segment"
             data-toggle="modal" data-target="#fit_modal_add_intro" data-fit-add-intro>
            <i class="fas fa-plus"></i>
            <span class="fit_txt">Add an intro video</span>
          </a>
          {% endif %}

          <div data-fit-sortable-list-with-intro-element>


            <!-- This first one is spcial, just for the intro video: -->
            {% if introduction %}
                {% include "partials/course/_intro.html" %}
            {% endif %}

            <div id="sortable-list"
                 data-action-url="/course/{{ course.slug }}/lessons/{{ lesson.id }}/segments/reorder"
                 data-fit-list-elements-container
                 data-fit-course-slug="{{ course.slug }}"
                 data-fit-lesson-id="{{ lesson.id }}">
                {% for segment in segments %}
                    {% include "partials/course/_list_segment_element.html" %}
                {% endfor %}
            </div>
          </div>
          
          <a class="fit_btn solid secondary add-segment" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/segments/add/"
             data-toggle="modal" data-target="#fit_modal_add_segment">
            <i class="fas fa-plus"></i>
            <span class="fit_txt">Add a video or text page</span>
          </a>
        
      </div>
      <!-- end vid stack -->

      <div class="row">
        <div class="col-md-6">
          <h3>
            <span class="txt">Lesson info.</span>
          </h3>
          <div class="fit_pane">
            <dl class="fit_summary_icons">
              
              {% include "partials/course/_teachers.html" %}

              <dt><i class="far fa-question-square"></i> Frequently Asked Questions</dt>

              <!-- Would be cool to have the textareas have VERY simple WYSIWYG and auto-resize boxes? -->

              <dd class="fit_faq_edits">

                <div id="sortable-list-questions" data-action-url="/course/{{ course.slug }}/lessons/{{ lesson.id }}/qa/reorder">
                {% for question in questions %}
                  {{ question|safe }}
                {% endfor %}
                </div>

                <div class="fit_faq_edit fit_faq_add">


                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fal fa-question"></i></span>
                      </div>
                      <input type="text" id="lesson-question" class="form-control" placeholder="Question?">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fal fa-comment-dots"></i></span>
                      </div>
                      <textarea class="form-control" id="lesson-question-answer" aria-label="With textarea" placeholder="Answer!"></textarea>
                    </div>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <span>&nbsp;</span>
                    <button class="btn btn-sm btn-primary" data-save-question-answer data-lesson-id="{{ lesson.id }}" data-course-slug="{{ course.slug }}"><i class="fal fa-plus"></i> Add new</button>
                  </div> 
                </div>
              </dd>
              
            </dl>
          </div><!-- pane -->


        </div><!-- col -->

        <div class="col-md-6">
            
          <h3>
            <span class="txt">Resources.</span>
          </h3>


          <div class="fit_pane slimmest bordered">
            <div id="sortable-list-resources" data-action-url="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/reorder">
            {% for resource in resources %}
            <div class="fit_btn resource_link {{ resource.type.name }} featured" data-list-el-id="{{ resource.id }}">
              <i class="{{ resource.content_img }} lg"></i>
              <a class="fit_txt"
                href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/{{ resource.id }}/edit"
                data-toggle="modal"
                data-target="#fit_modal_add_resource_link"
                data-resource-id="{{ resource.id }}"
              >
                {{ resource.title }} <i class="far fa-edit"></i>
                <small>{{ resource.type.value }}</small>
              </a>
              <div class="sub buttonset">

                <div class="dropdown">
                  <button href="#" class="btn btn-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fal fa-ellipsis-v"></i>
                  </button>
                  
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_123">
                    <a class="dropdown-item" target="_blank" href="{{ resource.url }}"><i class="fal fa-external-link"></i> Open in new window</a>
                    <a class="dropdown-item" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/{{ resource.id }}/edit" data-toggle="modal" data-target="#fit_modal_add_resource_link" data-resource-id="{{ resource.id }}"><i class="fal fa-edit"></i> Edit</a>
                    <a class="dropdown-item" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/{{ resource.id }}/delete" data-toggle="modal" data-target="#fit_modal_delete"><i class="fal fa-trash"></i> Delete</a>
                    <a class="dropdown-item" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/{{ resource.id }}/copy"><i class="fal fa-copy"></i> Duplicate</a>
                  </div>
                </div>

                <a href="#" class="btn btn-light handle" data-fit-dragndrop><i class="fal fa-arrows-v"></i></a>
              </div>
              {% if resource.description %}
                <a class="explain">
                    {{ resource.description|safe }}
                </a>
              {% endif %}
            </div>
            {% endfor %}
            </div>

            <a class="fit_btn solid secondary" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/resources/add" data-toggle="modal" data-target="#fit_modal_add_resource_link">
              <i class="fas fa-plus"></i>
              <span class="fit_txt">Add a resource</span>
            </a>
          </div><!-- pane -->

          <h3>Further reading.</h3>
          <div class="fit_wysiwyg">
            <div id="fit_wysiwyg_editor" data-fit-wysiwyg-preview>{% if lesson.further_reading %}{{ lesson.further_reading|safe }}{% endif %}</div>
          </div>
          <textarea id="further_reading" name="further_reading" style="display: none"></textarea>

        </div><!-- col -->
      </div><!-- row -->

      {% endif %}

    </form>
    </div>

  </article>
</main>

{% if lesson %}
    {% include 'partials/modal/_add_segment.html' %}
    {% include 'partials/modal/_add_resource.html' %}
    {% with action="/course/" + course.slug + "/lessons/" + lesson.id|string + "/segments/add/intro_video", intro=introduction %}
    {% include 'partials/modal/_add_intro.html' %}
    {% endwith %}
    {% include 'partials/modal/_add_text_segment.html' %}
    {% include 'partials/modal/_add_video_segment.html' %}
{% endif %}


<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<script>var editor = new MediumEditor('#fit_wysiwyg_editor');</script>
<script>var editorResource = new MediumEditor('#fit_wysiwyg_resource');</script>
<style type="text/css">
    .fit_wysiwyg{border: 1px solid #ddd; border-radius: .25rem; padding: 1rem;}
    .fit_wysiwyg .medium-editor-element{outline: none !important;}
    .fit_wysiwyg .medium-editor-placeholder-relative:after,
    .fit_wysiwyg .medium-editor-placeholder:after{font-style: normal; color: #888;}
</style>

{% endblock %}
