<div id="fit_lesson_detail" class="fits" data-fit-active-lesson="{{ lesson.id }}">

  <a class="fit_btn courselist" data-toggle="collapse" href="#fit_lesson_list" role="button">
    <i class="fal fa-list"></i>
    <span class="fit_txt">Course</span> 
    <i class="fas fa-chevron-down"></i>
  </a>

  <div class="fit_body courselist collapse show" id="fit_lesson_list">
    <div class="fit_lesson_asider">
      {% for lesson in course.lessons %}
        {% include 'partials/course/_nav_lesson.html' %}
      {% endfor %}
    </div>
  </div>


  <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_resources" role="button">
    <i class="fal fa-books"></i>
    <span class="fit_txt">Resources</span> 
    <i class="fas fa-chevron-down"></i>
  </a>

  <div class="fit_body collapse show" id="fit_lesson_resources">
    <div class="fit_body_content">
      {% for resource in lesson.resources %}
        <a class="fit_btn resource_link {{ resource.type }} {{ 'featured' if resource.featured }}" href="{{ resource.permalink }}">
          <i class="fas {{ resource.icon }} lg"></i>
          <span class="fit_txt">
            {{ resource.title }}
            <small>{{ resource.description }}</small>
          </span>
        </a>
      {% endfor %}
    </div>
  </div>

  <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_teacher" role="button" aria-expanded="fitse" aria-controls="fit_lesson_teacher">
    <i class="fal fa-chalkboard-teacher"></i>
    <span class="fit_txt">Teacher</span>
    <i class="fas fa-chevron-down"></i>
  </a>

  <div class="fit_body collapse" id="fit_lesson_teacher">
    {% for instructor in course.instructors %}
      <div class="fit_body_content">
        <div class="fit_btn">
          <span class="fit_pic circle"><img src="{{ instructor.profile_picture }}" alt="user"></span>
          <span class="fit_txt">
            {{ instructor.full_name }}
            <small>{{ instructor.bio }}</small>
          </span> 
        </div>
      </div>
    {% endfor %}
  </div>


  {% if current_user and current_user.teaches(course) %}

    <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_chart" role="button" aria-expanded="fitse" aria-controls="fit_lesson_chart">
      <i class="fal fa-analytics"></i>
      <span class="fit_txt">Student progress <span href="#" class="badge badge-light">Admin</span></span>
      <i class="fas fa-chevron-down"></i>
    </a>

    <div class="fit_body collapse" id="fit_lesson_chart">
      {% include 'partials/course/_completion_chart.html' %}
    </div>

    <!-- manage buttons -->

    <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_manage" role="button" aria-expanded="fitse" aria-controls="fit_lesson_manage">
      <i class="fal fa-cog"></i>
      <span class="fit_txt">Manage <span href="#" class="badge badge-light">Admin</span></span>
      <i class="fas fa-chevron-down"></i>
    </a>

    <div class="fit_body collapse" id="fit_lesson_manage">
      <div class="fit_body_content">
        <a class="fit_btn" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit">
          <i class="fas fa-edit"></i>
          <span class="fit_txt">Edit this lesson</span>
        </a>
        <a class="fit_btn" href="#">
          <i class="fas fa-user-plus"></i>
          <span class="fit_txt">Manage students</span>
        </a>
        <!-- <a class="fit_btn" href="#">
          <i class="fas fa-chart-bar"></i>
          <span class="fit_txt">Course stats</span>
        </a> -->
      </div>
  {% endif %}


</div> <!-- /#fit_lesson_detail -->