<dt>
    <i class="far fa-chalkboard-teacher"></i> Teacher(s)
    <a class="" data-toggle="tooltip" title="Invite other users to have teacher access to this course, via email."><i class="fal fa-info-circle"></i></a>
</dt>
<dd>
    <div id="add-teacher-alert" class="alert" style="display: none;"></div>

    <div class="fit_quicksearch">

        <div class="input-group searchy">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fal fa-envelope"></i></span>
            </div>
            <input type="text" id="add-teacher-email" class="form-control" placeholder="example@email.com">
            <div class="input-group-append">
                <button class="btn btn-link-secondary" type="button" data-add-teacher
                        data-course-slug="{{ course.slug }}" data-lesson-id="{% if lesson %}{{ lesson.id }}{% endif %}">Add
                </button>
            </div>
        </div>

        <div id="teachers-list" class="teachers">
            {% for teacher in teachers %}
                {{ teacher|safe }}
            {% endfor %}
        </div>
    </div>
</dd>