{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course intro">
    <form id="text-segment" action="/course/{{ course.slug }}/lessons/{{ lesson.id }}/segments/{% if segment %}{{ segment.id }}/edit{% else %}add{% endif %}/{{ content_type }}" method="POST">
      <h1>
        <span class="txt">Text segment.</span>
        <small class="subtxt">
          <a class="btn btn-sm btn-outline-secondary" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit"><i class="fal fa-arrow-left"></i> {{ lesson.title }} </a>
          &nbsp;
          <button class="btn btn-sm btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary"><i class="fal fa-check"></i>  Save</button>
        </small>
      </h1>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="segment_name" value="{% if segment %}{{ segment.title }}{% endif %}" id="segment_name" placeholder="Segment name">

      </div>

      <div class="fit_wysiwyg">

          <div id="fit_wysiwyg_editor">{% if segment %}{{ segment.text }}{% endif %}</div>

      </div>

      <textarea id="text_segment_content" name="text_segment_content" style="display: none"></textarea>

      <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.3/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
      <script>var editor = new MediumEditor('#fit_wysiwyg_editor');</script>
      <style type="text/css">
        .fit_wysiwyg{border: 1px solid #ddd; border-radius: .25rem; padding: 1rem;}
        .fit_wysiwyg .medium-editor-element{outline: none !important;}
        .fit_wysiwyg .medium-editor-placeholder-relative:after, 
        .fit_wysiwyg .medium-editor-placeholder:after{font-style: normal; color: #888;}
      </style>

      <div class="fit_pane d-flex justify-content-between">
        <button class="btn btn-lg btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
        <button class="btn btn-lg btn-primary"><i class="fal fa-check"></i>  Save</button>
      </div>

    </form>
    </div>

  </article>

</main>

<!--
              <dd>
                <div class="form-group">
                  <input type="checkbox" data-toggle="toggle" data-size="sm" data-style="simple" id="12341234" name="paid">
                  <label for="permissions_1">Paid lesson.</label>
                </div>
              </dd>
-->

{% endblock %}