{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course intro">
    <form id="text-segment" action="/course/{{ course.slug }}/lessons/{{ lesson.id }}/segments/add/{{ content_type }}" method="POST">
      <h1>
        <span class="txt">Video segment.</span>
        <small class="subtxt">
          <a class="btn btn-sm btn-outline-secondary" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit"><i class="fal fa-arrow-left"></i> {{ lesson.title }} </a>
          &nbsp;
          <button class="btn btn-sm btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary"><i class="fal fa-check"></i>  Save</button>
        </small>
      </h1>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="segment_name" value="" id="segment_name" placeholder="Video title">
      </div>

      <div class="form-group">
        <!-- <label for="lesson_description">Paste a link to the video here</label> -->
        <input type="url" class="form-control" name="segment_url" value="" id="segment_url" placeholder="https://">
        <small class="form-text text-muted"><strong>Wista:</strong> https://fitzroyacademy.wistia.com/medias/4ub59urk8l</small>
        <small class="form-text text-muted"><strong>YouTube:</strong> https://www.youtube.com/watch?v=u7qCzZCoI2M</small>
      </div>


      <h3>Video type:</h3>
      <div class="form-group fit_radio_icons" data-fit-radio-icons>

        <div class="form-check">
          <input type="radio" class="form-check-input" checked="checked" id="standard" value="standard" name="video_types">
          <label class="form-check-label" for="standard">
            <i class="fal fa-video"></i> Standard video
            <small class="form-text text-muted">Most videos are this type!</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="resources" id="resources" name="video_types">
          <label class="form-check-label" for="resources">
            <i class="fal fa-books"></i> Resources explainer
            <small class="form-text text-muted">Usually the second video, explaining how to use resources and templates.</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="practical" id="practical" name="video_types">
          <label class="form-check-label" for="practical">
            <i class="fal fa-walking"></i> Practical example
            <small class="form-text text-muted">Usually a screen recording, or explainer of a real life example.</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="interview" id="interview" name="video_types">
          <label class="form-check-label" for="interview">
            <i class="fal fa-comments"></i> Interview
            <small class="form-text text-muted">Two or more people talking about a topic together.</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="case" id="case" name="video_types">
          <label class="form-check-label" for="case">
            <i class="fal fa-folder-open"></i> Case study
            <small class="form-text text-muted">Overview or deep dive on a specific case.</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="story" id="stroy" name="video_types">
          <label class="form-check-label" for="story">
            <i class="fal fa-book-spells"></i> Story
            <small class="form-text text-muted">Personal anecdote, or example in story form.</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" value="bonus" id="bonus" name="video_types">
          <label class="form-check-label" for="bonus">
            <i class="fal fa-star"></i> Bonus!
            <small class="form-text text-muted">An extra, optional segment. </small>
          </label>
        </div>
      </div>

      <h3>Permission:</h3>
      <div class="form-group fit_radio_icons" data-fit-radio-icons>

        <div class="form-check">
          <input type="radio" class="form-check-input" checked="checked" value="normal" id="normal" name="permissions">
          <label class="form-check-label" for="normal">
            <i class="fal fa-video"></i> Normal
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="barrier" value="barrier" name="permissions">
          <label class="form-check-label" for="barrier">
            <i class="fal fa-lock"></i> Barrier
            <small class="form-text text-muted">Students must 100% complete all segments prior to this one to progress any farther</small>
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="hidden" value="hidden" name="permissions">
          <label class="form-check-label" for="hidden">
            <i class="fal fa-eye"></i> Hidden
            <small class="form-text text-muted">Hidden from students. Use this to temporarily disable segments.</small>
          </label>
        </div>
      </div>

      
      <div class="fit_pane d-flex justify-content-between">
        <button class="btn btn-lg btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
        <button class="btn btn-lg btn-primary"><i class="fal fa-check"></i>  Save</button>
      </div>

    </form>
    </div>

  </article>

</main>

<!--
              <dd>
                <div class="form-group">
                  <input type="checkbox" data-toggle="toggle" data-size="sm" data-style="simple" id="12341234" name="paid">
                  <label for="permissions_1">Paid lesson.</label>
                </div>
              </dd>
-->


{% endblock %}