
<script src="https://fast.wistia.com/embed/medias/{{ active_segment.external_id }}.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="wistia_embed wistia_async_{{ active_segment.external_id }} videoFoam=true">
  <div class="wistia_swatch">
    <img src="https://fast.wistia.com/embed/medias/{{ active_segment.external_id }}/swatch" alt="vid" onload="this.parentNode.style.opacity=1;" />
  </div>
</div>

<script>
window._wq = window._wq || [];
_wq.push({id: "_all", onReady: (v) => fitzVideoReady(v) });
_wq.push({id: "{{ active_segment.external_id }}"});
</script>
