{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero watermelon">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-desktop-alt"></i>
      </a>
      <h1>Learn online.
        <small>The best teachers on the simplest platform. 🥰</small>
      </h1>
      
    </div>

    <div class="fit_medium">
      <div class="fit_picture breakbigger">
        <img src="/assets/images/static/about/leang_teaches.jpg" alt="image">
        <small class="caption">Leang from <a href="https://www.sheinvestments.com/" target="_blank">SHE Investments</a> teaches a friend at work.</small>
      </div>
    </div><!-- medium -->

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <div class="nav nav-pills flex-column">
          <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
            <i class="fal fa-chevron-down"></i> Articles in this section:
          </a>
          <div class="fit_rare_dropdown">
            <div class="fit_rare_dropdown">
              {% include 'partials/static_menus/_product.html' %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="fit_medium">

        <h2><i class="fal fa-phone-laptop"></i> Keeping it simple.</h2>

        <p><strong>We make things that are easy to use.</strong> As a team full of teachers and students, we know how annoying it can be when tech stuff gets in the way.</p>
        <p>We don't do much, but we do it well. 🥰</p>

        <hr class="blunt">


        <div class="fit_window">
          <img src="/assets/images/static/about/kevin_lit.jpg" alt="image">
          <small class="caption">Dr. Kevin Starr, Mulago Foundation: 25 years experience in high impact philanthropy.</small>
        </div>

        <h2><i class="fal fa-user-astronaut"></i> By (and for) practitioners.</h2>

        <p><strong>Our online faculty are leaders in their fields.</strong> Most have decades of experience and practice what they preach at their day jobs. We get the best practitioners we can and help them become great teachers.</p>
        <p>We spend anywhere from 100-200 hours working building each lesson.</p>

        <hr class="blunt">

        <h2><i class="fal fa-file-alt"></i> Useful templates!</h2>

        <p>All our lessons come with worksheets, and real world examples.</p>
        <p>Templates, canvases, case studies and all the stuff you need to actually complete the important details. We keep them up to date, as well!</p>


        <div class="row fit_iconrow">
          <div class="col">
            <a>
              <i class="fal fa-table"></i>
              Canvases
              <small>Lean, BMC, and more.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-spreadsheet"></i>
              Spreadsheets
              <small>Finance, hiring, etc.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-image"></i>
              Pitch decks
              <small>Early investment.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-chart-pie"></i>
              Much more!
              <small>Every lesson. 🎉</small>
            </a>
          </div>
        </div>

        <p>We like <a href="https://www.google.com/docs/about/" target="_blank">Google Docs<!--  <i class="far fa-external-link"></i> --></a>. They're simple, collaborative and free!</p>

        <hr class="blunt">

        <h2><i class="fal fa-heart-circle"></i> Track your progress.</h2>

        <p><strong>Know how you're going</strong> with real-time feedback!</p>
        
        <div class="fit_window">
          <img src="/assets/images/static/about/product/chart.jpg" alt="feels">
          <small class="caption">Track how you're progressing as you learn.</small>
        </div>
        

        <div class="fit_medium_nav">
          <a href="/about/" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> About us</a>
          <a href="/product/pricing" class="btn btn-outline-primary">Pricing <i class="fal fa-arrow-right"></i></a>
        </div>
        
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

      </div>


    </div>

  </article>

</main>

{% endblock %}