{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-desktop-alt"></i>
      </a>
      <h1>Simple online learning.</h1>
      
    </div>

    <div class="fit_medium">
      
      <div class="fit_picture breakbig">
        <img src="/assets/images/static/about/leang_teaches.jpg" alt="image">
        <small class="caption">Leang from <a href="https://www.sheinvestments.com/" target="_blank">SHE Investments</a> teaches a colleague in the office about online learning.</small>
      </div>

    </div><!-- medium -->

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <div class="nav nav-pills flex-column">
          <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
            <i class="fal fa-chevron-down"></i> Articles in this section:
          </a>
          <div class="fit_rare_dropdown">
            <div class="fit_rare_dropdown">
              {% include 'partials/static_menus/_product.html' %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="fit_medium">

      <h2>Film-makers, geeks &amp; teachers.</h2>
      <p><strong>Education Everywhere Pty Ltd</strong> is a social enterprise that teaches the world to create social impact through enterprise education.</p>
      <p>Since 2014 we have been doing teaching, tech and social change.</p>
      <p>We&rsquo;ve learnt that we have much more to learn.</p>

      <!-- <p><a href="/about/mission" class="btn btn-outline-primary">Learn more about Welcome to Country at Wikipedia <i class="fal fa-external-link"></i></a></p> -->

      <hr class="blunt">

      <h2>We pay our respects to elders, past, present and emerging.</h2>

      <p><strong>First things first:</strong> We live and work on the traditional lands of the <a href="https://www.wurundjeri.com.au/" target="_blank">Wurundjeri people</a> of the Kulin nation (also know as Fitzroy, Melbourne, Australia).</p>
      
      <div class="fit_picture">
        <img src="/assets/images/static/about/flag.svg" alt="image">
        <small class="caption">This flag was made by <a href="https://en.wikipedia.org/wiki/Harold_Thomas_(activist)" target="_blank">Harold Thomas</a>, an activist and artist.</small>
      </div>      
      
      <p>That sovereignty was never ceded.</p> 
      <p>We acknowledge the Traditional Owners of country throughout Australia and recognise their continuing connection to land, waters and culture.</p>

      <p><a href="https://australianstogether.org.au/discover/indigenous-culture/understanding-welcome-to-country/" class="btn btn-outline-primary">More info at australianstogether.org.au <i class="fal fa-external-link"></i></a></p>

      <div class="fit_medium_nav">
        <a href="#" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> Previous: Home</a>
        <a href="#" class="btn btn-outline-primary">Next: The mission <i class="fal fa-arrow-right"></i></a>
      </div>
      
      <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

      </div>


    </div>

  </article>

</main>

{% endblock %}