{% extends "/layout.html" %}
{% block body %}
<!-- 
<main>

  <article>

    <div class="fit_hero">
      <h1>Pricing.</h1>
      
    </div>

    <div class="fit_medium large">
      
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
          <h4><i class="fal fa-user-graduate"></i> Student.</h4>
        </div>
        <div class="col-sm-3">
          <h4><i class="fal fa-chalkboard-teacher"></i> Teacher.</h4>
        </div>
        <div class="col-sm-3">
          <h4><i class="fal fa-university"></i> Institute.</h4>
        </div>          
      </div>


      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
          <i class="fas fa-check"></i>
        </div>
        <div class="col-sm-3">
          <i class="fas fa-check"></i>
        </div>
        <div class="col-sm-3">
          <i class="fas fa-check"></i>
        </div>          
      </div>

    </div>
  </article>

</main>
 -->

<main>

  <article>

    <div class="fit_hero">
      <h1>Pricing.</h1>
    </div>


    <div class="fit_medium large">
      
      <table class="table fit_table_price">
        <thead>
          <tr>
            <td></td>
            <th class="free">
              <h4><i class="fal fa-grin-hearts"></i> Free!</h4>
              <small>&nbsp;</small>
            </th>
            <th class="student">
              <h4><i class="fal fa-user-graduate"></i> Student.</h4>
              <small>Pay per course</small>
            </th>
            <th class="teacher">
              <h4><i class="fal fa-chalkboard-teacher"></i> Teacher.</h4>
              <small><a href="#">$99 / month</a></small>
            </th>
            <th class="institute">
              <h4><i class="fal fa-university"></i> Institute.</h4>
              <small><a href="#">Talk to us.</a></small>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr class="title">
            <th><h4>The basics.</h4></th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"></td>
          </tr>

          <tr>
            <th>Access our free public lessons and templates.</th>
            <td class="free"><i class="fas fa-check"></i></td>
            <td class="student"><i class="fas fa-check"></i></td>
            <td class="teacher"><i class="fas fa-check"></i></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
            <th>Access paid courses.</th>
            <td class="free"></td>
            <td class="student"><i class="fas fa-check"></i></td>
            <td class="teacher"></td>
            <td class="institute"></td>
          </tr>

          <tr>
            <th>Track your progress.</th>
            <td class="free"></td>
            <td class="student"><i class="fas fa-check"></i></td>
            <td class="teacher"><i class="fas fa-check"></i></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr class="title">
            <th><h4>Creating courses.</h4></th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"></td>
          </tr>

          <tr>
            <th>Create your own courses.</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"><i class="fas fa-check"></i></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
            <th>Use our entire lesson database.</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"><i class="fas fa-check"></i></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
            <th>Student progress and analytics.</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"><i class="fas fa-check"></i></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr class="title">
            <th><h4>Program management.</h4></th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"></td>
          </tr>

          <tr>
            <th>Custom subdomain. <small>E.g. <strong>teamawesome</strong>.fitzroy.app</small></th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
            <th>Institute-only programs and access.</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr>
            <th>Premium phone support.</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"><i class="fas fa-check"></i></td>
          </tr>

          <tr class="title">
            <th>&nbsp;</th>
            <td class="free"></td>
            <td class="student"></td>
            <td class="teacher"></td>
            <td class="institute"></td>
          </tr>

        </tbody>

      </table>

    </div>



    <div class="fit_medium large d-none">
      
      <div class="row">
        <div class="col-sm-6">
          <div class="fit_pricecol fit_pricecol_label">
            &nbsp;
          </div>
        </div>
        <div class="col-sm-2">
          <div class="fit_pricecol fit_pricecol_header fit_pricecol_student">
            <h4><i class="fal fa-user-graduate"></i> Student.</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="fit_pricecol fit_pricecol_header fit_pricecol_teacher">
            <h4><i class="fal fa-chalkboard-teacher"></i> Teacher.</h4>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="fit_pricecol fit_pricecol_header fit_pricecol_institute">
            <h4><i class="fal fa-university"></i> Institute.</h4>
          </div>
        </div>          
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="fit_pricecol fit_pricecol_label">
            <h4>Free stuff!</h4>
          </div>
        </div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_student">&nbsp;</div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_teacher">&nbsp;</div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_institute">&nbsp;</div></div>          
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="fit_pricecol fit_pricecol_label">
            Access free online courses.
          </div>
        </div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_student"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_teacher"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_institute"><i class="fas fa-check"></i></div></div>          
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="fit_pricecol fit_pricecol_label">
            Resources and templates for free courses.
          </div>
        </div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_student"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_teacher"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_institute"><i class="fas fa-check"></i></div></div>          
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="fit_pricecol fit_pricecol_label">
            Track your progress.
          </div>
        </div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_student"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_teacher"><i class="fas fa-check"></i></div></div>
        <div class="col-sm-2"><div class="fit_pricecol fit_pricecol_institute"><i class="fas fa-check"></i></div></div>          
      </div>

    </div><!-- fit_medium -->

  </article>
</main>

<hr>

<main class="">

  <article>

    <div class="fit_medium_rare">
      
      <div class="fit_medium large">

        <h1 class="roomy">Pricing FAQs.</h1>

        <h2><i class="fal fa-photo-video"></i> Public courses.</h2>

        <p><strong>Students pay once,</strong> and get lifetime access to that course. Easy! 🥰</p>
        <p>Public courses are available on <a href="/">the home page.</a></p>

        <hr class="blunt">


        <h2><i class="fal fa-chalkboard-teacher"></i> Teacher pricing.</h2>

        <p>We are slowly rolling out teacher pricing,  <a href="/about/contact">get in touch</a> if you'd like to be a part of our closed beta testing, with a small community of teachers.</p>

        <div class="row fit_iconrow">
          <div class="col">
            <a>
              <i class="fal pink fa-photo-video"></i>
              Blend it!
              <small>Lessons built for flipped learning.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-users-class"></i>
              In and extra-curricular
              <small>We help teachers build courses.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal apricot fa-tachometer-fast"></i>
              Dashboards
              <small>Watch student progress in real time.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal teal fa-lock"></i>
              Completely secure
              <small>Built for universities.</small>
            </a>
          </div>
        </div>


        <hr class="blunt">

        <h2><i class="fal fa-university"></i> Institutes.</h2>

        <p>We build wonderful <a href="/about/partners">partnerships</a> with accelerators, schools and universities. We even work with impact funds, government bodies and other educators to build great online/offline learning together.</p>

        <p>If you think we could be a part of what you're building, <a href="/about/contact">get in touch!</a></p>

        

        <div class="row fit_iconrow">
          <div class="col">
            <a>
              <i class="fal pink fa-photo-video"></i>
              Full lesson library
              <small>30+ full length lessons.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-tag"></i>
              White-labelled
              <small>Bring your own branding.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal teal fa-users-crown"></i>
              Admin controls
              <small>Admins, teachers and students.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal apricot fa-lock"></i>
              Completely secure
              <small>Built for universities.</small>
            </a>
          </div>
        </div>
        

        <!-- <div class="fit_medium_nav">
          <a href="/about/" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> About us</a>
          <a href="/product/pricing" class="btn btn-outline-primary">Pricing <i class="fal fa-arrow-right"></i></a>
        </div> -->

      </div>


    </div>

  </article>

</main>

{% endblock %}