{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero">
      <a class="fit_heartplay">
        <i class="bigboy far fa-heart"></i>
      </a>
      <h1>She was in love.</h1>
      
    </div>

    <div class="fit_medium">
      
      <div class="fit_window">
        <img src="/static/assets/images/static/mistakes/facepalm_pink.jpg" alt="image">
      </div>

      <h1>Title.</h1>
      <p>Paragraph.</p>
      

    </div><!-- medium -->
  </article>

</main>

{% endblock %}