{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero pink">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-chalkboard-teacher"></i>
      </a>
      <h1>
        We 💖 teachers!
        <small>Our work is by and for serious educators.</small>
      </h1>
      
    </div>

    <div class="fit_medium d-none">
      
      <div class="fit_picture breakbigger">
        <img src="/static/assets/images/static/irl/desk.jpg" alt="image">
        <small class="caption">One of our students getting work done in an accelerator.</small>
      </div>

    </div><!-- medium -->

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <div class="nav nav-pills flex-column">
          <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
            <i class="fal fa-chevron-right"></i> Articles in this section:
          </a>
          <div class="fit_rare_dropdown">
            <div class="fit_rare_dropdown">
              {% include 'partials/static_menus/_product.html' %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="fit_medium">

        <div class="fit_window">
          <img src="/static/assets/images/static/about/will_teaches.jpg" alt="image">
          <small class="caption">Our founder Will teaches social enterprise and systems change at Monash Uni.</small>
        </div>

        <h2><i class="fal fa-repeat-alt"></i> Flip your classroom.</h2>

        <p><strong>Our lessons are built for flipped learning,</strong> with work sheets, templates and clear instructional design that makes your classroom a joy to run.</p>

        <div class="fit_picture">
          <img src="/static/assets/images/static/irl/desk.jpg" alt="image">
          <small class="caption">One of our students getting work done in an accelerator.</small>
        </div>

        <hr class="blunt">

        <h2><i class="fal fa-file-alt"></i> Truly useful templates!</h2>

        <p>All our lessons come with worksheets, and real world examples.</p>
        <!-- <p>Templates, canvases, case studies and all the stuff you need to actually complete the important details. We keep them up to date, too.</p> -->


        <div class="row fit_iconrow">
          <div class="col">
            <a>
              <i class="fal fa-table"></i>
              Canvases
              <small>Lean, BMC, and more.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-spreadsheet"></i>
              Spreadsheets
              <small>Finance, hiring, etc.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-image"></i>
              Pitch decks
              <small>Early investment.</small>
            </a>
          </div>
          <div class="col">
            <a>
              <i class="fal fa-file-chart-pie"></i>
              Much more!
              <small>Every lesson. 🎉</small>
            </a>
          </div>
        </div>

        <p>We usually use <a href="https://www.google.com/docs/about/" target="_blank">Google Docs<!--  <i class="far fa-external-link"></i> --></a>. They're simple, collaborative and free!</p>

        <!-- <hr class="blunt">

        <div class="fit_window">
          <img src="/static/assets/images/static/about/gautam_gun.jpg" alt="image">
          <small class="caption">Gautam Raju, digital activist, teaches public campaigning.</small>
        </div>

        <h2><i class="fal fa-heart-circle"></i> Built with heart.</h2>

        <p><strong>Real-time feedback and feels.</strong></p>

        <p>Our team runs accelerators, teaches at university.</p> -->

        <hr class="blunt">

        <div class="fit_window">
          <div class="butts"><a></a><a></a><a></a></div>
          <img src="/static/assets/images/static/about/product/feels_popup.jpg" alt="feels">
          <small class="caption">Track how students are progressing as they learn.</small>
        </div>

        <h2><i class="fal fa-heart-circle"></i> Built with heart.</h2>

        <p><strong>Collective real-time feedback and feelings</strong> from students as they learn.</p>

        <ul>
          <li>6-point happiness scale.</li>
          <li>10-point net promoter score.</li>
          <li>Yes or no 'stuck' support</li>
          <li>Simple plain text questions.</li>
          <li>Optional clarification for all surveys.</li>
          <li>Customise questions, track answers.</li>
        </ul>

        

        <div class="fit_medium_nav">
          <a href="#" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> Previous: Home</a>
          <a href="#" class="btn btn-outline-primary">Next: The mission <i class="fal fa-arrow-right"></i></a>
        </div>
        
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

      </div>


    </div>

  </article>

</main>

{% endblock %}