[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
libsass = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7.3"

[dev-packages]
livereload = "==2.5.1"
