<div class="fit fit_overflow">
<a class="fit_btn " data-toggle="collapse" href="#fit_lesson_stats" role="button" aria-expanded="fitse" aria-controls="fit_lesson_stats">
  <i class="fal fa-chart-bar"></i>
  <span class="fit_txt">Analytics <span href="#" class="badge badge-light">admins only</span></span>
  <span class="fas fa-chevron-down"></span>
</a>

<div class="fit_body collapse show person_active" id="fit_lesson_stats">
  <div class="fit_body_content">
    <form class="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" name="search" value="" id="search" placeholder="Filter" aria-label="search" aria-describedby="search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-sort"></i> <span class="d-none d-sm-inline-block"></button>
          </div>
        </div>  
      </div>
    </form>

    {% include 'partials/_student_list.html' %}
  </div>
</div>