<form class="fit_form_code fit_fancyplace fit_wiggle_daddy" method="post" action="/code">
	<div class="form-group">
	  <input type="text" class="form-control" name="course_code" id="exampleFormControlInput1" placeholder="Course code" required data-fit-fancyplace>
	  <label for="exampleFormControlInput1">Course code</label>
	  <button type="submit" class="btn btn-text fit_wiggle"><i class="fas fa-rocket"></i></button>
	</div>
	<div class="fit_cta_tnc">No code? Check out our <a href="/#public">public courses!</a></div>
</form>