<form class="fit_form_code fit_fancyplace fit_wiggle_daddy" method="post" action="{{ url_for('course.code', institute='') }}">
	<div class="form-group">
	  <input type="text" class="form-control" name="course_code" id="course_code" placeholder="E.g. ABC123" required data-fit-fancyplace>
	  <label for="course_code">Course code</label>
	  <button type="submit" class="btn btn-text fit_wiggle"><i class="fas fa-rocket"></i></button>
	</div>
	<div class="fit_cta_tnc">No code? Check out our <a href="/#public">public courses!</a></div>
</form>