<div class="fit_auth">

  <ul class="nav nav-tabs nav-justified mb-3" id="tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="register-tab" data-toggle="pill" href="#register" role="tab" aria-controls="profile" aria-selected="false">New <span class="d-none d-sm-inline">account</span></a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" id="login-tab" data-toggle="pill" href="#login" role="tab" aria-controls="home" aria-selected="true">Log in</a>
    </li>
  </ul>

  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
      {% include 'partials/_form_errors.html' %}
      <form class="form" action="{{ url_for('user.login') }}" method="post">
        <div class="fit_fancyplace">
          <label for="inputEmail">Email address</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required data-fit-fancyplace>
        </div>

        <div class="fit_fancyplace">
          <label for="inputPassword">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required data-fit-fancyplace>
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" name="remember" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Remember password</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div><!-- login -->

    <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
      <form class="form" action="{{ url_for('user.create') }}" method="post">
        <div class="row">
          <div class="col-sm-6">
            <div class="fit_fancyplace">
              <label for="first_name">Given name</label>
              <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Given name" required  data-fit-fancyplace data-fit-userslug_name data-fit-userslug_firstname>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="fit_fancyplace">
              <label for="last_name">Last name</label>
              <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name" required  data-fit-fancyplace data-fit-userslug_name data-fit-userslug_lastname>
            </div>
          </div>
        </div>

        <div class="fit_fancyplace">
          <label for="register_email">Email address</label>
          <input type="email" id="register_email" class="form-control" name="email" placeholder="Email address" required  data-fit-fancyplace>
        </div>

        <div class="fit_fancyplace">
          <label for="register_password">Password</label>
          <input type="password" name="password" id="register_password" class="form-control" placeholder="Password" required data-fit-fancyplace>
        </div>

        <div class="form-group d-none">
          <div class="input-group fit_fancyplace">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" id="username" class="form-control" maxlength="20" name="username" value="" placeholder="username" aria-label="username" aria-describedby="basic-addon1" required data-fit-userslug_set>
          </div>
          <small class="form-text text-muted">Your link will be: <br><a href="{{ url_for('user.view', slug='clarecarmody') }}">fitzroyacademy.com/user/<strong data-fit-userslug></strong></a></small>
          <input type="hidden" value="clarecarmody" id="secretslug" name="secretslug" data-fit-userslug_secret>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
      </form>      
    </div><!-- register -->

<!-- 
    <hr class="my-4">
    <button class="btn btn-lg btn-google btn-block" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
    <button class="btn btn-lg btn-facebook btn-block" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
 -->

  </div>
</div>