<div class="fit_sidepanel userpanel">
  <div class="whiteout" data-fit-userpanel></div>
  <div class="panel">
  
    <div class="head">
      <a href="user.html" class="fit_btn right" data-fit-userpanel>
        <span class="fit_txt">
          Log in
        </span>
        <span class="fit_pic circle">
          <img src="./assets/images/defaults/face.jpg" alt="user">
          <i class="far fa-times"></i>
        </span>
      </a>
    </div>
    
    <div class="content">
      
      <!-- DEV: Login form goes here -->

    </div>

  </div>
</div>