<header>
  
  <a href="/" class="fit_btn left"> <!-- DEV: this will link to the previous 'bit' of the app, i.e. from a lesson back to a course, course back to course intro, course intro back to home.... When in doubt ask Will! -->
    <i class="fas fa-arrow-left"></i>
    <span class="fit_txt">Back</span>
  </a>

  <a href="user.html" class="fit_btn right" data-fit-userpanel>
    <span class="fit_txt">
      <span class="d-none d-sm-inline-block">Clare</span>
      <span class="d-none d-md-inline-block">Carmody</span>
    </span>
    <span class="fit_pic circle"><img src="./assets/images/defaults/face.jpg" alt="user"></span>
  </a>

</header>