<header>
  
  <form class="fit_head_code">
	  <div class="input-group input-group-sm">
		  <input data-fit-head-code type="text" class="form-control" placeholder="Course code" aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" disabled type="button"><i class="fas fa-rocket"></i> </button>
		  </div>
		</div>	
  </form>

  <a href="user.html" class="fit_btn right" data-fit-userpanel>
    <span class="fit_txt">
      <span class="d-none d-sm-inline-block">Sign up or</span>
      <span class="d-none d-md-inline-block">Log in</span>
    </span>
    <i class="fas fa-lock"></i>
  </a>

</header>