<footer>
  <div class="fit_course">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <a href="{{ url_for('index') }}" class="fit_device">
            {% include 'partials/_chrome_fa_svg.html' %}
          </a>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_about.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_product.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            {% include 'partials/static_menus/_support.html' %}
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="{{ url_for('support.index') }}" class="note {{ active_link('support.index') }}"><small>Need help?</small>Get support</a>
            {{ link_to('about.michael', 'In loving memory') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>