<header>

  <a href="/" class="fit_device">
    {% include 'partials/_chrome_fa_svg.html' %}
  </a>

  <form class="fit_form_code_head fit_fancyplace" method="post" action="/code" data-fit_head_code_daddy>
	  <div class="input-group input-group-sm">
		  <input type="text" name="course_code" id="course_code_header" class="form-control" placeholder="Course code" aria-label="Coure code" data-fit_head_code data-fit-fancyplace>
		  <div class="input-group-append">
		    <button class="btn" disabled type="button"><i class="fal fa-rocket"></i> </button>
		  </div>
      <label for="course_code_header"><span class="course">Course</span> <span class="code">Code</span> </label>
		</div>	
  </form>

  {% if current_section != 'login' %}

    <div class="right fit_mobile_menu">

      <a href="/" class="fit_btn fit_mobile_menu_trigger" data-fit_mobile_menu_trigger>
        <span class="fit_txt">Menu</span>
        <i class="fal fa-chevron-down"></i>
        <i class="fal fa-times"></i>
      </a>

      <div class="right">
        <a href="/about" class="fit_btn">
          <!-- <i class="fal fa-heart"></i> -->
          <span class="fit_txt">About</span>
        </a>

        <a href="/product" class="fit_btn">
          <!-- <i class="fal fa-question-circle"></i> -->
          <span class="fit_txt">Product</span>
        </a>

        <a href="/support" class="fit_btn">
          <!-- <i class="fal fa-question-circle"></i> -->
          <span class="fit_txt">Support</span>
        </a>

        
          <a href="/login" class="fit_btn" data-fit-userpanel>
            <span class="fit_txt">Sign up</span>
            <i class="fal fa-user"></i>
          </a>
        
      </div>
    </div><!-- right -->
  {% endif %}
</header>

<div class="fit_sidepanel userpanel">
  <div class="whiteout" data-fit-userpanel></div>
  <div class="panel">
  
    <div class="head">
      <a href="/login" class="fit_btn right" data-fit-userpanel>
        <span class="fit_txt">Close</span>
        <i class="far fa-times"></i>
      </a>
    </div>
    
    <div class="content">
      
      {% if current_section != 'login' %}
        {% include 'partials/_login_form.html' %}
      {% endif %}

    </div>

  </div>
</div>