<footer>
  <div class="fit_course">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <a href="/" class="fit_device">
            {% include 'partials/_chrome_fa_svg.html' %}
          </a>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="#">About</a>
            <a href="#">Impact</a>
            <a href="#">Partners</a>
            <a href="#">Mistakes</a>
            <a href="#">Jobs</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="#">Product</a>
            <a href="#">Pricing</a>
            <a href="#">Resources</a>
            <a href="#">Case studies</a>
            <a href="#">Security</a>
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Conduct</a>
            <a href="#">GDPR</a>
          </div>
        </div>
        <div class="col-sm">
          <div class="fit_footer_nav">
            <a href="#" class="note"><small>Need help?</small>Get support</a>
            <a href="#">In loving memory</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>