<header>
  
  <a href="index.html" class="fit_link i-l fit_left"><span class="fas fa-arrow-left"></span> Home</a>

  <a href="user.html" class="fit_link i-r fit_right fit_user_avatar">
    Log in
    <i class="fas fa-user"></i>
  </a>
</header>