<div class="fit_body collapse show" id="fit_lesson_resources">
  <div class="fit_body_content">

    <a class="fit_btn resource" href="#">
      <span class="fas fa-file-alt lg"></span>
      <span class="fit_txt">
        Awesome template example
        <small>Google document</small>
      </span>
      
    </a>

    <a class="fit_btn resource" href="#">
      <span class="fas fa-file-spreadsheet lg"></span>
      <span class="fit_txt">
        My spreadsheet thing
        <small>Google spreadsheet</small>
      </span>
      
    </a>

    <a class="fit_btn resource" href="#">
      <span class="fas fa-file-image lg"></span>
      <span class="fit_txt">
        Slide deck example
        <small>Google slides</small>
      </span>
      
    </a>

    <a class="fit_btn subtle" href="#">
      <span class="fas fa-arrow-left"></span>
      <span class="fit_txt">Load full lesson resources</span>
    </a>

  </div>
</div>
</div>


<div class="fit">
<a class="fit_btn  collapsed" data-toggle="collapse" href="#fit_lesson_faqs" role="button" aria-expanded="fitse" aria-controls="fit_lesson_faqs">
  <i class="fal fa-question"></i>
  <span class="fit_txt">Frequently asked questions</span>
  <span class="fas fa-chevron-down"></span>
</a>
<div class="fit_body collapse" id="fit_lesson_faqs">
  <div class="fit_body_content">

    <h5>What's with Vermeulen and van den Akker?</h5>
    <p>He is some big ol kinda jerk and you probably wouldn't like him hey.</p>
    
    <h5>Also my butt?</h5>
    <p>The prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.</p>

    <h5>And what about your butt?</h5>
    <p>Vermeulen asserts that "metamodernism is not so much a philosophy—which implies a closed ontology—as it is an attempt at a vernacular, or a sort of open source document.</p>

    <a class="fit_btn subtle " href="#">
      <span class="fas fa-arrow-left"></span>
      <span class="fit_txt">Load 8 more FAQs</span>
    </a>

  </div>
</div>
</div>

<div class="fit">
<a class="fit_btn  collapsed" data-toggle="collapse" href="#fit_lesson_transcript" role="button" aria-expanded="fitse" aria-controls="fit_lesson_transcript">
  <i class="fal fa-scroll"></i>
  <span class="fit_txt">Transcript</span>
  <span class="fas fa-chevron-down"></span>
</a>
<div class="fit_body collapse" id="fit_lesson_transcript">
  <div class="fit_body_content">
    <p>The term metamodernist appeared as early as 1975, when Mas'ud Zavarzadeh isolatedly used it to describe a cluster of aesthetics or attitudes which had been emerging in American literary narratives since the mid-1950s.</p>
    <a class="fit_btn subtle " href="#">
      <span class="fas fa-arrow-left"></span>
      <span class="fit_txt">Full transcript</span>
    </a>            
  </div>
</div>
</div>      

<div class="fit">
<a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_teacher" role="button" aria-expanded="fitse" aria-controls="fit_lesson_teacher">
  <i class="fal fa-chalkboard-teacher"></i>
  <span class="fit_txt">Teacher</span>
  <span class="fas fa-chevron-down"></span>
</a>
<div class="fit_body collapse" id="fit_lesson_teacher">
  <div class="fit_body_content">
    <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_resources" role="button" aria-expanded="fitse" aria-controls="fit_lesson_resources">
      <span class="fit_pic circle"><img src="./assets/images/defaults/face.jpg" alt="user"></span>
      <span class="fit_txt">Victoria Cullen</span> 
    </a>
    <p>&ldquo;I'm a prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.&rdquo;</p>
  </div>
</div>
</div>

{% include 'partials/_analytics.html' %}