{% for student in students %}
  <a class="fit_btn active js_student fit_student_completion" style="color:{{student.color}};" data-fit-chart-color="{{student.color}}" data-fit-student-name="{{ student.name }}" data-fit-student-completion="{{ student.completion }}">
    <div class="fit_pic">
      <img src="{{ student.picture }}" alt="image">
    </div>
    <span class="fit_txt">{{ student.name }}
    {% if student.admin %}
      <span class="badge badge-pill badge-primary">admin</span>
    {% endif %}
    </span>
    <span class="fit_time">
      <span class="progress"><div class="progress-bar" role="progressbar" style="width: {{ student.progress }}%" aria-valuemin="0" aria-valuemax="100"></div></span>
    </span>                
  </a>
{% endfor %}