{% for student in students %}
  <a class="fit_btn active js_student fit_student_completion" style="color:{{student.color}};" data-chart-color="{{student.color}}" data-student-name="{{ student.name }}" data-student-completion="{{ student.completion }}">
    <div class="fit_pic">
      <img src="https://randomuser.me/api/portraits/lego/{{ student.id }}.jpg" alt="image">
    </div>
    <span class="fit_txt">{{ student.name }}</span>
    <span class="fit_time">
      <span class="progress"><div class="progress-bar" role="progressbar" style="width: {{ student.progress }}%" aria-valuemin="0" aria-valuemax="100"></div></span>
    </span>                
  </a>
{% endfor %}