<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="./assets/images/defaults/face.jpg" alt="image">
  </div>
  <span class="fit_txt">Clare Carmody <span class="badge badge-pill badge-primary">admin</span></span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>
</a>        

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="image">
  </div>
  <span class="fit_txt">Jenny Huang</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/men/24.jpg" alt="image">
  </div>
  <span class="fit_txt">John Smith</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="image">
  </div>
  <span class="fit_txt">Rithy Thul</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/men/92.jpg" alt="image">
  </div>
  <span class="fit_txt">Muhammad Khalil</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>        

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="image">
  </div>
  <span class="fit_txt">Zhang Wei</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/women/16.jpg" alt="image">
  </div>
  <span class="fit_txt">Sally Simpson</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>

<a href="#" class="fit_link i-l i-t">
  <div class="fit_avatar">
    <img src="https://randomuser.me/api/portraits/men/65.jpg" alt="image">
  </div>
  <span class="fit_txt">Tim Timoythful</span>
  <span class="fit_time">
    <span class="progress"><div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div></span>
  </span>                
</a>
