{# <img class="placeholder" src="/assets/images/defaults/vid.jpg" alt="video"> #}

<script src="https://fast.wistia.com/embed/medias/{{ resource.external_id }}.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="wistia_embed wistia_async_4ub59urk8l videoFoam=true">
  <div class="wistia_swatch">
    <img src="https://fast.wistia.com/embed/medias/4ub59urk8l/swatch" alt="vid" onload="this.parentNode.style.opacity=1;" />
  </div>
</div> 
{# 
<div class="fit_vidya_controls">
  <button type="button" class="btn btn-light" data-fit-ctrl><i class="far fa-expand-wide"></i></button>
</div>
#}
</div>