{% extends "/layout_naked.html" %}
{% block body %}


<div class="fat_head watermelon">
	{% include 'static/play/_head.html' %}
</div>


<div class="fat_hero watermelon" id="top">
	
	
		<h1><a href="#trailer-socent">Learn online, <br>not alone.</a></h1>

</div>



<div class="fat_section fat_pic_grid coursetease left" id="trailer-socent">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/willvert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/will.jpg" alt="" class="hori">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Watch the trailer <span class="timing">1:56</span></small></a>
	</div>
	<div class="portrait text watermelon">
		<h2>
			<small><i class="fal fa-play-circle"></i> Online course</small>
			Social enterprise.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Basics to boardroom! Customer discovery, biz models, product, impact, through to pitching for investment. ❤️ 🚀</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 3 hours per week over 12 weeks.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Social enterprise team leads, small biz and startup founders.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> $1,200 <small>USD</small> per person.</p>
			</div>
		</div>
		<a href="/play/socent" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Enrol online</a>
	</div>
</div>


<div class="fat_section fat_pic_grid coursetease right" id="trailer-nfp">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/clarevert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/clare.jpg" alt="" class="hori">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Watch the trailer <span class="timing">1:36</span></small></a>
	</div>	
	<div class="portrait text teal">
		<h2>
			<small><i class="fal fa-play-circle"></i> Online course</small>
			Don't run a shit non-profit.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Set a clear vision, get your tech in order and run a snappy, agile team that gets things done.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Non-profit leaders chasing tight, focussed impact. The doers who are impatient about change.</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 3 hours per week over 12 weeks</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> $1,200 <small>USD</small> per person.</p>
			</div>
		</div>
		<a href="#" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Join the waiting list.</a>
	</div>
</div>
<!-- 

<div class="bg">
	<div class="fat_section nobot">
		<h2>
			<small><i class="fal fa-clock"></i> Coming soon...</small>
			Short courses.
		</h2>

	</div>
</h2> -->

<div class="fat_section fat_pic_grid coursetease bg">
	<div class="portrait text reverse blue" id="trailer-startup">
		<h2>
			<small><i class="fal fa-play-circle"></i> Coming soon...</small>
			Startup pre-accelerator.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Get down with the basics, build your MVP, get some traction and move towards acceleration.. ❤️ 🚀</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 3 hours per week over 12 weeks.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Startup founders who want to get into an accelerator, local or international.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> $190 <small>USD</small> per person, self-made cohorts.</p>
			</div>
		</div>
		<a href="#" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Join the waiting list</a>
	</div>
</div>

<!-- <div class="fat_section fat_pic_grid coursetease left">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/jennyvert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/jenny.jpg" alt="" class="hori">
	</div>
	<div class="portrait text reverse blue">
		<h2>
			<small><i class="fal fa-play-circle"></i> Online course</small>
			Startup pre-accelerator.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Get down with the basics, build your MVP, get some traction and move towards acceleration.. ❤️ 🚀</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 3 hours per week over 12 weeks.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Startup founders who want to get into an accelerator, local or international.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> $200 <small>USD</small> per person, self-made cohorts.</p>
			</div>
		</div>
		<a href="#" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Join the waiting list</a>
	</div>
</div> -->

<div class="fat_section purple" id="hello">
	<h2>
		<small><i class="fal fa-tools"></i> Custom courses</small>
		Do it yourself, with us.
	</h2>
	<div class="bigly">
		<a class="btn btn-absurd purple" href="/play/services"><i class="fal fa-chalkboard-teacher"></i> Our services <span class="party">🥳</span></a>
		<div class="nb">We help teams, schools and businesses build programs that work.</div>
	</div>
</div>










{% endblock %}