{% extends "/layout_naked.html" %}
{% block body %}

<div class="fat_head">
  {% include 'static/play/_head.html' %}
</div>

<div class="fat_course">

  <div class="now">
    <h2>
      <span class="txt">Five designers in a box</span>
    </h2>

    <div class="focus">

      <div class="video">

        <script src="https://fast.wistia.com/embed/medias/pduezntdkr.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_pduezntdkr videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/pduezntdkr/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>          

      </div><!-- video -->

      <div class="fat_course_sell">
        <h3>The introductory social enterprise course you do online, not alone. 🥰</h3>
        <a href="#" class="btn btn-hg btn-watermelon enrol">Enrol</a>

      </div>
      <!-- <div class="html">
        <h3>So about this and why it’s cool...</h3>

        <p>I'm baby vape dreamcatcher prism, beard master cleanse four loko plaid crucifix helvetica wayfarers gentrify DIY fixie knausgaard microdosing. Distillery sartorial austin selvage. Schlitz occupy next level man braid kinfolk PBR&B pinterest biodiesel art party skateboard. Selvage vinyl man bun, succulents single-origin coffee fingerstache mlkshk swag VHS affogato. Tumeric vinyl single-origin coffee cold-pressed hexagon. Leggings meggings normcore literally brooklyn shoreditch.</p>

        <p>Master cleanse hot chicken forage, tilde tbh portland iceland cray locavore trust fund YOLO messenger bag letterpress +1 banjo. Tumblr pug tbh, authentic truffaut yr pour-over vegan woke messenger bag knausgaard.</p>

        <p>Gochujang pork belly quinoa, activated charcoal chambray 3 wolf moon kickstarter jean shorts 8-bit bespoke vice single-origin coffee mlkshk tote bag hell of. Pok pok keytar vegan man bun YOLO fashion axe kombucha freegan austin affogato neutra.</p>

        <p>Dummy text? More like dummy thicc text, amirite?</p>

      </div> html -->


    </div>

    <div class="sidebar">
      <div class="chunk">
        <h4>Lesson steps <i class="fal fa-list"></i></h4>

        <div class="fit_segments">

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_a" data-fit-segment="2" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
            <span class="fit_txt">Introduction</span>
            <span class="fit_sub">1:12</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_b" data-fit-segment="3" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson Resources"></i><span class="sr-only">Lesson Resources</span>
            <span class="fit_txt">Lesson Resources</span>
            <span class="fit_sub">2:36</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_c" data-fit-segment="4" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Drawing without words"></i><span class="sr-only">Drawing without words</span>
            <span class="fit_txt">Drawing without words</span>
            <span class="fit_sub">8:12</span>
          </a>

          <a class="fit_btn video accessible active" href="/course/fitzroy-academy/how-to-have-good-ideas/seg_d" data-fit-segment="5" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Five designers in a box"></i><span class="sr-only">Five designers in a box</span>
            <span class="fit_txt">Five designers in a box</span>
            <span class="fit_sub">1:36</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_e" data-fit-segment="6" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Quiet loud brainstorming"></i><span class="sr-only">Quiet loud brainstorming</span>
            <span class="fit_txt">Quiet loud brainstorming</span>
            <span class="fit_sub">7:14</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_f" data-fit-segment="7" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Party in the woods"></i><span class="sr-only">Party in the woods</span>
            <span class="fit_txt">Party in the woods</span>
            <span class="fit_sub">2:47</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_g" data-fit-segment="8" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Find your Awe"></i><span class="sr-only">Find your Awe</span>
            <span class="fit_txt">Find your Awe</span>
            <span class="fit_sub">7:56</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_h" data-fit-segment="9" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Mulago Fellow"></i><span class="sr-only">Mulago Fellow</span>
            <span class="fit_txt">Mulago Fellow</span>
            <span class="fit_sub">3:33</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_i" data-fit-segment="10" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Literal change of perspective"></i><span class="sr-only">Literal change of perspective</span>
            <span class="fit_txt">Literal change of perspective</span>
            <span class="fit_sub">4:08</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_j" data-fit-segment="11" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Make your own movie soundtrack"></i><span class="sr-only">Make your own movie soundtrack</span>
            <span class="fit_txt">Make your own movie soundtrack</span>
            <span class="fit_sub">4:15</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_k" data-fit-segment="12" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Speedriding"></i><span class="sr-only">Speedriding</span>
            <span class="fit_txt">Speedriding</span>
            <span class="fit_sub">2:46</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_l" data-fit-segment="13" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Historical Mirrors"></i><span class="sr-only">Historical Mirrors</span>
            <span class="fit_txt">Historical Mirrors</span>
            <span class="fit_sub">5:44</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_m" data-fit-segment="14" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Sleep"></i><span class="sr-only">Sleep</span>
            <span class="fit_txt">Sleep</span>
            <span class="fit_sub">5:48</span>
          </a>

        </div>

      </div><!-- lesson steps chunk -->
      <div class="chunk">
        <h4>Resources <i class="fal fa-file-alt"></i></h4>

        <div class="fit_resource_link_wrapppppp">
          <a class="fit_btn resource_link  featured" href="#" target="_blank">
            <i class="fas fa-file lg" aria-hidden="true"></i>
            <span class="fit_txt">Sales template<small>Google doc</small></span>
          </a>
        </div>

        <div class="fit_resource_link_wrapppppp">
          <a class="fit_btn resource_link  featured" href="#" target="_blank">
            <i class="fas fa-file-spreadsheet lg" aria-hidden="true"></i>
            <span class="fit_txt">Some other thing template<small>Google spreadsheet</small></span>
          </a>
        </div>

        <div class="more">
          <p>So other than these templates, I'd totally recommend you geek out on <a href="#">this blog here</a> and also <a href="#">this other thing here.</a></p>
          <p>When I started I loved <a href="#">this piece by Kevin</a> and you should too mwah mwah 🥳</p>
        </div>

      </div>

      <div class="chunk">
        <h4>FAQs <i class="fal fa-question-circle"></i></h4>
        <div class="fat_faqs none">
          <p>This is awkwardly empty...</p>
          <p>Why not be the first to ask a question?</p>
          <p>
            <a class="btn btn-outline-secondary" href="mailto:clare@fitzroyacademy.com"><i class="fal fa-envelope"></i> clare@fitzroyacademy.com</a>
          </p>
        </div>
      </div>

      <!-- <div class="chunk">
        <h4>Admin <i class="fal fa-cog"></i></h4>
      </div> -->

    </div><!-- sidebar -->

  </div><!-- now -->

  <div class="lessons soon">
    <div class="lesson">
      <div class="image"></div>
      <h4></h4>
    </div>
    <div class="lesson">
      <div class="image"></div>
      <h4></h4>
    </div>
    <div class="lesson">
      <div class="image"></div>
      <h4></h4>
    </div>
    <div class="lesson">
      <div class="image"></div>
      <h4></h4>
    </div>
  </div><!-- soon -->

</div><!-- fat course -->

<div class="fat_coursebar">

  <div class="fat_coursebar_head">
    <h2>
      <a href="#">
        <i class="fal fa-chevron-left"></i>
        <span class="txt">Social Enterprise</span>
      </a>
    </h2>
    <a href="#" class="x" data-fit-toggle-coursebar><i class="fal fa-times"></i>
  </div>

  <div class="fat_lessons">

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/agile-project-management.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Introduction</h4>
        <p>Welcome to the course!</p>
      <div class="status">
        <i class="fas fa-check"></i>
      </div>
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/customer-interviews.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Customer Discovery</h4>
        <p>How to talk to customers and find if they'll like your product or not.</p>
      <div class="status">
        <i class="fas fa-check"></i>
      </div>
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/lean-canvas.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Lean Canvas</h4>
        <p> How to scope out a business on one A4 page.</p>
      <div class="status">
        <i class="fas fa-check"></i>
      </div>
    </div>

    <div class="fat_lesson" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/community-integration.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Community integration</h4>
        <p>Pull your head in and humble up before finding out what a community really needs.</p>
      <div class="status">
        <i class="fas fa-play"></i>
      </div>
      <div class="collapse show" id="collapseExample">
        <div class="fit_segments">

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_a" data-fit-segment="2" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
            <span class="fit_txt">Introduction</span>
            <span class="fit_sub">1:12</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_b" data-fit-segment="3" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson Resources"></i><span class="sr-only">Lesson Resources</span>
            <span class="fit_txt">Lesson Resources</span>
            <span class="fit_sub">2:36</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_c" data-fit-segment="4" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Drawing without words"></i><span class="sr-only">Drawing without words</span>
            <span class="fit_txt">Drawing without words</span>
            <span class="fit_sub">8:12</span>
          </a>

          <a class="fit_btn video accessible active" href="/course/fitzroy-academy/how-to-have-good-ideas/seg_d" data-fit-segment="5" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Five designers in a box"></i><span class="sr-only">Five designers in a box</span>
            <span class="fit_txt">Five designers in a box</span>
            <span class="fit_sub">1:36</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_e" data-fit-segment="6" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Quiet loud brainstorming"></i><span class="sr-only">Quiet loud brainstorming</span>
            <span class="fit_txt">Quiet loud brainstorming</span>
            <span class="fit_sub">7:14</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_f" data-fit-segment="7" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Party in the woods"></i><span class="sr-only">Party in the woods</span>
            <span class="fit_txt">Party in the woods</span>
            <span class="fit_sub">2:47</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_g" data-fit-segment="8" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Find your Awe"></i><span class="sr-only">Find your Awe</span>
            <span class="fit_txt">Find your Awe</span>
            <span class="fit_sub">7:56</span>
          </a>

          <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_h" data-fit-segment="9" data-fit-parent="2" data-fit-segment-link="">
            <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Mulago Fellow"></i><span class="sr-only">Mulago Fellow</span>
            <span class="fit_txt">Mulago Fellow</span>
            <span class="fit_sub">3:33</span>
          </a>

        </div>


      </div><!-- collapse -->
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/financial-models.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Financial models</h4>
        <p>Make a spreadsheet that covers 3 years of finance, from startup through to capital and tax.</p>
      <div class="status">
        24%
      </div>
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/good-ideas.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Good ideas</h4>
        <p>Chill out, take it easy and let the inspiration come to you, before you burn out.</p>
      <div class="status">
        80%
      </div>
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/sales.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Sales for people who hate selling</h4>
        <p>Don't be scared of your sales pipeline, it's just about making friends with people.</p>
      <div class="status">
        
      </div>
    </div>

    <div class="fat_lesson">
      <div class="fit_window">
        <img src="/static/assets/images/lessons/design-iteration-form.jpg" alt="image">
        <a href="#" data-toggle="modal" data-target="#fat_modal_video" class="play"><i class="fas fa-play-circle"></i></a>
      </div>
        <h4>Design for Impact at Scale</h4>
        <p>How to use Mulago's method for designing for lasting impact.</p>
      <div class="status">
        
      </div>
    </div>

  </div>

</div>

{% endblock %}