{% extends "/layout_naked.html" %}
{% block body %}


<div class="fat_head purple">
	{% include 'static/play/_head.html' %}
</div>


<div class="fat_hero left purple" id="top">

	<h1>We teach<br>learning, online.</h1>

<!-- 	<div class="fat_tease_btns">
	  <a class="btn btn-xl btn-text" href="/play/course"><i class="fal fa-laptop"></i> Go online</a>
	  <a class="btn btn-xl btn-text" href="/play/educators"><i class="fal fa-book"></i> Video library</a>
	</div> -->

</div>

<div class="fat_nav lefty list-group" id="scrollspy">
	<a href="#top" class="list-group-item top"><i class="fal fa-arrow-up"></i></a>
	<a href="#make" class="purple list-group-item"><i class="fal fa-laptop"></i> <span class="txt">Go online</span></a>
	<a href="#library" class="blue list-group-item"><i class="fal fa-video"></i> <span class="txt">Lesson library</span></a>
	<a href="#workshops" class="green list-group-item"><i class="fal fa-book"></i> <span class="txt">Online workshops</span></a>
	<a href="#gear" class="red list-group-item"><i class="fal fa-tools"></i> <span class="txt">Gear list</span></a>
	<a href="#blog" class="apricot list-group-item"><i class="fal fa-book"></i> <span class="txt">Blog</span></a>
</div>

<!-- <div class="fat_window">
	<img src="/static/assets/images/lessons/design-iteration-form.jpg" alt="image">
</div> -->


<div class="fat_leo_list" id="make">

	<img src="/static/assets/images/naked/leo_slingin.png" alt="leo" class="leo_slingin">
	<h2>Great video lessons<br><span class="purple">start something like this:</span></h2>

	<!-- <div class="fat_video_full">
		<script src="https://fast.wistia.com/embed/medias/qp2c1utajg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qp2c1utajg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qp2c1utajg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
	</div> -->

	<div class="fat_video_sidenav">
		<div class="viddy">
			<script src="https://fast.wistia.com/embed/medias/qp2c1utajg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qp2c1utajg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qp2c1utajg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
		</div>
		<div class="side">
			<div class="fit_segments">
		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_a" data-fit-segment="2" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
		      <span class="fit_txt">Introduction</span>
		      <span class="fit_sub">1:12</span>
		      <span class="fit_status"><i class="fas fa-check"></i></span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_b" data-fit-segment="3" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson Resources"></i><span class="sr-only">Lesson Resources</span>
		      <span class="fit_txt">Lesson Resources</span>
		      <span class="fit_sub">2:36</span>
		      <span class="fit_status"><i class="fas fa-check"></i></span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_c" data-fit-segment="4" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Drawing without words"></i><span class="sr-only">Drawing without words</span>
		      <span class="fit_txt">Drawing without words</span>
		      <span class="fit_sub">8:12</span>
		      <span class="fit_status"><i class="fas fa-check"></i></span>
		    </a>

		    <a class="fit_btn video accessible active" href="/course/fitzroy-academy/how-to-have-good-ideas/seg_d" data-fit-segment="5" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Five designers in a box"></i><span class="sr-only">Five designers in a box</span>
		      <span class="fit_txt">Five designers in a box</span>
		      <span class="fit_sub">1:36</span>
		      <span class="fit_status">
		        <svg class="progress_ring" width="26" height="26" viewBox="0 0 120 120">
		          <circle class="progress_meter" cx="60" cy="60" r="54" stroke-width="12"></circle>
		          <circle class="progress_value" cx="60" cy="60" r="54" stroke-width="12" style="stroke-dasharray: 340; stroke-dashoffset: 135;"></circle>
		        </svg>
		      </span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_e" data-fit-segment="6" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Quiet loud brainstorming"></i><span class="sr-only">Quiet loud brainstorming</span>
		      <span class="fit_txt">Quiet loud brainstorming</span>
		      <span class="fit_sub">7:14</span>
		      <span class="fit_status">
		        <svg class="progress_ring" width="26" height="26" viewBox="0 0 120 120">
		          <circle class="progress_meter" cx="60" cy="60" r="54" stroke-width="12"></circle>
		          <circle class="progress_value" cx="60" cy="60" r="54" stroke-width="12" style="stroke-dasharray: 340; stroke-dashoffset: 260;"></circle>
		        </svg>
		      </span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_f" data-fit-segment="7" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Party in the woods"></i><span class="sr-only">Party in the woods</span>
		      <span class="fit_txt">Party in the woods</span>
		      <span class="fit_sub">2:47</span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_g" data-fit-segment="8" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Find your Awe"></i><span class="sr-only">Find your Awe</span>
		      <span class="fit_txt">Find your Awe</span>
		      <span class="fit_sub">7:56</span>
		    </a>

		    <a class="fit_btn video accessible " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_h" data-fit-segment="9" data-fit-parent="2" data-fit-segment-link="">
		      <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Mulago Fellow"></i><span class="sr-only">Mulago Fellow</span>
		      <span class="fit_txt">Mulago Fellow</span>
		      <span class="fit_sub">3:33</span>
		    </a>

		  </div>

		</div>
	</div>

	<dl>
		<dt><i class="fal fa-window-maximize"></i>1: Watch the intro vid!</dt>
		<dd>
			<p>The one right above.</p>
			<p><a href="#" data-toggle="modal" data-target="#fat_modal_video"><i class="fal fa-window-maximize"></i>  Online lessons with Leo.  <span class="timing">1:35</span></a></p>
		</dd>

		<dt><i class="fal fa-walking"></i>2: Talk a relaxing walk.</dt>
		<dd>
			<p>Grab a pad, go for a walk and remember what inspired you in the first place.</p>
			<p><a href="#"><i class="fal fa-window-maximize"></i>  Empathy walks.  <span class="timing">1:35</span></a></p>
		</dd>

		<dt><i class="fal fa-lightbulb-on"></i>3: Sketch some ideas.</dt>
		<dd>
			<p>Draw out the most important ‘beats’ of your learning design.</p>
			<p><a href="#"><i class="fal fa-window-maximize"></i>  Learning arch design.  <span class="timing">4:18</span></a></p>
		</dd>

		<dt>Talk to us!</dt>
		<dd>
			<p>Leo is nice, say hi.</p>
			<div class="fat_arrow_button">
				<a href="#" class="btn btn-outline-primary btn-lg"><i class="fal fa-envelope"></i>  leo@fitzroyacademy.com</a>
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="123" viewBox="0 0 32 123" class="fat_arrow">
					  <path class="cls-1" d="M11.252,2.347c0.233-1.041,6.966,15.555,8.435,21.871,5.3,22.777,7.221,42.314,2.468,64.984-0.892,4.253-4.072,15.7-3.693,15.716s2.937-1.831,7.672-6.558c0.883-.881,3.876,3.1,3.883,4.266,0,0.734-14.631,15.756-18.184,17.077s-9.99-29.594-9.99-29.594l7.447,18.82s2.976,4.513,8.374-28.38C24.465,39.1,11.018,3.388,11.252,2.347Z"/>
					</svg>

			</div>
		</dd>

	</dl>
</div>

<div class="fat_temp" id="library">
	<h2 style="color:#2774f8;">Lesson Library</h2>
	<p>Things here</p>
</div>

<div class="fat_temp" id="workshops">
	<h2 style="color:#1ec22d;">Workshops</h2>
	<p>Things here</p>
</div>

<div class="fat_temp" id="gear">
	<h2 style="color:#f72555;">Gear list</h2>
	<p>Things here</p>
</div>

<div class="fat_temp" id="blog">
	<h2 style="color:#fcab05;">Blog</h2>
	<p>Things here</p>
</div>



{% endblock %}