{% extends "/layout_naked.html" %}
{% block body %}


<div class="fat_head purple">
	{% include 'static/play/_head.html' %}
</div>


<div class="fat_hero left halfy purple" id="top">

	<h1>We design<br><strong>learning,</strong> online.</h1>

</div>

<div class="fat_nav list-group" id="scrollspy">
	<div class="contain">
		<a href="#top" class="list-group-item top"><i class="fal fa-arrow-up"></i></a>
		<a href="#design" class="purple list-group-item"><i class="fal fa-laptop"></i> <span class="txt">Design with us</span></a>
		<a href="#capacity" class="blue list-group-item"><i class="fal fa-charging-station"></i> <span class="txt">Capacity Building</span></a>	
		<a href="#trailers" class="teal list-group-item"><i class="fal fa-play-circle"></i> <span class="txt">Trailers</span></a>
	<!-- 	<a href="#library" class="blue list-group-item"><i class="fal fa-books"></i> <span class="txt">Lesson library</span></a> -->
		<a href="#hello" class="watermelon list-group-item"><i class="fal fa-comments-alt"></i> <span class="txt">Contact us</span></a>
	<!-- 
		<a href="#workshops" class="green list-group-item"><i class="fal fa-book"></i> <span class="txt">Online workshops</span></a>
		<a href="#gear" class="red list-group-item"><i class="fal fa-tools"></i> <span class="txt">Gear list</span></a>
	 -->	
	 	<a href="https://medium.com/fitzroy-academy/" target="_blank" class="apricot list-group-item">
	 		<i class="fal fa-book"></i> <span class="txt">Blog 
	 		<i class="fal fa-external-link" data-toggle="tooltip" data-placement="bottom" title="Opens in a new window."></i></span>
	 	</a>
	 </div>
</div>

<!-- <div class="fat_window">
	<img src="/static/assets/images/lessons/design-iteration-form.jpg" alt="image">
</div> -->

<div class="fat_section" id="design">

	<h2 class="purple">
		<small><i class="fal fa-laptop"></i> Blended learning</small>
		Design with us.
	</h2>

	<div class="fat_video_full">
		<script src="https://fast.wistia.com/embed/medias/qp2c1utajg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qp2c1utajg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qp2c1utajg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
	</div>

</div>

<div class="bg">
	<div class="fat_section" id="capacity">
		
		<h2 class="blue centered">
			<small><i class="fal fa-charging-station"></i> Capacity building.</small>
			Learn to do.
		</h2>
		<div class="row centered fat_iconrow">
			<div class="col-md-4">
				<h3 class="blue">
					<i class="fal fa-chalkboard-teacher"></i>
					LX design.
				</h3>
				<p>We help educators do great learning experience design.</p>
			</div>
			<div class="col-md-4">
				<h3 class="cyan">
					<i class="fal fa-film"></i>
					Film support.
				</h3>
				<p>Wanna make videos? We'll show you how.</p>
			</div>
			<div class="col-md-4">
				<h3 class="teal">
					<i class="fal fa-theater-masks"></i>
					Facilitation.
				</h3>
				<p>Holding space for risk, flipped learning that works.</p>
			</div>
		</div>

		<div class="fat_iconrow fat_whitejab">
			<h3 class="centered">
				<i class="fal fa-charging-station"></i>
				Work with us.
			</h3>
			<h4>It starts like this...</h4>
			<p>Email <a href="mailto:hello@fitzroyacademy.com">hello@fitzroyacademy.com</a>, we'll hook up a quick video chat to figure out if we can help you out with whatever you're doing.</p>
			<hr>
			<p>One of these things happens:</p>
			<ol>
				<li>We organise a 'trial run' of whatever education project you're doing to see if working together is fun, productive and useful.</li>
				<li>You scope out something ambitious, and we help you plan out a solid year of work, with longer term planning.</li>
				<li>For serious partnerships, we fly to wherever you are with our filming gear, and do multiple years of work together.</li>
			</ol>
			<hr>
			<h4>More stuff we do.</h4>
			<div class="row morethings">
				<div class="col-md-6">
					<p><strong>Co-facilitate with teachers</strong> on design thinking, entrepeneurship, etc.</p>
				</div>
				<div class="col-md-6">
					<p><strong>Co-design programs.</strong> One class, a whole semester, or a one-off pilot.</p>
				</div>
				<div class="col-md-6">
					<p><strong>Upskill facilitators</strong> on things like 'holding space', experiential learning, feedback loops in blended learning and the like.</p>
				</div>
				<div class="col-md-6">
					<p><strong>Building collateral</strong> for learning: Digital learning plans, teacher guides, video tutorials and interactives.</p>
				</div>
				<div class="col-md-6">
					<p><strong>Workshops + guest speaking.</strong> Topics like Lean, Agile, entrepeneurship, systems change and social impact.</p>
				</div>
				<div class="col-md-6">
					<p><strong>Straight up teaching!</strong> Will has taught at Monash Uni's <a href="https://www.monash.edu/study/courses/find-a-course/2020/science-advanced-global-challenges-s3001" target="_blank">Global Challenges Advanced Honours</a> degree for the last 5 years.</p>
				</div>
				<div class="col-md-12">
					<p>We've done many weird and wonderful things over the years. Ask us. 🥰</p>
				</div>
			</div>

			<blockquote class="fat_quote" data-fit-fatquote>
				<span class="ldquo">&ldquo;</span>
				<div class="dots">
					<a class="dot active" href="#bq_celia">&nbsp;</a>
					<a class="dot" href="#bq_hype">&nbsp;</a>
					<a class="dot" href="#bq_gc">&nbsp;</a>
					<a class="dot" href="#bq_student">&nbsp;</a>
					<a class="dot" href="#bq_wv">&nbsp;</a>
				</div>
				<div class="friend active pink" id="bq_celia">
					<p>We use Fitzroy Academy for our programs, both directly and also for our team and teachers.</p>
					<p>The tutorials have been absolutely invaluable, and have saved us so much money and time.</p>
					<cite>- Celia, CEO @ <a href="https://www.sheinvestments.com/" target="_blank">SHE Investments.</a></cite>
				</div>
				
				<div class="friend teal" id="bq_hype">
					<p>Man it's amazing how USEFUL that exercise was! Especially the behaviours and interventions bit.</p>
					<p>I'M HAVING DESIGN BREAKTHROUGHS AND I'M REALLY EXCITED JUST HAD TO SHARE.</p>
					<cite>- An excited student &amp; early adopter.</cite>
				</div>

				<div class="friend red" id="bq_gc">
					<p>Will believed in me. He made it explicitly known that he did and man, I felt that.</p>
					<p>It taught me to take action on what I care about, it was a deeply transformative experience.</p>
					<cite>- Will's students, Monash University</cite>
				</div>

				<div class="friend purple" id="bq_student">
					<p>I'm actually doing a startup accelerator which is great for the face to face stuff, but I find myself constantly coming back to FA all the time to make things make sense.</p>
					<cite>- Online student, USA.</cite>
				</div>

				<div class="friend blue" id="bq_wv">
					<p>This is the best lean thinking resource I have found.</p>
					<p>Especially as someone from the social enterprise sector, absolutely loving it.</p>
					<cite>- James Harris, World Vision</cite>
				</div>
				
			</blockquote>

		</div>


	</div>
</div>


<div class="fat_section fat_pic_grid threeup"  id="trailers">
	<div class="portrait text">
		<h2>
			<small><i class="fal fa-play-circle"></i> Trailers</small>
			Beautiful lessons with the world's best.
		</h2>
		<p>From London and San Francisco to Singapore, Siem Reap to our home in inner north Melbourne.</p>
		<p>Our faculty are founders, CEOs, funders, doers and makers. They do this stuff for a living.</p>
		<!-- <a href="#library" class="btn btn-lg btn-outline-primary"><i class="fal fa-books"></i> More lessons in the library</a> -->
	</div>
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/clarevert.jpg" alt="">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Clare teaches Agile Project Management</small></a>
	</div>
	<div class="portrait">
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/gautam.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Gautam teaches Public Campaigning</small></a>
		</div>
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/jenny2.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Jenny teaches Community Integration</small></a>
		</div>
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/caroline.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Caroline teaches Evidence-based Interventions</small></a>
		</div>
	</div>
</div>





<div class="fat_section" id="hello">
	
	<h2>
		<small><i class="fal fa-comments-alt"></i> Contact us</small>
		Hyped to meet ya.
	</h2>
	<div class="bigly">
		<a class="btn btn-absurd watermelon" href="mailto:hello@fitzroyacademy.com"><i class="fal fa-envelope"></i> hello@fitzroyacademy.com <span class="party">🥳</span></a>
		<div class="nb">Let’s have a cup of tea together.</div>
	</div>

</div>




{% include 'partials/_drift.html' %}




















{% endblock %}