{% extends "/layout_naked.html" %}
{% block body %}


<div class="fat_head purple">
	{% include 'static/play/_head.html' %}
</div>


<div class="fat_hero left halfy purple" id="top">

	<h1>We design<br><strong>learning,</strong> online.</h1>

</div>

<div class="fat_nav list-group" id="scrollspy">
	<div class="contain">
		<a href="#top" class="list-group-item top"><i class="fal fa-arrow-up"></i></a>
		<a href="#make" class="purple list-group-item"><i class="fal fa-laptop"></i> <span class="txt">Online learning</span></a>
		<a href="#trailers" class="teal list-group-item"><i class="fal fa-play-circle"></i> <span class="txt">Trailers</span></a>
	<!-- 	<a href="#library" class="blue list-group-item"><i class="fal fa-books"></i> <span class="txt">Lesson library</span></a> -->
		<a href="#hello" class="watermelon list-group-item"><i class="fal fa-comments-alt"></i> <span class="txt">Contact us</span></a>
	<!-- 
		<a href="#workshops" class="green list-group-item"><i class="fal fa-book"></i> <span class="txt">Online workshops</span></a>
		<a href="#gear" class="red list-group-item"><i class="fal fa-tools"></i> <span class="txt">Gear list</span></a>
	 -->	
	 	<a href="https://medium.com/fitzroy-academy/" target="_blank" class="apricot list-group-item">
	 		<i class="fal fa-book"></i> <span class="txt">Blog 
	 		<i class="fal fa-external-link" data-toggle="tooltip" data-placement="bottom" title="Opens in a new window."></i></span>
	 	</a>
	 </div>
</div>

<!-- <div class="fat_window">
	<img src="/static/assets/images/lessons/design-iteration-form.jpg" alt="image">
</div> -->

<div class="fat_section fat_leo_list" id="make">

	<h2>
		<small><i class="fal fa-laptop"></i> Online learning</small>
		Design with us.
	</h2>

	<!-- <div class="fat_video_full">
		<script src="https://fast.wistia.com/embed/medias/qp2c1utajg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qp2c1utajg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qp2c1utajg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
	</div> -->

	<div class="fat_video_sidenav">
		<div class="viddy">
			<script src="https://fast.wistia.com/embed/medias/qp2c1utajg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qp2c1utajg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qp2c1utajg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
		</div>
		<div class="side">
			<div class="fit_segments_title">
				<h4>Creating online learning.</h4>
				<p><i class="fal fa-users"></i>&nbsp; Leo Flander and Will Dayble.</p>
			</div>
			<div class="fit_segments">
		    <a class="fit_btn video active " href="/play/services/seg_a" data-fit-segment="2">
		      <i class="fas fa-circle" data-original-title="Introduction"></i>
		      <span class="fit_txt">Intro: Making video lessons</span>
		      <span class="fit_sub">1:57</span>
		    </a>

		    <a class="fit_btn video locked" href="/play/services/seg_b" data-fit-segment="3">
		      <i class="fas fa-circle" data-original-title="Lesson Resources"></i>
		      <span class="fit_txt">Building a course from scratch</span>
		      <span class="fit_sub">5:36</span>
		      <span class="fit_status">
		      	<i class="fal fa-lock"></i>
		      </span>
		    </a>

		    <a class="fit_btn html locked" href="/play/services/seg_c" data-fit-segment="4">
		      <i class="fas fa-circle" data-original-title="Drawing without words"></i>
		      <span class="fit_txt">Online course template</span>
		      <span class="fit_sub">2 pages</span>
		      <span class="fit_status">
		      	<i class="fal fa-lock"></i>
		      </span>
		    </a>

		    <a class="fit_btn interview locked" href="/play/services/seg_d" data-fit-segment="5">
		      <i class="fas fa-circle" data-original-title="Five designers in a box"></i>
		      <span class="fit_txt">Five designers in a box</span>
		      <span class="fit_sub">1:36</span>
		      <span class="fit_status">
		      	<i class="fal fa-lock"></i>
		      </span>
		    </a>

		    <a class="fit_btn bonus locked" href="/play/services/seg_e" data-fit-segment="6">
		      <i class="fas fa-circle" data-original-title="Quiet loud brainstorming"></i>
		      <span class="fit_txt">Quiet loud brainstorming</span>
		      <span class="fit_sub">7:14</span>
		      <span class="fit_status">
		      	<i class="fal fa-lock"></i>
		      </span>
		    </a>

		    <!-- <a class="fit_btn video locked" href="/play/services/seg_f" data-fit-segment="7">
		      <i class="fas fa-circle" data-original-title="Party in the woods"></i>
		      <span class="fit_txt">Party in the woods</span>
		      <span class="fit_sub">2:47</span>
		    </a>

		    <a class="fit_btn video locked" href="/play/services/seg_g" data-fit-segment="8">
		      <i class="fas fa-circle" data-original-title="Find your Awe"></i>
		      <span class="fit_txt">Find your Awe</span>
		      <span class="fit_sub">7:56</span>
		    </a>

		    <a class="fit_btn video locked" href="/play/services/seg_h" data-fit-segment="9">
		      <i class="fas fa-circle" data-original-title="Mulago Fellow"></i><span class="sr-only">Mulago Fellow</span>
		      <span class="fit_txt">Mulago Fellow</span>
		      <span class="fit_sub">3:33</span>
		    </a> -->

		  </div>

		</div>
	</div><!-- fat_video_sidenav -->



	<img src="/static/assets/images/naked/leo_slingin.png" alt="leo" class="leo_slingin">
	<h3>How we do it.</h3>

	<dl>
		<dt><i class="fal fa-heart"></i>1: Make friends.</dt>
		<dd>
			<p>Talk about what you're doing and how pumped you are about learning.</p>
<!-- 			<p><a href="#"><i class="fal fa-window-maximize"></i>  Empathy walks.  <span class="timing">1:35</span></a></p> -->
		</dd>

		<dt><i class="fal fa-lightbulb-on"></i>2: Have great ideas.</dt>
		<dd>
			<p>Time with pen and paper via video chat makes all our ideas make sense.</p>
			<!-- <p><a href="#"><i class="fal fa-window-maximize"></i>  Learning arch design.  <span class="timing">4:18</span></a></p> -->
		</dd>

		<dt><i class="fal fa-file-alt"></i>3: Make a plan.</dt>
		<dd>
			<p>We help you make videos, templates and lessons, with facilitator training and everything else.</p>
		</dd>
	</dl>

	<blockquote class="fat_quote" data-fit-fatquote>
		<span class="ldquo">&ldquo;</span>
		<div class="dots">
			<a class="dot active" href="#bq_celia">&nbsp;</a>
			<a class="dot" href="#bq_hype">&nbsp;</a>
			<a class="dot" href="#bq_gc">&nbsp;</a>
			<a class="dot" href="#bq_student">&nbsp;</a>
			<a class="dot" href="#bq_wv">&nbsp;</a>
		</div>
		<div class="friend active" id="bq_celia">
			<p>We use Fitzroy Academy for our programs, both directly and also for our team and teachers.</p>
			<p>The tutorials have been absolutely invaluable, and have saved us so much money and time.</p>
			<cite>- Celia, CEO @ <a href="https://www.sheinvestments.com/" target="_blank">SHE Investments.</a></cite>
		</div>
		
		<div class="friend" id="bq_hype">
			<p>Man it's amazing how USEFUL that exercise was! Especially the behaviours and interventions bit.</p>
			<p>I'M HAVING DESIGN BREAKTHROUGHS AND I'M REALLY EXCITED JUST HAD TO SHARE.</p>
			<cite>- An excited student &amp; early adopter.</cite>
		</div>

		<div class="friend" id="bq_gc">
			<p>Will believed in me and made it explicitly known that he did. I felt that.</p>
			<p>It taught me to take action and it was a deeply transformative experience.</p>
			<cite>- One of Will's students, Monash University</cite>
		</div>

		<div class="friend" id="bq_student">
			<p>I'm actually doing a startup accelerator which is great for the face to face stuff, but I find myself constantly coming back to FA all the time to make things make sense.</p>
			<cite>- Online student, USA.</cite>
		</div>

		<div class="friend" id="bq_wv">
			<p>This is the best lean thinking resource I have found.</p>
			<p>Especially as someone from the social enterprise sector, absolutely loving it.</p>
			<cite>- John @ World Vision</cite>
		</div>
		
	</blockquote>

</div>


<div class="fat_section fat_pic_grid threeup"  id="trailers">
	<div class="portrait text">
		<h2>
			<small><i class="fal fa-play-circle"></i> Select trailers</small>
			Beautiful lessons with the world's best.
		</h2>
		<p>From London and San Francisco to Singapore, Siem Reap to our home, Melbourne.</p>
		<p>The teachers we work with are founders, CEOs, funders, doers and makers.</p>
		<!-- <a href="#library" class="btn btn-lg btn-outline-primary"><i class="fal fa-books"></i> More lessons in the library</a> -->
	</div>
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/clarevert.jpg" alt="">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Clare teaches Agile Project Management</small></a>
	</div>
	<div class="portrait">
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/gautam.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Gautam teaches Public Campaigning</small></a>
		</div>
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/jenny2.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Jenny teaches Community Integration</small></a>
		</div>
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/caroline.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Caroline teaches Evidence-based Interventions</small></a>
		</div>
	</div>
</div>

<!-- 
<div class="fat_pic_grid">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/arivert.jpg" alt="">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Ari teaches Barrier Mapping</small></a>
	</div>
	<div class="portrait">
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/kevin2.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Kevin teaches Impact at Scale</small></a>
		</div>
		<div class="landscape pic">
			<img src="/static/assets/images/lessons_hires/dan.jpg" alt="">
			<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Dan teaches Pitching for Investment</small></a>
		</div>
	</div>
</div> -->


<div class="fat_section" id="hello">
	
	<h2>
		<small><i class="fal fa-comments-alt"></i> Contact us</small>
		Hello there!
	</h2>
	<div class="bigly">
		<a class="btn btn-absurd watermelon" href="mailto:hello@fitzroyacademy.com"><i class="fal fa-envelope"></i> hello@fitzroyacademy.com <span class="party">🥳</span></a>
		<div class="nb">Let’s sort cups of tea from our own homes, there’s a pandemic going on.</div>
	</div>

</div>

























{% endblock %}