{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero leftie purple">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-file-alt"></i>
      </a>
      <h1>
        Good conduct.
        <small>Be good to one another.</small>
      </h1>
    </div>

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_support.html' %}
        </div>
      </div>
      
      <div class="fit_medium">

				<h2>In simple language!</h2>
			
				<p>The follow explicit code of conduct applies to both our online learning and any offline learning, in any format.</p>
				<p>All determinations of appropriate or inappropriate behaviour are in The Fitzroy Academy's sole discretion and the decision(s) of The Academy is final.</p>

				<hr>					
				<h3>Expected Behaviour</h3>
				<ol>
					<li>Be considerate, respectful, and collaborative.</li>
					<li>Refrain from demeaning, discriminatory or harassing behaviour and speech.</li>
					<li>Be mindful of your surroundings and of your fellow participants.</li>
					<li>Contact a Fitzroy Academy representative if someone, anyone, needs help.</li>
				</ol>
				
				<hr>					
				<h3>Unacceptable Behaviour</h3>
				<p><em>I.e. Don’t be a butthead.</em></p>
				<p>Unacceptable behaviours include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning conduct by any Fitzroy Academy user.</p>
				<p>Harassment includes: offensive verbal or written comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in online and offline spaces; deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of another student's learning; inappropriate physical contact, and unwelcome sexual attention.</p>
				<p>Physical, written, verbal or other abuse, intimidation, threats, annoyance, harassment, stalking, pushing, shoving or use of any physical force whatsoever against any person, which in any way creates a disturbance that is disruptive or dangerous, or creates apprehension in a person, as determined by The Fitzroy Academy and its management, in their sole discretion.</p>
				<p>Possession of any item that can be used as a weapon, which may cause danger to others if used in an aggressive manner.</p>
				<p>Lewd or offensive behaviour or language, including but not limited to using sexually explicit or offensive language, materials or conduct, or any language, behaviour or content that contains excessive profanity, obscene gestures, or racial, religious, gender, or ethnic slurs.</p>
				<p>Assembling for the purpose of, or resulting in, disturbing the peace, or committing any unlawful act or engaging in any offensive behaviour.</p>
				
				<hr>					
				<h3>Consequences of unacceptable behaviour</h3>
				<p>Unacceptable behaviour will not be tolerated whether by other students, staff, media, teachers, volunteers, organisers, venue staff, sponsors, or mentors.</p>
				<p>Anyone asked to stop unacceptable behaviour is expected to comply immediately.</p>
				<p>If a participant engages in unacceptable behaviour, our staff may take any action they deem appropriate, up to and including expulsion from The Academy without warning or refund.</p>
				<p>Online, we will delete offending accounts immediately, with no refund.</p>

				<hr>					
				<h3>What to do if you witness or are subject to unacceptable behaviour</h3>
				<p>If you are subject to unacceptable behaviour, notice that someone else is being subject to unacceptable behaviour, or have any other concerns, please <a href="/purpose#questions">notify</a> an Academy representative as soon as possible. All reports will remain completely confidential. </p>
				<p>The Fitzroy Academy team will be available to help students contact venue security or local law enforcement, to provide escorts, or to otherwise assist those experiencing unacceptable behaviour to feel safe for the duration of their time at The Academy. You can report unacceptable behaviour to any member of staff.</p>
				
				<hr>
				<h3>Scope</h3>
				<p>We expect all Academy participants (students, sponsors, volunteers, speakers, users, mentors and other guests) to abide by this code of conduct in all online and offline interactions.</p>
				<hr>					
				<h3>Contact Information</h3>
				<p>Will Dayble, Founder: <a href="mailto:will@fitzroyacademy.com">will@fitzroyacademy.com</a></p>
				<p>1300 205 170</p>
				<hr>					
				<h3>License and attribution</h3>
				<p>This text is taken in part from the original at <a href="http://opensourcebridge.org/about/code-of-conduct/">opensourcebridge.org/about/code-of-conduct/</a> and is distributed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a> license.</p>
				<p>Special thanks to <a href="http://infotrope.net/">Alex ‘Skud’ Bayley</a> for encouraging us to consider and follow an explicit code of conduct.</p>
				<p>Thanks to <a href="http://slashpurpose.org/">slashpurpose.org</a> for making naming this page simple.</p>
				
				<hr id="examples">

				<h2>Specific examples of good behaviour</h2>

				<h3>1. Respect the student journey:</h3>
				<dl class="dl-horizontal">
					<dt>Think:</dt>
					<dd>Everyone is learning in their own way. Allow people to take their time and work at a comfortable pace.</dd>
					<dt>Behave:</dt>
					<dd>Let people take their time to learn, and let them set their own pace. Encourage and allow mistakes.</dd>
				</dl>
				
				<h3>2. Understand why:</h3>
				<dl class="dl-horizontal">
					<dt>Think:</dt>
					<dd>Knowing the root cause of any action is more useful than taking the action at face value.</dd>
					<dt>Behave:</dt>
					<dd>Don’t say things like "I hate it when you X", instead ask <em>why</em> the person does that, and make an honest effort to understand the reason behind the action.</dd>
				</dl>
									
				<h3>3. Make diversity happen:</h3>
				<dl class="dl-horizontal">
					<dt>Think:</dt>
					<dd>The best ideas and actions come from diverse groups with diverse ideas.</dd>
					<dt>Behave:</dt>
					<dd>Don’t just respect diversity within people and ideas, actively search for and <em>make it happen.</em> A passive acceptance isn’t good enough.</dd>
				</dl>
				
				<hr id="questions">		
				<h3>Questions / concerns?</h3>
				<p>Will Dayble, Founder: <a href="mailto:will@fitzroyacademy.com">will@fitzroyacademy.com</a> / 1300 205 170</p>
				<hr>		
				
				


      </div><!-- fit_medium -->


    </div>

  </article>

</main>

{% endblock %}