{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero leftie red">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-user-secret"></i>
      </a>
      <h1>
        Privacy.
        <small>We take your (and our) privacy seriously.</small>
      </h1>
    </div>

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_support.html' %}
        </div>
      </div>
      
      <div class="fit_medium">

				<h2>In simple language!</h2>

				<div class="alert alert-info">This short section attempts to explain your rights and responsibilities in simple language. Our <em>real</em>, legally binding privacy policy is <a href="#lawyer">below.</a></div>
				<hr>
				<h4><i class="fal fa-info-square"></i> Your data is yours, but we can see it.</h4>
				<p>Any data you give to us can be seen by all our staff, whether it's via this website or any other method.</p>
				<p>We use it for support and to make our systems work.</p>
				<p>In general, don’t share information with us that you wouldn’t be happy sharing publicly with the world.</p>
				<hr class="blunt">

				<h4><i class="fal fa-info-square"></i> Your content is yours, but we might use it.</h4>
				<p>You can make comments, canvases and add information about yourself on our app. This is your 'IP' <em>(intellectual property, or 'brain gold' as the experts put it).</em></p>
				<p>We’ll usually ask your permission before we use your information, but remember that we can access and use any info you give us via this app.</p>
				<hr class="blunt">

				<h4><i class="fal fa-info-square"></i> We use software by other companies.</h4>
				<p>For example, <a href="https://www.intercom.com/" target="_blank">Intercom</a> for support users, <a href="https://mailchimp.com" target="_blank">Mailchimp</a> for email lists, <a href="https://stripe.com" target="_blank">Stripe</a> for processing payments, <a href="https://gsuite.google.com" target="_blank">Google Suite</a> for templates, <a href="https://www.dropbox.com" target="_blank">Dropbox</a> for managing big files, as well as various servers, cloud products, etc. We change what providers we use occasionally.</p>
				<p>We can’t control what they do with your data, but the <a href="https://www.eugdpr.org/" target="_blank">EU GDPR</a> gives you lots of solid rights, and we aim to be fully GDPR compliant.</p>
				<hr class="blunt">

				<h4><i class="fal fa-info-square"></i> This site is for 16+ people only.</h4>
				<p>Because of the GDPR, we need parental consent for users under 16 years of age. Our site isn't meant for kids, so it's probably best that under 16s don't use our service.</p>
				<hr class="blunt">

				<h3><i class="fal fa-info-square"></i> We’re happy to help!</h3>
				<p>If things go seriously wrong lawyers get involved, which is bad for everyone. If you have questions or concerns, email <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a> and we'll do everything we can to help you out.</p>


				<hr class="blunt">

				<div class="fit_lawyermode" id="lawyer">
					<div class="alert alert-danger">Now the serious, lawyer's version. This is the legally binding one:</div>
					<hr>
					<h2>EDUCATION EVERYWHERE PTY LTD&nbsp;<strong>ABN 36 164 464 395</strong> PRIVACY POLICY</h2>
					<p>&nbsp;</p>

					<ol>
					    <li>
					        <strong></strong>
					        <strong>PURPOSE OF OUR POLICY</strong>
					    </li>
					    <ol>
					        <li>
					Education Everywhere Pty Ltd ABN 36 164 464 395 (            <strong>we</strong>, <strong>us</strong> or <strong>our</strong>)
					            has adopted this Privacy Policy to ensure that we have standards in
					            place to protect the Personal Information that we collect about
					            individuals that is necessary and incidental to:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                Providing the system and services that we offer; and
					            </li>
					            <li>
					                <strong></strong>
					                The normal day-to-day operations of our business.
					            </li>
					        </ol>
					        <li>
					            This Privacy Policy follows the standards of both:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                The Australian Privacy Principles set by the Australian
					Government for the handling of Personal Information under the                <em>Privacy Act 1988</em> (Cth) (<strong>Privacy Act</strong>);
					                and
					            </li>
					            <li>
					                <strong></strong>
					                The regulations and principles set by the European Union’s
					                General Data Protection Regulation (<strong>GDPR</strong>) for
					                the handling of Personal Data.
					            </li>
					        </ol>
					        <li>
					            By publishing this Privacy Policy we aim to make it easy for our
					            customers and the public to understand what Personal Information we
					            collect and store, why we do so, how we receive and/or obtain that
					            information, and the rights an individual has with respect to their
					            Personal Information in our possession.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>WHO AND WHAT THIS POLICY APPLIES TO</strong>
					    </li>
					    <ol>
					        <li>
					            Our Privacy Policy deals with how we handle “personal information”
					            and “personal data” as it is defined in the Privacy Act and the
					            GDPR respectively (<strong>Personal Information</strong>).
					        </li>
					        <li>
					            <strong></strong>
					            We handle Personal Information in our own right and also for and on
					            behalf of our customers and users.
					        </li>
					        <li>
					            <strong></strong>
					            Our Privacy Policy does not apply to information we collect about
					            businesses or companies, however it does apply to information about
					            the people in those businesses or companies that we store.
					        </li>
					        <li>
					            <strong></strong>
					            The Privacy Policy applies to all forms of information, physical
					            and digital, whether collected or stored electronically or in
					            hardcopy.
					        </li>
					        <li>
					            <strong></strong>
					            If, at any time, an individual provides Personal Information or
					            other information about someone other than himself or herself, the
					            individual warrants that they have that person's consent to provide
					            such information for the purpose specified.
					        </li>
					        <li>
					            <strong></strong>
					            We consider the protection of privacy of children very important.
					            We do not knowingly collect personal data from children under the
					            age of 16 without obtaining parental consent. If an individual is
					            under 16 years of age, then they should not use or access the
					            service at any time or in any manner. If we learn that Personal
					            Information has been collected on the service from persons under 16
					            years of age and without verifiable parental consent, then we will
					            take the appropriate steps to delete such information.
					        </li>
					    </ol>
					</ol>
					<ol>
					    <li>
					        <strong></strong>
					        <strong>THE INFORMATION WE COLLECT</strong>
					    </li>
					    <ol>
					        <li>
					            In the course of business it is necessary for us to collect
					            Personal Information. This information allows us to identify who an
					            individual is for the purposes of our business, share Personal
					            Information when asked of us, contact the individual in the
					            ordinary course of business and transact with the individual.
					            Without limitation, the type of information we may collect is:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                <strong>Personal Information.</strong>
					                We may collect personal details such as an individual’s name,
					                location, date of birth, nationality, family details and other
					                information defined as “Personal Information” in the Privacy
					                Act that allows us to identify who the individual is;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Contact Information.</strong>
					                We may collect information such as an individual’s email
					                address, telephone &amp; fax number, third-party usernames,
					                residential, business and postal address and other information
					                that allows us to contact the individual;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Financial Information.</strong>
					                We may collect financial information related to an individual
					                such as any bank or credit card details used to transact with
					                us and other information that allows us to transact with the
					                individual and/or provide them with our services;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Technical Information.</strong>
					                We may collect the IP Addresses of users accessing our systems,
					                the actions of users on our website and other digital
					                information created by an individual’s use of our online
					                systems
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Statistical Information.</strong>
					                We may collect information about an individual’s online and
					                offline preferences, habits, movements, trends, decisions,
					                associations, memberships, finances, purchases and other
					                information for statistical purposes; and
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Information an individual sends us.</strong>
					                We may collect any personal correspondence that an individual
					                sends us, or that is sent to us by others about the
					                individual’s activities.
					            </li>
					        </ol>
					        <li>
					            We may collect other Personal Information about an individual,
					            which we will maintain in accordance with this Privacy Policy.
					        </li>
					        <li>
					            We may also collect non-Personal Information about an individual
					            such as information regarding their computer, network and browser.
					            Where non-Personal Information is collected the Australian Privacy
					            Principles and the GDPR do not apply.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>HOW INFORMATION IS COLLECTED</strong>
					    </li>
					    <ol>
					        <li>
					            Most information will be collected in association with an
					            individual’s use of Fitzroy Academy, an enquiry about Fitzroy
					            Academy or generally dealing with us. However we may also receive
					            Personal Information from sources such as advertising, an
					            individual’s own promotions, public records, mailing lists,
					            contractors, staff, recruitment agencies and our business partners.
					            In particular, information is likely to be collected as follows:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                <strong>Registrations/Subscriptions.</strong>
					                When an individual registers or subscribes for a service,
					                account, connection or other process whereby they enter
					                Personal Information details in order to receive or access
					                something, including a transaction;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Sharing with other Users.</strong>
					                When an individual provides Personal Information to other users
					                of the website or service;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Supply. </strong>
					                When an individual supplies us with goods or services;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Contact.</strong>
					                When an individual contacts us in any way;
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Access. </strong>
					                When an individual accesses us physically we may require them
					                to provide us with details for us to permit them such access.
					                When an individual accesses us through the internet we may
					                collect information using cookies (if relevant – an individual
					                can adjust their browser’s setting to accept or reject cookies)
					                or analytical services; and/or
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Pixel Tags. </strong>
					                Pixel tags enable us to send email messages in a format
					                customers can read and they tell us whether mail has been
					                opened.
					            </li>
					        </ol>
					        <li>
					            As there are many circumstances in which we may collect information
					            both electronically and physically, we will endeavour to ensure
					            that an individual is always aware of when their Personal
					            Information is being collected.
					        </li>
					        <li>
					            Where we obtain Personal Information without an individual’s
					            knowledge (such as by accidental acquisition from a client) we will
					            either delete/destroy the information, or inform the individual
					            that we hold such information, in accordance with the Australian
					            Privacy Principles and the GDPR.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>WHEN PERSONAL INFORMATION IS USED &amp; DISCLOSED</strong>
					    </li>
					    <ol>
					        <li>
					            In general, the primary principle is that we will not use any
					            Personal Information other than for the purpose for which it was
					            collected other than with the individual’s permission. The purpose
					            of collection is determined by the circumstances in which the
					            information was collected and/or submitted.
					        </li>
					        <li>
					            We will only process Personal Information when we can identify a
					            lawful basis to do so. It is always our responsibility to ensure
					            that we can demonstrate which lawful basis applies to the
					            particular processing purpose.
					        </li>
					        <li>
					            The most common lawful bases relied upon are:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                <em>Consent</em>
					                : we will only rely upon express, clear and informed consent.
					                Any consent provided may specify and/or restrict the purpose,
					                and can be withdrawn at any time without penalty. We will keep
					                a record of when and how we got consent from an individual.
					            </li>
					            <li>
					                <strong></strong>
					                <em>Legitimate interests</em>
					                : we will only rely upon an identifiable legitimate interest
					                where we can demonstrate that the processing of Personal
					                Information is necessary to achieve it by balancing it against
					                the individual’s interests, rights and freedoms. We will keep a
					                record of our legitimate interests assessments
					            </li>
					        </ol>
					        <li>
					            We will retain Personal Information for the period necessary to
					            fulfil the purposes outlined in this Privacy Policy unless a longer
					            retention period is required or permitted by law.
					        </li>
					        <li>
					            If it is necessary for us to disclose an individual’s Personal
					            Information to third parties in a manner compliant with the
					            Australian Privacy Principles in the course of our business, we
					            will inform you that we intend to do so, or have done so, as soon
					            as practical.
					        </li>
					        <li>
					            We will not disclose or sell an individual’s Personal Information
					            to unrelated third parties under any circumstances, unless the
					            prior written consent of the individual is obtained.
					        </li>
					        <li>
					            Information is used to enable us to operate our business,
					            especially as it relates to an individual. This may include:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                The provision of goods and services between an individual and
					                us;
					            </li>
					            <li>
					                <strong></strong>
					                Verifying an individual’s identity;
					            </li>
					            <li>
					                <strong></strong>
					                Communicating with an individual about:
					            </li>
					            <ol>
					                <li>
					                    Their relationship with us;
					                </li>
					                <li>
					                    Our goods and services;
					                </li>
					                <li>
					                    Our own marketing and promotions to customers and
					                    prospects;
					                </li>
					                <li>
					                    Offers from our partners to our customers;
					                </li>
					                <li>
					                    Competitions, surveys and questionnaires;
					                </li>
					            </ol>
					            <li>
					                <strong></strong>
					                Investigating any complaints about or made by an individual, or
					                if we have reason to suspect that an individual is in breach of
					                any of our terms and conditions or that an individual is or has
					                been otherwise engaged in any unlawful activity; and/or
					            </li>
					            <li>
					                <strong></strong>
					                As required or permitted by any law (including the Privacy
					                Act).
					            </li>
					        </ol>
					        <li>
					            There are some circumstances in which we must disclose an
					            individual’s information:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                Where we reasonably believe that an individual may be engaged
					                in fraudulent, deceptive or unlawful activity that a
					                governmental authority should be made aware of;
					            </li>
					            <li>
					                <strong></strong>
					                As required by any law (including the Privacy Act); and/or
					            </li>
					            <li>
					                <strong></strong>
					                In order to sell our business (in that we may need to transfer
					                Personal Information to a new owner).
					            </li>
					        </ol>
					        <li>
					            We will not disclose an individual’s Personal Information to any
					            entity outside of Australia that is in a jurisdiction that does not
					            have a similar regime to the Australian Privacy Principles or an
					            implemented and enforceable privacy policy similar to this Privacy
					            Policy. We will take reasonable steps to ensure that any disclosure
					            to an entity outside of Australia will not be made until that
					            entity has agreed in writing with us to safeguard Personal
					            Information as we do.
					        </li>
					        <li>
					            We may utilise third-pay service providers (such as Gmail from
					            Google, Inc., and MailChimp from The Rocket Science Group LLC) to
					            communicate with an individual and to store contact details about
					            an individual. These service providers are located in the United
					            States of America.
					        </li>
					        <li>
					            An individual who uses Fitzroy Academy from outside of Australia
					            will be sending information (including Personal Information) to the
					            United States where our servers are located. That information may
					            then be transferred within the United States or back out of the
					            United States to other countries outside of the individual’s
					            country of residence, depending on the type of information and how
					            it is stored by us. These countries may not necessarily have data
					            protection laws as comprehensive or protective as those in your
					            country of residence, however our collection, storage and use of
					            Personal Information will at all times continue to be governed by
					            this Privacy Policy.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>OPTING “IN” OR “OUT”</strong>
					    </li>
					    <ol>
					        <li>
					            An individual may opt to not have us collect their Personal
					            Information. This may prevent us from offering them some or all of
					            our services and may terminate their access to some or all of the
					            services they access with or through us. They will be aware of this
					            when:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                <strong>Opt In.</strong>
					                Where relevant, the individual will have the right to choose to
					                have information collected and/or receive information from us;
					                or
					            </li>
					            <li>
					                <strong></strong>
					                <strong>Opt Out.</strong>
					                Where relevant, the individual will have the right to choose to
					                exclude himself or herself from some or all collection of
					                information and/or receiving information from us.
					            </li>
					        </ol>
					        <li>
					            If an individual believes that they have received information from
					            us that they did not opt in or out to receive, they should contact
					            us on the details below.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>THE SAFETY &amp; SECURITY OF PERSONAL INFORMATION</strong>
					    </li>
					    <ol>
					        <li>
					            We have appointed a Data Protection Officer to oversee the
					            management of this Privacy Policy and compliance with the
					            Australian Privacy Principles, the Privacy Act and the GDPR. This
					            officer may have other duties within our business and also be
					            assisted by internal and external professionals and advisors.
					        </li>
					        <li>
					            We will take all reasonable precautions to protect an individual’s
					            Personal Information from unauthorised access. This includes
					            appropriately securing our physical facilities and electronic
					            networks.
					        </li>
					        <li>
					            Fitzroy Academy uses SSL encryption to store and transfer Personal
					            Information. Despite this, the security of online transactions and
					            the security of communications sent by electronic means or by post
					            cannot be guaranteed. Each individual that provides information to
					            us via the internet, over the phone or by post does so at their own
					            risk. We cannot accept responsibility for misuse or loss of, or
					            unauthorised access to, Personal Information where the security of
					            information is not within our control.
					        </li>
					        <li>
					            We are not responsible for the privacy or security practices of any
					            third party (including third parties that we are permitted to
					            disclose an individual’s Personal Information to in accordance with
					            this policy or any applicable laws) unless otherwise required by
					            the Privacy Act and the GDPR. The collection and use of an
					            individual’s information by such third parties may be subject to
					            separate privacy and security policies.
					        </li>
					        <li>
					            If an individual suspects any misuse or loss of, or unauthorised
					            access to, their Personal Information, they should let us know
					            immediately.
					        </li>
					        <li>
					            We are not liable for any loss, damage or claim arising out of
					            another person’s use of the Personal Information where we were
					            authorised to provide that person with the Personal Information.
					        </li>
					        <li>
					            Where there is a breach of security leading to the accidental or
					            unlawful destruction, loss, alteration, unauthorised disclosure of,
					            or access to, Personal Information, then:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                We will immediately establish the likelihood and severity of
					                the resulting risk to wider rights and freedoms of natural
					                persons;
					            </li>
					            <li>
					                <strong></strong>
					                If we determine there is a risk from the security breach, then
					                we will immediately notify the relevant supervisory authority
					                and provide all relevant information on the particular breach,
					                and by no later than 72 hours after having first become aware
					                of the breach;
					            </li>
					            <li>
					                <strong></strong>
					                If we determine there is a high risk from the security breach
					                (a higher threshold than set for notifying supervisory
					                authorities), we will immediately notify the affected
					                individuals and provide all relevant information on the
					                particular breach without undue delay.
					            </li>
					        </ol>
					        <li>
					            We will document the facts relating to any security breach, its
					            effects and the remedial action taken, and investigate the cause of
					            the breach and how to prevent similar situations in the future.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>HOW TO ACCESS AND/OR UPDATE INFORMATION</strong>
					    </li>
					    <ol>
					        <li>
					            Users of Fitzroy Academy can update their Personal Information from
					            within their Fitzroy Academy account or profile.
					        </li>
					        <li>
					            Subject to the Australian Privacy Principles and the GDPR, an
					            individual has the right to request from us the Personal
					            Information that we have about them, and we have an obligation to
					            provide them with such information as soon as practicable, and by
					            no later than 28 days of receiving the written request. The
					            individual is free to retain and reuse their Personal Information
					            for their own purposes. We may be required to transmit the Personal
					            Information directly to another organisation if this is technically
					            feasible.
					        </li>
					        <li>
					            If an individual cannot update their own information, we will
					            correct any errors in the Personal Information we hold about an
					            individual within 28 days of receiving written notice from them
					            about those errors, or two months where the request for
					            rectification is complex.
					        </li>
					        <li>
					            It is an individual’s responsibility to provide us with accurate
					            and truthful Personal Information. We cannot be liable for any
					            information that is provided to us that is incorrect.
					        </li>
					        <li>
					            Where a request to access Personal Information is manifestly
					            unfounded, excessive and/or repetitive, we may refuse to respond or
					            charge an individual a reasonable fee for our costs incurred in
					            meeting any of their requests to disclose the Personal Information
					            we hold about them. Where we refuse to respond to a request, we
					            will explain why to the individual, informing them of their right
					            to complain to the supervisory authority and to a judicial remedy
					            without undue delay and at the latest within 28 days.
					        </li>
					        <li>
					            We may be required to delete or remove all Personal Information we
					            have on an individual upon request in the following circumstances:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                Where the Personal Information is no longer necessary in
					                relation to the purpose for which it was originally collected
					                and/or processed;
					            </li>
					            <li>
					                <strong></strong>
					                When the individual withdraws consent;
					            </li>
					            <li>
					                <strong></strong>
					                When the individual objects to the processing and there is no
					                overriding legitimate interest for continuing the processing;
					            </li>
					            <li>
					                <strong></strong>
					                The processing of the Personal Information was otherwise in
					                breach of the GDPR;
					            </li>
					            <li>
					                <strong></strong>
					                The Personal Information has to be erased in order to comply
					                with a legal obligation; and/or
					            </li>
					            <li>
					                <strong></strong>
					                The Personal Information is in relation to a child.
					            </li>
					        </ol>
					        <li>
					            We may refuse to delete or remove all Personal Information we have
					            on an individual where the Personal Information was processed for
					            the following reasons:
					        </li>
					        <ol>
					            <li>
					                <strong></strong>
					                To exercise the right of freedom of expression and information;
					            </li>
					            <li>
					                <strong></strong>
					                To comply with a legal obligation for the performance of a
					                public interest task or exercise of official authority.
					            </li>
					            <li>
					                <strong></strong>
					                For public health purposes in the public interest;
					            </li>
					            <li>
					                <strong></strong>
					                Archiving purposes in the public interest, scientific research
					                historical research or statistical purposes; or
					            </li>
					            <li>
					                <strong></strong>
					                The exercise or defence of legal claims.
					            </li>
					        </ol>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>COMPLAINTS AND DISPUTES</strong>
					    </li>
					    <ol>
					        <li>
					            If an individual has a complaint about our handling of their
					            Personal Information, they should address their complaint in
					            writing to the details below.
					        </li>
					        <li>
					            If we have a dispute regarding an individual’s Personal
					            Information, we both must first attempt to resolve the issue
					            directly between us.
					        </li>
					        <li>
					            An individual shall have the right to seek a judicial remedy where
					            he or she considers that his or her rights under the GDPR have been
					            infringed as a result of the processing of his or her Personal
					            Information in non-compliance with the GDPR. Any proceedings should
					            be commenced in Victoria, Australia, where we are established
					        </li>
					        <li>
					            If we become aware of any unauthorised access to an individual’s
					            Personal Information we will inform them at the earliest practical
					            opportunity once we have established what was accessed and how it
					            was accessed.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>Contacting INDIVIDUALS</strong>
					    </li>
					    <ol>
					        <li>
					            From time to time, we may send an individual important notices,
					            such as changes to our terms, conditions and policies. Because this
					            information is important to the individual’s interaction with us,
					            they may not opt out of receiving these communications.
					        </li>
					    </ol>
					    <li>
					        <strong></strong>
					        <strong>CONTACTING US</strong>
					    </li>
					    <ol>
					        <li>
					            All correspondence with regards to privacy should be addressed to:
					        </li>
					    </ol>
					</ol>
					<p>
					    Data Protection Officer
					</p>
					<p>
					    Education Everywhere Pty Ltd
					</p>
					<p>
					    137/425 Smith St,<br>
							Fitzroy 3065, Victoria<br>
							Melbourne<br>
							Australia<br>
					</p>
					<p>
					    support@fitzroyacademy.com
					</p>
					<p>
					    You may contact the Data Protection Officer by email in the first instance.
					</p>
					<ol>
					    <li>
					        <strong></strong>
					        <strong>ADDITIONS TO THIS POLICY</strong>
					    </li>
					    <ol>
					        <li>
					            If we decide to change this Privacy Policy, we will post the
					            changes on our webpage at www.fitzroyacademy.com/privacy. Please
					            refer back to this Privacy Policy to review any amendments.
					        </li>
					        <li>
					            We may do things in addition to what is stated in this Privacy
					            Policy to comply with the Australian Privacy Principles and the
					            GDPR, and nothing in this Privacy Policy shall deem us to have not
					            complied with the Australian Privacy Principles and the GDPR.
					        </li>
					    </ol>
					</ol>

				</div>

      </div><!-- fit_medium -->


    </div>

  </article>

</main>

{% endblock %}