{% extends "/layout.html" %}
{% block body %}

<div class="fat_head cyan">
	{% include 'static/play/_head.html' %}
</div>

<div class="fat_section">

  <div class="fit_hero leftie cyan">
    <a class="fit_heartplay">
      <i class="bigboy fal fa-file-contract"></i>
    </a>
    <h1>
      Terms.
      <small>You have rights, and responsibilities.</small>
    </h1>
  </div>

  <div class="fit_medium_rare">

    <div class="fit_rare" id="rare_nav">
      <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
        <i class="fal fa-chevron-down"></i> More in this section
      </a>
      <div class="fit_rare_dropdown">
        {% include 'partials/static_menus/_support.html' %}
      </div>
    </div>
    
    <div class="fit_medium">

			<h2>In simple language!</h2>

			<div class="alert alert-info">This short section attempts to explain your rights and responsibilities in simple language. Our <em>real</em>, legally binding privacy policy is <a href="#lawyer">below.</a></div>
			<hr>
			<h4><i class="fal fa-info-square"></i> We might change things.</h4>
			<p>This site changes every few weeks, and we release new functionality whenever we want, which means we might change the data we collect about you.</p>
			<p>We don’t have to warn you about these changes, and it's up to you to get up to speed when things change.</p>
			<hr class="blunt">
			<h4><i class="fal fa-info-square"></i> Your content is yours, but we can use it.</h4>
			<p>You can enter information about yourself on our app, make comments, documents etc. This is your 'IP' (intellectual property, or <em>'brain gold'</em> as the experts put it).</p>
			<p>We’ll usually ask your permission before we use your information, but remember that we can access and use any info you give us via this app, email, or over the phone.</p>
			<hr class="blunt">
			<h4><i class="fal fa-info-square"></i> Abuse is never okay.</h4>
			<p>There is a more in depth <a href="/support/conduct">code of conduct</a>. The short version is that our staff decide what is and isn't okay.</p>
			<p>We retain the power to act to deal with abusive or bad behaviour from our customers, with no warning. Our staff's decision is final.</p>
			<hr class="blunt">
			<h4><i class="fal fa-info-square"></i> We’re happy to help!</h4>
			<p>If things go seriously wrong lawyers get involved, which is bad for everyone. If you have questions or concerns, email <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a> and we'll help out.</p>
			<p>That's it for now.</p>
			
			<p>Cheers,</p>
			<p>- Fitzroy Academy staff, devs, and founders.</p>

			<hr class="blunt">

			<div class="fit_lawyermode" id="lawyer">
				<div class="alert alert-danger">Now the serious, lawyer's version. This is the legally binding one:</div>
				<hr>
				<h3>EDUCATION EVERYWHERE PTY LTD&nbsp;<strong>ABN 36 164 464 395</strong> TERMS OF SERVICE</h3>
				<hr>
				<p><a name="_Toc193374914"></a><a name="_Toc189628855"></a><a name="_Toc188505969"></a><strong>INTRODUCTION</strong></p>
				<p>The Company provides the 'Fitzroy Academy online application' that provides tools for designing, planning and evaluating businesses. Use of Fitzroy Academy is subject to these Terms of Service.</p>
				<p><a name="_Ref189711706"></a><strong>DEFINITIONS</strong></p>
				<p>The following terms are used regularly throughout these Terms of Service and have a particular meaning:</p>
				<ol>
				<ol>
				<ol type="a">
				<li><p><strong>ABN&nbsp;</strong>means Australian Business Number.</p></li>
				<li><p><strong>ACN</strong>&nbsp;means Australian Company Number.</p></li>
				<li><p><strong>Agreement</strong>&nbsp;means the agreement formed between the Users and the Company under, and on the terms of, these Terms of Service.</p></li>
				<li><p><strong>Business Day&nbsp;</strong>means a day (other than a Saturday, Sunday or public holiday) on which banks are open for general banking business in Melbourne, Australia.</p></li>
				<li><p><strong>Company</strong>&nbsp;means Education Everywhere Pty Ltd ABN 36 164 464 395.</p></li>
				<li><p><strong>Directions</strong>&nbsp;means any direction, instruction or method described in a Lesson.</p></li>
				<li><p><strong>Fee</strong>&nbsp;means a fee charged by the Company for use of Fitzroy Academy.</p></li>
				<li><p><strong>Fitzroy Academy&nbsp;</strong>means:</p>
				<ol type="i">
				<li><p>The Fitzroy Academy digital platform accessible from www.fitzroyacademy.com; and/or</p></li>
				<li><p>Any Fitzroy Academy mobile application.</p></li>
				</ol>
				</li>
				<li><p><strong>GST&nbsp;</strong>has the meaning given by the&nbsp;<em>A New Tax System (Goods and Services Tax) Act 1999&nbsp;</em>(Cth).</p></li>
				<li><p><strong>Intellectual Property</strong>&nbsp;means all copyright, patents, inventions, trade secrets, know-how, product formulations, designs, circuit layouts, databases, registered or unregistered trademarks, brand names, business names, domain names and other forms of intellectual property.</p></li>
				<li><p><strong>Lesson&nbsp;</strong>means any video, text or audio content the Company makes available to Users for educational or training purposes.</p></li>
				<li><p><strong>Privacy Act&nbsp;</strong>means the&nbsp;<em>Privacy Act 1988</em>&nbsp;(Cth).</p></li>
				<li><p><strong>Privacy Policy</strong>&nbsp;means the Company’s privacy policy as updated from time-to-time, which can be found at&nbsp;www.fitzroyacademy.com/privacy.</p></li>
				<li><p><strong>Subscription Fee</strong>&nbsp;means a Fee charged by the Company for use of Fitzroy Academy on a periodical basis.</p></li>
				<li><p><strong>Tax Invoice&nbsp;</strong>has the meaning given by the&nbsp;<em>A New Tax System (Goods and Services Tax) Act&nbsp;</em>1999 (Cth).</p></li>
				<li><p><strong>Team&nbsp;</strong>means a group of one or more Users that collaborate on a Tool.</p></li>
				<li><p><strong>Team Lead</strong>&nbsp;means the User that creates or manages a Tool, or otherwise has administrative control of a Tool for a Team.</p></li>
				<li><p><strong>Team Member</strong>&nbsp;means a registered user of Fitzroy Academy that collaborates on a Tool with other Users.</p></li>
				<li><p><strong>Terms of Service</strong>&nbsp;means the terms and conditions of using Fitzroy Academy, as updated from time-to-time, which can be found at&nbsp;www.fitzroyacademy.com/terms.</p></li>
				<li><p><strong>Tool&nbsp;</strong>means any online information collection form, document or template that a User may create, access or edit via Fitzroy Academy, including:</p>
				<ol type="i">
				<li><p>Lean Canvas;</p></li>
				<li><p>Business Model Canvas;</p></li>
				<li><p>Design iteration form; and</p></li>
				<li><p>Such other tools as the Company may make available via Fitzroy Academy from time-to-time.</p></li>
				</ol>
				</li>
				<li><p><strong>User</strong>&nbsp;means any registered user of Fitzroy Academy.</p></li>
				<li><p><strong>User Content</strong>&nbsp;means images, information, documents or other data that is uploaded or input into Fitzroy Academy by the User or that forms part of the User’s Intellectual Property.</p></li>
				</ol>
				</ol>
				<li><p><strong>USING FITZROY ACADEMY</strong></p>
				<ol>
				<li><p><a name="_Ref257655679"></a><strong>General</strong></p>
				<ol type="a">
				<li><p>To use Fitzroy Academy, the User must log into Fitzroy Academy and have set up their account.</p></li>
				<li><p>The User agrees that all use of Fitzroy Academy is subject to these Terms of Service.</p></li>
				<li><p>Users under the age of 18 must not use Fitzroy Academy without their parent or legal guardian’s consent.</p></li>
				<li><p>The User shall be responsible for paying the Fees for using Fitzroy Academy, unless already paid for by another User on their behalf.</p></li>
				<li><p>The Company may suspend the account or restrict the access of any User that breaches the terms of this Agreement.</p></li>
				</ol>
				</li>
				<li><p><strong>Features</strong></p>
				<ol type="a">
				<li><p>Fitzroy Academy may allow a User to:</p>
				<ol type="i">
				<li><p>Access Lessons;</p></li>
				<li><p>Create, edit and manage Tools;</p></li>
				<li><p>Invite other Team Members to collaborate on a Tool;</p></li>
				<li><p>Manage the privacy and sharing of a Tools;</p></li>
				<li><p>Comment on Tools;</p></li>
				<li><p><a name="_GoBack"></a>Such other features as the Company may make available from time-to-time.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				<li><p><strong>Lessons</strong></p>
				<ol type="a">
				<li><p>The User relies on the information contained in a Lesson at their own risk. In no event will the Company be liable to a User for their reliance on information provided by a Lesson.</p></li>
				<li><p>Lessons are provided as a general guide only. The User is advised to consult a professional in the relevant field if the User has any questions or concerns regarding a Lesson.</p></li>
				<li><p>The Company makes nor warranty or representation as to the accuracy or fitness-for-purpose of any Lesson.</p></li>
				</ol>
				</li>
				<li><p><strong>Using Tools</strong></p>
				<ol type="a">
				<li><p>The Company makes Tools available primarily for educational purposes.</p></li>
				<li><p>The Team Lead shall have primary control over a Tool collaborated on by a Team, including with regard to:</p>
				<ol type="i">
				<li><p>Privacy settings;</p></li>
				<li><p>Membership in a Team;</p></li>
				<li><p>Team Member permissions;</p></li>
				<li><p>Editing settings;</p></li>
				<li><p>Commentary oversight.</p></li>
				</ol>
				</li>
				<li><p>Each Team Member is responsible to the other Team Members of a Team for their use of a Tool. Team Member’s must resolve any dispute with regard to a Team Member’s use of a Tool between them. In no event shall the Company perform a dispute resolution role between Users.</p></li>
				<li><p>In default all Tools are publicly viewable with no privacy restrictions when they are created. It is the Team Lead’s responsibility to ensure that privacy settings are suitable for the Team’s purposes.</p></li>
				</ol>
				</li>
				<li><p><strong>Conduct.&nbsp;</strong>The User acknowledges and accepts that:</p>
				<ol type="a">
				<li><p>The Company accepts no responsibility for the conduct of any User of Fitzroy Academy.</p></li>
				<li><p>The Company accepts no responsibility for any interaction between Users, whether that interaction occurs via Fitzroy Academy or not.</p></li>
				<li><p>The Company makes no warranty or representation as to the accuracy of any information provided by any User.</p></li>
				<li><p>The Company makes no warranty as to the character or credentials of any User.</p></li>
				</ol>
				</li>
				<li><p><strong>Lodging a Complaint.</strong></p>
				<ol type="a">
				<li><p>If a User believes that another user’s behaviour is threatening, discriminatory, or deliberately offensive, the User may lodge a complaint to the Company via email at support@fitzroyacademy.com.</p></li>
				<li><p>The Company may suspend or delete the account of any User that Fitzroy Academy determines conducts itself inappropriately.</p></li>
				<li><p>The Company will advise the User of a suspended or deleted account of the decision to do so, but is under no obligation to identify a complainant.</p></li>
				<li><p>The Company’s decision whether or not to suspend or remove a User account is at its absolute discretion. The Company’s decision shall be final and not subject to review.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				</ol>
				<ol>
				<li><p><strong>USER CONTENT</strong></p></li>
				</ol>
				<ol>
				<ol>
				<li><p>The User acknowledges and agrees that:</p>
				<ol type="a">
				<li><p>Fitzroy Academy may enable the User to create User Content, but that by doing so the User shall not acquire an interest to any Intellectual Property owned by the Company, which may exist in Fitzroy Academy.</p></li>
				<li><p>User Content is the sole responsibility of the person that provided the User Content to Fitzroy Academy.</p></li>
				<li><p>The User indemnifies the Company for any User Content that is illegal, offensive, indecent or objectionable that the User makes available using Fitzroy Academy.</p></li>
				<li><p>The Company may suspend accessibility to, remove or edit User Content via Fitzroy Academy that the Company determines is illegal, offensive, indecent or objectionable in its sole discretion.</p></li>
				<li><p>To the extent permitted by law, under no circumstances will the Company be liable in any way for User Content.</p></li>
				<li><p>The User warrants that it has all necessary Intellectual Property Rights to use User Content, and shall indemnify the Company for any infringement the User commits of third-party Intellectual Property Rights by using User Content on Fitzroy Academy.</p></li>
				<li><p>In order to provide the services afforded by Fitzroy Academy, where the User Content includes the User’s brand, logo or other intellectual property, it grants the Company a worldwide, revocable license to use the User Content, for the term of this Agreement.</p></li>
				</ol>
				</li>
				</ol>
				</ol>
				<ol start="2">
				<li><p><strong>FEES, PAYMENTS &amp; REFUNDS</strong></p></li>
				</ol>
				<ol>
				<ol start="8">
				<li><p><strong>Fees</strong></p>
				<ol type="a">
				<li><p>The primary Fee to use Fitzroy Academy shall be the Subscription Fee, which is payable in advance (after any free trial period has expired).</p></li>
				<li><p>Each Fee applies in accordance with such features, number of licences and/or services subscribed for by the User in accordance with the pricing described on the Site, or as otherwise agreed with the Company.</p></li>
				<li><p>The User agrees to make payment in advance for all Fees due at such frequency, or on such dates as the User has subscribed for.</p></li>
				<li><p>All payments shall be made via the online payment gateway within Fitzroy Academy, or in such other manner as the Company may direct from time-to-time. The User agrees that it has no right to access Fitzroy Academy if it fails to make payments when due.</p></li>
				<li><p>The Company reserves the right to introduce or change any Fees from time-to-time by giving the User no less than 14 days’ written notice. Any new or changed Fees will apply at the next billing period after the User has been given such notice.</p></li>
				<li><p>If a User does not accept a change to any Fees, then it can simply terminate its Account.</p></li>
				</ol>
				</li>
				<li><p><strong>Currency.</strong></p></li>
				</ol>
				</ol>
				<p>All Fees may be quoted in Australian or US dollars, however transactions may be processed in an equivalent foreign currency (such as Euros or British pounds).</p>
				<ol>
				<ol start="10">
				<li><p><strong>GST.</strong></p></li>
				</ol>
				</ol>
				<p>For Users in Australia, GST is applicable to any Fees charged by the Company to the User. Unless expressed otherwise, all Fees shall be deemed inclusive of GST. The Company will provide the User with a Tax Invoice for any payments.</p>
				<ol>
				<ol start="11">
				<li><p><strong>Refunds.</strong></p></li>
				</ol>
				</ol>
				<p>No refunds of Fees are offered other than as required by law.</p>
				<ol>
				<ol>
				<li><p><a name="_Ref258757434"></a><strong>Late Payment.</strong></p>
				<ol type="a">
				<li><p><a name="_Ref258758381"></a>If the User does not pay the full Fees as required, the Company may suspend all User access to Fitzroy Academy for that Account.</p></li>
				<li><p><a name="_Ref258758588"></a><a name="_Ref258757439"></a>If Fees are not brought out of arrears within 28 days of becoming overdue, the Company may terminate the User’s Account in Fitzroy Academy without notice and end this Agreement.</p></li>
				<li><p>The User agrees that the Company shall not be responsible or liable in any way for:</p>
				<ol type="i">
				<li><p>Interruptions to the availability of Fitzroy Academy or User Content in the event of (a);</p></li>
				<li><p>Loss of User Content in the event of (b).</p></li>
				</ol>
				</li>
				</ol>
				</li>
				</ol>
				</ol>
				<ol start="3">
				<li><p><strong>GENERAL CONDITIONS</strong></p></li>
				</ol>
				<ol>
				<ol start="13">
				<li><p><strong>Licence</strong></p>
				<ol type="a">
				<li><p>By accepting the terms and conditions of this Agreement, the User is granted a limited, non-exclusive and revocable licence to access and use Fitzroy Academy for the duration of this Agreement, in accordance with the terms and conditions of this Agreement.</p></li>
				<li><p>The Company may issue the licence to the User on the further terms or limitations (including the number of users or volume of use or transactions) as it sees fit.</p></li>
				<li><p>The Company may revoke or suspend the User’s licence(s) in its absolute discretion for any reason that it sees fit, including for breach of the terms and conditions in this Agreement by the User.</p></li>
				</ol>
				</li>
				<li><p><strong>Modification of Terms</strong></p>
				<ol type="a">
				<li><p>The terms of this Agreement may be updated by the Company from time-to-time.</p></li>
				<li><p>Where the Company modifies the terms, it will provide the User with written notice, and the User will be required to accept the modified terms in order to continue using Fitzroy Academy.</p></li>
				</ol>
				</li>
				<li><p><strong>Software-as-a-Service</strong></p>
				<ol type="a">
				<li><p>The User agrees and accepts that Fitzroy Academy is:</p>
				<ol type="i">
				<li><p>Hosted by the Company and shall only be installed, accessed and maintained by the Company, accessed using the internet or other connection to the servers operated by the Company and is not available ‘locally’ from the User’s systems; and</p></li>
				<li><p>Managed and supported exclusively by the Company from the servers operated by the Company and that no ‘back-end’ access to Fitzroy Academy is available to the User unless expressly agreed in writing.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref192242957"></a>As a hosted and managed service, the Company reserves the right to upgrade, maintain, tune, backup, amend, add or remove features, redesign, improve or otherwise alter Fitzroy Academy.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref340846228"></a><strong>Support</strong></p>
				<ol type="a">
				<li><p>The Company provides user support for Fitzroy Academy via the email address support@fitzroyacademy.com.</p></li>
				<li><p>The Company shall endeavour to respond to all support requests within 1 Business Day.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref361572996"></a><strong>Use &amp; Availability</strong></p>
				<ol type="a">
				<li><p>The User agrees that it shall only use Fitzroy Academy for legal purposes and shall not use it to engage in any conduct that is unlawful, immoral, threatening, abusive or in a way that is deemed unreasonable by the Company in its discretion.</p></li>
				<li><p>The User is solely responsible for the security of its username and password for access to Fitzroy Academy. The User shall notify the Company as soon as it becomes aware of any unauthorised access of its Fitzroy Academy account.</p></li>
				<li><p>The User agrees that the Company shall provide access to Fitzroy Academy to the best of its abilities, however:</p>
				<ol type="i">
				<li><p>Access to Fitzroy Academy may be prevented by issues outside of its control; and</p></li>
				<li><p>It accepts no responsibility for ongoing access to Fitzroy Academy.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				<li><p><a name="_Ref361573002"></a><strong>Privacy</strong></p>
				<ol type="a">
				<li><p>The Company maintains the Privacy Policy in compliance with the provisions of the Privacy Act for data that it collects about the User and other customers.</p></li>
				<li><p>The Privacy Policy does not apply to how the User handles personal information. If necessary under the Privacy Act, it is the User’s responsibility to meet the obligations of the Privacy Act by implementing a privacy policy in accordance with law.</p></li>
				<li><p>Fitzroy Academy may use cookies (a small electronic tracking code) to improve a User’s experience while browsing, while also sending browsing information back to the Company. The User may manage how it handles cookies in its own browser settings.</p></li>
				</ol>
				</li>
				<li><p><a name="_Toc193374938"></a><a name="_Ref361573004"></a><strong>Data</strong></p>
				<ol type="a">
				<li><p><strong>Security.</strong>&nbsp;The Company takes the security of Fitzroy Academy and the privacy of its Users very seriously. The User agrees that the User shall not do anything to prejudice the security or privacy of the Company’s systems or the information on them.</p></li>
				<li><p><strong>Transmission.</strong>&nbsp;The Company shall do all things reasonable to ensure that the transmission of data occurs according to accepted industry standards. It is up to the User to ensure that any transmission standards meet the User’s operating and legal requirements.</p></li>
				<li><p><strong>Storage.</strong>&nbsp;The Company stores data on servers based in the USA according to accepted industry standards. If the User requires its User Content to be stored in a different location, the Company may charge the User a fee to do so.</p></li>
				<li><p><strong>Backup.</strong>&nbsp;The Company shall perform backups of its entire systems in as reasonable manner at such times and intervals as is reasonable for its business purposes. The Company does not warrant that it is able to backup or recover specific User Content from any period of time unless so stated in writing by the Company.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref361573007"></a><strong>Intellectual Property</strong></p>
				<ol type="a">
				<li><p><strong>Trademarks.</strong>&nbsp;The Company has moral &amp; registered rights in its trade marks and the User shall not copy, alter, use or otherwise deal in the marks without the prior written consent of the Company.</p></li>
				<li><p><strong>Proprietary Information.</strong>&nbsp;The Company may use software and other proprietary systems and Intellectual Property for which the Company has appropriate authority to use, and the User agrees that such is protected by copyright, trademarks, patents, proprietary rights and other laws, both domestically and internationally. The User warrants that it shall not infringe on any third-party rights through the use of Fitzroy Academy.</p></li>
				<li><p><strong>The Fitzroy Academy Application.&nbsp;</strong>The User agrees and accepts that Fitzroy Academy is the Intellectual Property of the Company and the User further warrants that by using Fitzroy Academy the User will not:</p>
				<ol type="i">
				<li><p>Copy Fitzroy Academy or the services that it provides for the User’s own commercial purposes; and</p></li>
				<li><p>Directly or indirectly copy, recreate, decompile, reverse engineer or otherwise obtain, modify or use any source or object code, architecture, algorithms contained in Fitzroy Academy or any documentation associated with it.</p></li>
				</ol>
				</li>
				<li><p><strong>Content.</strong>&nbsp;All content submitted to the Company, whether via Fitzroy Academy or directly by other means, becomes and remains the Intellectual Property of the Company, including (without limitation) any source code, analytics, insights, ideas, enhancements, feature requests, suggestions or other information provided by the User or any other party with respect to Fitzroy Academy.</p></li>
				</ol>
				</li>
				<li><p><a name="_Toc193374941"></a><a name="_Ref192244904"></a><a name="_Ref188527681"></a><strong>Disclaimer of Third Party Services &amp; Information</strong></p>
				<ol type="a">
				<li><p>The User acknowledges that Fitzroy Academy is dependent on third-party services, including but not limited to:</p>
				<ol type="i">
				<li><p>Banks, credit card providers and merchant gateway providers;</p></li>
				<li><p>Telecommunications services;</p></li>
				<li><p>Hosting services;</p></li>
				<li><p>Email services; and</p></li>
				<li><p>Analytics services.</p></li>
				</ol>
				</li>
				<li><p>The User agrees that the Company shall not be responsible or liable in any way for:</p>
				<ol type="i">
				<li><p>Interruptions to the availability of Fitzroy Academy due to third-party services; or</p></li>
				<li><p>Information contained on any linked third party website.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				<li><p><a name="_Ref361572947"></a><strong>Liability &amp; Indemnity</strong></p>
				<ol type="a">
				<li><p>The User agrees that it uses Fitzroy Academy at its own risk.</p></li>
				<li><p>The User acknowledges that the Company is not responsible for the conduct or activities of any User and that the Company is not liable for such under any circumstances.</p></li>
				<li><p>The User agrees to indemnify the Company for any loss, damage, cost or expense that the Company may suffer or incur as a result of or in connection with the User’s use of or conduct in connection with Fitzroy Academy, including any breach by the User of these Terms of Service.</p></li>
				<li><p>In no circumstances will the Company be liable for any direct, incidental, consequential or indirect damages, damage to property, loss of property, loss or corruption of data, loss of profits, goodwill, bargain or opportunity, loss of anticipated savings or any other similar or analogous loss resulting from the User’s access to, or use of, or inability to use Fitzroy Academy, whether based on warranty, contract, tort, negligence, in equity or any other legal theory, and whether or not the Company knew or should have known of the possibility of such damage, or business interruption of any type, whether in tort, contract or otherwise.</p></li>
				<li><p>Certain rights and remedies may be available under the&nbsp;<em>Competition and Consumer Act 2010</em>&nbsp;(Cth) or similar legislation of other States or Territories and may not be permitted to be excluded, restricted or modified. Apart from those that cannot be excluded, the Company and the Company’s related entities exclude all conditions and warranties that may be implied by law. To the extent permitted by law, the Company’s liability for breach of any implied warranty or condition that cannot be excluded is restricted, at the Company’s option to:</p>
				<ol type="i">
				<li><p>The re-supply of services or payment of the cost of re-supply of services; or</p></li>
				<li><p>The replacement or repair of goods or payment of the cost of replacement or repair.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				<li><p><strong>Termination</strong></p>
				<ol type="a">
				<li><p>Either party may terminate this Agreement by giving the other party 1 month’s written notice.</p></li>
				<li><p>Termination of this agreement is without prejudice to and does not affect the accrued rights or remedies of any of the parties arising in any way out of this agreement up to the date of expiry or termination.</p></li>
				<li><p>Termination does not affect any of the rights accrued by a party prior to termination, and the rights and obligations under clauses 4.5, 4.6, 4.7, 4.8 4.9, 4.10, 4.12, 4.13 and 4.14 survive termination of this Agreement.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref449348500"></a><strong>Dispute Resolution</strong></p>
				<ol type="a">
				<li><p>If any dispute arises between the parties in connection with this Agreement (<strong>Dispute</strong>), then either party may notify the other of the Dispute with a notice (<strong>Dispute Notice</strong>) which:</p>
				<ol type="i">
				<li><p>Includes or is accompanied by full and detailed particulars of the Dispute; and</p></li>
				<li><p>Is delivered within 10 Business Days of the circumstances giving rise to the Dispute first occurring.</p></li>
				</ol>
				</li>
				<li><p>Within 10 Business Days after a Dispute Notice is given, a representative of each party with the authority to resolve the dispute, must meet (virtually or otherwise) and seek to resolve the Dispute.</p></li>
				<li><p>Subject to clause (d), a party must not bring court proceedings in respect of any Dispute unless it first complies with the requirements of the dispute resolution mechanism outlined in this clause.</p></li>
				<li><p><a name="_Ref191631974"></a>Nothing in this clause prevents either party from instituting court proceedings to seek urgent injunctive, interlocutory or declaratory relief in respect of a Dispute.</p></li>
				<li><p>Despite the existence of a Dispute, the parties must continue to perform their respective obligations under this document and any related agreements.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref449348504"></a><strong>Electronic Communication, Amendment &amp; Assignment</strong></p>
				<ol type="a">
				<li><p>The words in this clause that are defined in the&nbsp;<em>Electronic Transactions Act 1999 (Cth)</em>&nbsp;have the same meaning.</p></li>
				<li><p>The User can direct notices, enquiries, complaints and so forth to the Company as set out in this Agreement. The Company will notify the User of a change of details from time-to-time.</p></li>
				<li><p>The Company will send the User notices and other correspondence to the details that the User submits to the Company, or that the User notifies the Company of from time-to-time. It is the User’s responsibility to update its contact details as they change.</p></li>
				<li><p><a name="_Ref187853264"></a>A consent, notice or communication under this Agreement is effective if it is sent as an electronic communication unless required to be physically delivered under law.</p></li>
				<li><p>Notices must be sent to the parties’ most recent known contact details.</p></li>
				<li><p><a name="_Toc193374947"></a><a name="_Ref192244930"></a><a name="_Toc188598638"></a>The User may not assign or otherwise create an interest in this Agreement.</p></li>
				<li><p>The Company may assign or otherwise create an interest in its rights under this Agreement by giving written notice to the User.</p></li>
				</ol>
				</li>
				<li><p><a name="_Ref361573076"></a><strong>General</strong></p>
				<ol type="a">
				<li><p><strong>Special Conditions.&nbsp;</strong>The parties may agree to any Special Conditions to this Agreement in writing.</p></li>
				<li><p><strong>Prevalence.</strong>&nbsp;To the extent this Agreement is in conflict with, or inconsistent with any Special Conditions made under this Agreement, the terms of those Special Conditions shall prevail.</p></li>
				<li><p><strong>Disclaimer.</strong>&nbsp;Each party acknowledges that it has not relied on any representation, warranty or statement made by any other party, other than as set out in this Agreement.</p></li>
				<li><p><strong>Relationship.&nbsp;</strong>The relationship of the parties to this Agreement does not form a joint venture or partnership.</p></li>
				<li><p><strong>Waiver.&nbsp;</strong>No clause of this Agreement will be deemed waived and no breach excused unless such waiver or consent is provided in writing.</p></li>
				<li><p><a name="_Ref190184794"></a><strong>Further Assurances.&nbsp;</strong>Each party must do anything necessary (including executing agreements and documents) to give full effect to this Agreement and the transaction facilitated by it.</p></li>
				<li><p><strong>Governing Law.&nbsp;</strong>This Agreement is governed by the laws of Victoria, Australia. Each of the parties hereby submits to the non-exclusive jurisdiction of courts with jurisdiction there.</p></li>
				<li><p><strong>Severability.</strong>&nbsp;Any clause of this&nbsp;Agreement, which is invalid or unenforceable, is ineffective to the extent of the invalidity or unenforceability without affecting the remaining clauses of this Agreement.</p></li>
				<li><p><a name="_Toc188685622"></a><strong>Interpretation.</strong>&nbsp;The following rules apply unless the context requires otherwise:</p>
				<ol type="i">
				<li><p><a name="_Toc188685623"></a>Headings are only for convenience and do not affect interpretation.</p></li>
				<li><p>The singular includes the plural and the opposite also applies.</p></li>
				<li><p><a name="_Toc188685624"></a>If a word or phrase is defined, any other grammatical form of that word or phrase has a corresponding meaning.</p></li>
				<li><p><a name="_Toc188685625"></a>A reference to a clause refers to clauses in this Agreement.</p></li>
				<li><p><a name="_Toc188685626"></a>A reference to legislation is to that legislation as amended, re‑enacted or replaced, and includes any subordinate legislation issued under it.</p></li>
				<li><p><a name="_Toc188685627"></a>Mentioning anything after&nbsp;<em>includes</em>,&nbsp;<em>including</em>, or similar expressions, does not limit anything else that might be included.</p></li>
				<li><p><a name="_Toc188685628"></a>A reference to a&nbsp;<em>party</em>&nbsp;to this Agreement or another agreement or document includes that party’s successors and permitted substitutes and assigns (and, where applicable, the party’s legal personal representatives).</p></li>
				<li><p><a name="_Toc188685629"></a>A reference to a&nbsp;<em>person</em>,&nbsp;<em>corporation</em>,&nbsp;<em>trust</em>,&nbsp;<em>partnership</em>,&nbsp;<em>unincorporated body</em>&nbsp;or other entity includes any of them.</p></li>
				<li><p><a name="_Toc188685630"></a>A reference to&nbsp;<em>information</em>&nbsp;is to information of any kind in any form or medium, whether formal or informal, written or unwritten, for example, computer software or programs, concepts, data, drawings, ideas, knowledge, procedures, source codes or object codes, technology or trade secrets.</p></li>
				</ol>
				</li>
				</ol>
				</li>
				</ol>
				</ol>

			</div>
    </div><!-- fit_medium -->
  </div>
</div>

{% endblock %}