{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course">

      <h1>Editing course.</h1>

      <form>
        <div class="form-group">
          <label for="course_name">Course name</label>
          <input type="text" class="form-control form-control-lg" name="course_name" value="Introduction to social enterprise" id="course_name" placeholder="Name your course">
        </div>
        <div class="form-group">
          <label for="course_by">Curated by</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name" value="Your name">
          {# <small id="emailHelp" class="form-text text-muted">Wohawpeaipowjef .</small> #}
        </div>
      <form>
      

      <div class="fit_vidya squished">
        <img class="placeholder" src="./assets/images/defaults/vidblank.jpg" alt="video">
        <a class="fit_vidya_play" href="#"><i class="fas fa-upload"></i></a>
      </div>

      <div class="fit_subvidya d-none">

        <div class="row">
          <div class="col-md-4">
            <a href="#" class="card transcripts">
              <span class="fas cardtop fa-play-circle"></span>
              <div class="card-body">
                <h5>12 lessons</h5>
                <p class="card-text">3.6 hours total playtime.</p>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="#" class="card resources">
              <span class="fas cardtop fa-file-alt"></span>
              <div class="card-body">
                <h5>Resources</h5>
                <p class="card-text">Templates for every lesson.</p>
              </div>
            </a>
          </div>

          <div class="col-md-4">
            <a href="#" class="card rating">
              <span class="fas cardtop fa-question-square"></span>
              <div class="card-body">
                <h5>FAQs + help</h5>
                <p class="card-text">FAQs and examples.</p>
              </div>
            </a>
          </div>     

        </div>
      </div>

      <h3>
        <span class="txt">
          Lesson plan.
          <small><span class="fas fa-clock"></span> 4 hours, 49 minutes</small>
        </span>
        <div class="subtxt">
          <a href="lesson_edit.html" class="btn btn-primary">Edit lessons</a>
        </div>
        
      </h3>

      <div class="fit_body fit_lessons">

        <div class="fit_lesson">
          <div class="fit_link collapsed i-l i-t" data-toggle="collapse" href="#fit_lesson_1" role="button" aria-expanded="fit_lesson_1" aria-controls="fit_lesson_1">
            <div class="fit_video">
              <img src="./assets/images/lessons/public-campaigning.jpg" alt="course">

            </div>
            <span class="fit_txt">Introduction and how-to guide</span>
            
          </div>
        </div>

        <div class="fit_lesson">
          <div class="fit_link collapsed i-l i-t" data-toggle="collapse" href="#fit_lesson_1" role="button" aria-expanded="fit_lesson_1" aria-controls="fit_lesson_1">
            <div class="fit_video">
              <img src="./assets/images/lessons/agile-project-management.jpg" alt="course">
            </div>
            <span class="fit_txt">Agile project management</span>
            <span class="fit_txt spacer">&bull;</span>
            <span class="fit_txt secondary">Clare Carmody, Salesforce</span>
            
          </div>
        </div>
        <div class="fit_lesson">
          <div class="collapse" id="fit_lesson_1">
            <div class="fit_body fit_segments">
              <a class="fit_link complete i-l i-t" href="#">
                <span class="fit_txt">Introduction</span> 
                <span class="fas fa-check"></span>
                <span class="fit_time">1:01</span>
              </a>
              <a class="fit_link complete i-l i-t" href="#">
                <span class="fit_txt">The interviewee</span> 
                <span class="fas fa-check"></span>
                <span class="fit_time">3:22</span>
              </a>
              <a class="fit_link complete i-l i-t" href="#">
                <span class="fit_txt">The questionnaire</span> 
                <span class="fas fa-check"></span>
                <span class="fit_time">4:52</span>
              </a>
              <a class="fit_link complete  i-l i-t" href="#">
                <span class="fit_txt">Getting started</span> 
                <span class="fas fa-check"></span>
                <span class="fit_time">1:30</span>
              </a>
            </div>
          </div>          
        </div>

        <div class="fit_lesson">
          <div class="fit_link collapsed i-l i-t" data-toggle="collapse" href="#fit_lesson_2" role="button" aria-expanded="fit_lesson_2" aria-controls="fit_lesson_2">
            <div class="fit_video">
              <img src="./assets/images/lessons/community-integration.jpg" alt="course">

            </div>
            <span class="fit_txt">Community integration</span>
            <span class="fit_txt spacer">&bull;</span>
            <span class="fit_txt secondary">Jennifer Schechter, Integrate Health</span>
            
          </div>

          <div class="collapse" id="fit_lesson_2">
            <div class="fit_body fit_segments">
              <a class="fit_link i-l i-t" href="#">
                <span class="fit_txt">Introduction</span> 
                <span class="fas fa-circle"></span>
                <span class="fit_time">1:01</span>
              </a>
              <a class="fit_link i-l i-t" href="#">
                <span class="fit_txt">The interviewee</span> 
                <span class="fas fa-circle"></span>
                <span class="fit_time">3:22</span>
              </a>
              <a class="fit_link i-l i-t" href="#">
                <span class="fit_txt">The questionairre</span> 
                <span class="fas fa-circle"></span>
                <span class="fit_time">4:52</span>
              </a>
              <a class="fit_link i-l i-t" href="#">
                <span class="fit_txt">Survey</span> 
                <span class="fas fa-poll-h"></span>
                <span class="fit_time"></span>
              </a>
              <a class="fit_link i-l i-t" href="#">
                <span class="fit_txt">Finishing up</span> 
                <span class="fas fa-circle"></span>
                <span class="fit_time">1:30</span>
              </a>
            </div>
          </div>          
        </div>
        
        <div class="fit_lesson">
          <div class="fit_link collapsed i-l i-t" href="#">
            <div class="fit_video"><img src="./assets/images/lessons/empathy-mapping.jpg" alt="course"></div>
            <span class="fit_txt">Empathy mapping</span>
            <span class="fit_txt spacer">&bull;</span>
            <span class="fit_txt secondary">Caitlyn Cook, Coach</span>
            
          </div>        
        </div>
        <div class="fit_lesson">
          <div class="fit_link collapsed i-l i-t" href="#">
            <div class="fit_video"><img src="./assets/images/lessons/crowdfunding.jpg" alt="course"></div>
            <span class="fit_txt">Crowdfunding</span>
            <span class="fit_txt spacer">&bull;</span>
            <span class="fit_txt secondary">Prashan Paramanathan, Chuffed</span>            
            
          </div>
        </div>
      </div>
      <!-- end vid stack -->
      <div class="fit_pane">
<!--       <h3>
        <span class="txt">About the course.</span>
      </h3> -->
        <dl class="fit_summary_icons">
          <dt><i class="far fa-users"></i> Who's it for?</dt>
          <dd>
            <div class="form-group">
              <input type="text" class="form-control" id="blah" placeholder="Who is this course for?" value="Super early stage social enterprise founders, starting your first business or a new project from scratch.">
              <small id="emailHelp" class="form-text text-muted">For a good examples, see <a href="#">our guide.</a></small>
            </div>
          </dd>
          <dt><i class="far fa-clock"></i> Course length &amp; workload:</dt>
          <dd>
            <div class="form-group">
              <input type="text" class="form-control" id="blah" placeholder="How much work per day or week is this course, and for how long?" value="About 3-4 hours per week, for 12 weeks.">
            </div>
          </dd>
          <dt><i class="fas fa-hashtag"></i></dt>
          <dd>
            <div class="form-group">
              <a href="#" class="badge badge-primary">social enterprise</a>
              <a href="#" class="badge badge-primary">early stage</a>
              <a href="#" class="badge badge-primary">business</a>
              <a href="#" class="badge badge-primary">introduction</a>
            </div>            
          </dd>
        </dl>
      </div>
      <h3>What you'll learn.</h3>
      <div class="form-group">
        <textarea type="text" rows="10" class="form-control" id="blah" placeholder="What will students know by the end of this course?">Go from zero to one: From a basic idea to early customers, business models and getting the numbers right.

You don't need any previous business experience, but by the end you'll cover quite complex topics like financial modelling,

On the social impact side of things, you'll define your impact model, look into creating behaviour change that lasts, and maybe even think about partnering with another organisation to create impact.</textarea>
      </div>

    </div>      

    <div class="fit_cta">
      <div class="fit_course">
        <h3>Ready to begin?</h3>
        <!-- <a href="#" class="btn btn-light btn-hg btn-drop" role="button"><i class="fas fa-rocket"></i> Start the course</a> -->
        <form>
          <div class="form-group fit_form_code">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Course code" required>
            <label for="exampleFormControlInput1">Course code</label>
            <button type="submit" class="btn btn-text"><i class="fas fa-rocket"></i></button>
          </div>
        </form>
        <p class="fit_cta_tnc">This course is <a href="#">completely free</a> forever!</p>
      </div>
    </div>

  </article>

</main>

{% endblock %}