

  </article>

  <aside>
    
      <div id="fit_lesson_detail" class="fits" data-fit-active-lesson="1">

  <a class="fit_btn courselist active_latest" data-toggle="collapse" href="#fit_lesson_list" role="button">
    <i class="fal fa-list" aria-hidden="true"></i>
    <span class="fit_txt">Course</span> 
    <i class="fas fa-chevron-down" aria-hidden="true"></i>
  </a>

  <div class="fit_body courselist collapse show active_latest" id="fit_lesson_list">
    <div class="fit_lesson_asider">
      
        <div class="
  fit_lesson
 active
 
  " data-fit-lesson="1">
  <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_1" role="button" aria-controls="fit_lesson_1">
    <div class="fit_pic vid">
      <img src="https://embed-ssl.wistia.com/deliveries/34aa394bce40d844a6914ed6b020eac6c0181c65.jpg?image_crop_resized=640x360" alt="course">
      <i class="fas fa-play" aria-hidden="true"></i>
    </div>
    <span class="fit_txt">How to have good ideas</span>
    <span class="fit_sub"></span>
    <i class="fit_hovermin fas fa-chevron-up" aria-hidden="true"></i>
  </a>
  <div class="collapse show" id="fit_lesson_1">
    <div class="fit_body fit_segments">
      
        <a class="fit_btn html active" href="/course/fitzroy-academy/how-to-have-good-ideas/seg_a" data-fit-segment="1" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
          <span class="fit_txt">Introduction</span> 
          <span class="fit_sub">72</span>
        </a>
      
        <a class="fit_btn resource " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_b" data-fit-segment="2" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson Resources"></i><span class="sr-only">Lesson Resources</span>
          <span class="fit_txt">Lesson Resources</span> 
          <span class="fit_sub">156</span>
        </a>
      
        <a class="fit_btn practical " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_c" data-fit-segment="3" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Drawing without words"></i><span class="sr-only">Drawing without words</span>
          <span class="fit_txt">Drawing without words</span> 
          <span class="fit_sub">492</span>
        </a>
      
        <a class="fit_btn survey " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_d" data-fit-segment="4" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Five designers in a box"></i><span class="sr-only">Five designers in a box</span>
          <span class="fit_txt">Five designers in a box</span> 
          <span class="fit_sub">96</span>
        </a>
      
        <a class="fit_btn video " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_e" data-fit-segment="5" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Quiet loud brainstorming"></i><span class="sr-only">Quiet loud brainstorming</span>
          <span class="fit_txt">Quiet loud brainstorming</span> 
          <span class="fit_sub">434</span>
        </a>
      
        <a class="fit_btn story " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_f" data-fit-segment="6" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Party in the woods"></i><span class="sr-only">Party in the woods</span>
          <span class="fit_txt">Party in the woods</span> 
          <span class="fit_sub">167</span>
        </a>
      
        <a class="fit_btn video " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_g" data-fit-segment="7" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Find your Awe"></i><span class="sr-only">Find your Awe</span>
          <span class="fit_txt">Find your Awe</span> 
          <span class="fit_sub">476</span>
        </a>
      
        <a class="fit_btn html " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_h" data-fit-segment="8" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Mulago Fellow"></i><span class="sr-only">Mulago Fellow</span>
          <span class="fit_txt">Mulago Fellow</span> 
          <span class="fit_sub">213</span>
        </a>
      
        <a class="fit_btn story " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_i" data-fit-segment="9" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Literal change of perspective"></i><span class="sr-only">Literal change of perspective</span>
          <span class="fit_txt">Literal change of perspective</span> 
          <span class="fit_sub">248</span>
        </a>
      
        <a class="fit_btn video_wistia " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_j" data-fit-segment="10" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Make your own movie soundtrack"></i><span class="sr-only">Make your own movie soundtrack</span>
          <span class="fit_txt">Make your own movie soundtrack</span> 
          <span class="fit_sub">255</span>
        </a>
      
        <a class="fit_btn case " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_k" data-fit-segment="11" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Speedriding"></i><span class="sr-only">Speedriding</span>
          <span class="fit_txt">Speedriding</span> 
          <span class="fit_sub">166</span>
        </a>
      
        <a class="fit_btn practical " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_l" data-fit-segment="12" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Historical Mirrors"></i><span class="sr-only">Historical Mirrors</span>
          <span class="fit_txt">Historical Mirrors</span> 
          <span class="fit_sub">344</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-have-good-ideas/seg_m" data-fit-segment="13" data-fit-parent="1">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Sleep"></i><span class="sr-only">Sleep</span>
          <span class="fit_txt">Sleep</span> 
          <span class="fit_sub">348</span>
        </a>
      
    </div>
  </div>
</div>
      
        <div class="
  fit_lesson
 
 collapsed
  " data-fit-lesson="2">
  <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_2" role="button" aria-controls="fit_lesson_2">
    <div class="fit_pic vid">
      <img src="https://embed-ssl.wistia.com/deliveries/62fb7069b056ca6b233e463652e159667f27b99a.jpg?image_crop_resized=640x360" alt="course">
      <i class="fas fa-play" aria-hidden="true"></i>
    </div>
    <span class="fit_txt">How to sell when you hate selling</span>
    <span class="fit_sub"></span>
    <i class="fit_hovermin fas fa-chevron-up" aria-hidden="true"></i>
  </a>
  <div class="collapse " id="fit_lesson_2">
    <div class="fit_body fit_segments">
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_n" data-fit-segment="14" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
          <span class="fit_txt">Introduction</span> 
          <span class="fit_sub">90</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_o" data-fit-segment="15" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson resources"></i><span class="sr-only">Lesson resources</span>
          <span class="fit_txt">Lesson resources</span> 
          <span class="fit_sub">36</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_p" data-fit-segment="16" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Prepwork"></i><span class="sr-only">Prepwork</span>
          <span class="fit_txt">Prepwork</span> 
          <span class="fit_sub">214</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_q" data-fit-segment="17" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="The Pipeline"></i><span class="sr-only">The Pipeline</span>
          <span class="fit_txt">The Pipeline</span> 
          <span class="fit_sub">451</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_r" data-fit-segment="18" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Making Contact"></i><span class="sr-only">Making Contact</span>
          <span class="fit_txt">Making Contact</span> 
          <span class="fit_sub">623</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_s" data-fit-segment="19" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Meeting in person"></i><span class="sr-only">Meeting in person</span>
          <span class="fit_txt">Meeting in person</span> 
          <span class="fit_sub">356</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/seg_t" data-fit-segment="20" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Follow up and Routines"></i><span class="sr-only">Follow up and Routines</span>
          <span class="fit_txt">Follow up and Routines</span> 
          <span class="fit_sub">323</span>
        </a>
      
        <a class="fit_btn text " href="/course/fitzroy-academy/how-to-sell-when-you-hate-selling/this-is-my-segment" data-fit-segment="30" data-fit-parent="2">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="This is my segment"></i><span class="sr-only">This is my segment</span>
          <span class="fit_txt">This is my segment</span> 
          <span class="fit_sub">0</span>
        </a>
      
    </div>
  </div>
</div>
      
        <div class="
  fit_lesson
 
 collapsed
  " data-fit-lesson="3">
  <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_3" role="button" aria-controls="fit_lesson_3">
    <div class="fit_pic vid">
      <img src="https://embed-ssl.wistia.com/deliveries/9c3eeb0ea06a719097525f0303a119044fb815a1.jpg?image_crop_resized=640x360" alt="course">
      <i class="fas fa-play" aria-hidden="true"></i>
    </div>
    <span class="fit_txt">Growth forecasting</span>
    <span class="fit_sub"></span>
    <i class="fit_hovermin fas fa-chevron-up" aria-hidden="true"></i>
  </a>
  <div class="collapse " id="fit_lesson_3">
    <div class="fit_body fit_segments">
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/0zg5s4y4g3ynyrk05e1qpf" data-fit-segment="28" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Growth levers"></i><span class="sr-only">Growth levers</span>
          <span class="fit_txt">Growth levers</span> 
          <span class="fit_sub">315</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/2plze9cgsb2ifhwb0ai9da" data-fit-segment="23" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="The Big numbers"></i><span class="sr-only">The Big numbers</span>
          <span class="fit_txt">The Big numbers</span> 
          <span class="fit_sub">372</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/598pejq0ahbmr92hdjgcx" data-fit-segment="21" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Introduction"></i><span class="sr-only">Introduction</span>
          <span class="fit_txt">Introduction</span> 
          <span class="fit_sub">82</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/bpp1dfgexztukgyhdrqvk" data-fit-segment="22" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Lesson Resources"></i><span class="sr-only">Lesson Resources</span>
          <span class="fit_txt">Lesson Resources</span> 
          <span class="fit_sub">42</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/i6it0ta9sf7s90p8lu3z" data-fit-segment="29" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Communicate"></i><span class="sr-only">Communicate</span>
          <span class="fit_txt">Communicate</span> 
          <span class="fit_sub">386</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/nu9dmhwz7gsr4edpsrac1" data-fit-segment="25" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Do some maths"></i><span class="sr-only">Do some maths</span>
          <span class="fit_txt">Do some maths</span> 
          <span class="fit_sub">744</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/ouvwnfb2zz89vzag7l6jv" data-fit-segment="26" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Formatting"></i><span class="sr-only">Formatting</span>
          <span class="fit_txt">Formatting</span> 
          <span class="fit_sub">237</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/ptrrx6iowybe0ppxwv0wmq" data-fit-segment="27" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Benchmark the results"></i><span class="sr-only">Benchmark the results</span>
          <span class="fit_txt">Benchmark the results</span> 
          <span class="fit_sub">321</span>
        </a>
      
        <a class="fit_btn locked " href="/course/fitzroy-academy/growth-forecasting/sj93fnzjlef0mvhaoiolb1s" data-fit-segment="24" data-fit-parent="3">
          <i class="fas fa-circle" data-fit_lesson_tooltip="" title="" aria-hidden="true" data-original-title="Adding detail"></i><span class="sr-only">Adding detail</span>
          <span class="fit_txt">Adding detail</span> 
          <span class="fit_sub">497</span>
        </a>
      
    </div>
  </div>
</div>
      
    </div>
  </div>


  <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_resources" role="button">
    <i class="fal fa-books" aria-hidden="true"></i>
    <span class="fit_txt">Resources</span> 
    <i class="fas fa-chevron-down" aria-hidden="true"></i>
  </a>

  <div class="fit_body collapse show" id="fit_lesson_resources">
    <div class="fit_body_content">
      
        <a class="fit_btn resource_link ResourceTypeEnum.google_doc featured" href="/course/1">
          <i class="fas fa-file lg" aria-hidden="true"></i>
          <span class="fit_txt">
            Good ideas reference sheet
            <small>None</small>
          </span>
        </a>
      
    </div>
  </div>

  <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_teacher" role="button" aria-expanded="fitse" aria-controls="fit_lesson_teacher">
    <i class="fal fa-chalkboard-teacher" aria-hidden="true"></i>
    <span class="fit_txt">Teacher</span>
    <i class="fas fa-chevron-down" aria-hidden="true"></i>
  </a>

  <div class="fit_body collapse" id="fit_lesson_teacher">
    
      <div class="fit_body_content">
        <div class="fit_btn">
          <span class="fit_pic circle"><img src="/assets/stub/homer.png" alt="user"></span>
          <span class="fit_txt">
            Homer Simpson
            <small>Homer is the Chief Safety Inspector and former power plant operator at the Springfield Nuclear Power Plant</small>
          </span> 
        </div>
      </div>
    
      <div class="fit_body_content">
        <div class="fit_btn">
          <span class="fit_pic circle"><img src="/assets/stub/marge.png" alt="user"></span>
          <span class="fit_txt">
            Marge Simpson
            <small>Marge is a homemaker with previous experience as a buisnesswoman and police officer</small>
          </span> 
        </div>
      </div>
    
  </div>


  

    <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_chart" role="button" aria-expanded="fitse" aria-controls="fit_lesson_chart">
      <i class="fal fa-analytics" aria-hidden="true"></i>
      <span class="fit_txt">Student progress <span href="#" class="badge badge-light">Admin</span></span>
      <i class="fas fa-chevron-down" aria-hidden="true"></i>
    </a>

    <div class="fit_body collapse" id="fit_lesson_chart">
      <div class="fit_chartselect">
  <div class="fit_chart" style="position: relative;">
    <div class="fit_chart_svg" id="fit_chart" style="min-height: 365px;"><div id="apexchartsdcvrdeec" class="apexcharts-canvas apexchartsdcvrdeec" style="width: 0px; height: 350px;"><svg id="SvgjsSvg1012" width="0" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1014" class="apexcharts-inner apexcharts-graphical"><defs id="SvgjsDefs1013"></defs></g></svg><div class="apexcharts-legend"></div></div></div>
    <div class="fit_chart_x">
      <a href="#" class="tick" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name of lesson here"><img src="/static/assets/images/lessons/public-campaigning.jpg" alt="course"></a>
      <a href="#" class="tick" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name of lesson here"><img src="/static/assets/images/lessons/agile-project-management.jpg" alt="course"></a>
      <a href="#" class="tick" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name of lesson here"><img src="/static/assets/images/lessons/community-integration.jpg" alt="course"></a>
      <a href="#" class="tick" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name of lesson here"><img src="/static/assets/images/lessons/empathy-mapping.jpg" alt="course"></a>
      <a href="#" class="tick" data-toggle="tooltip" data-placement="top" title="" data-original-title="Name of lesson here"><img src="/static/assets/images/lessons/social-outcomes-reporting.jpg" alt="course"></a>
    </div>
  <div class="resize-triggers"><div class="expand-trigger"><div style="width: 1px; height: 1px;"></div></div><div class="contract-trigger"></div></div></div>
  <div class="fit_body person_active" id="fit_lesson_stats">
    <div class="fit_body_content">
      

      <form class="form d-none">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" name="search" value="" id="search" placeholder="Filter" aria-label="search" aria-describedby="search">
          </div>  
        </div>
      </form>
      
      <div class="fit_student_list">
        
        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="/static/assets/images/defaults/face.jpg" alt="image">
          </div>
          <span class="fit_txt">Clare Carmody <span class="badge badge-pill badge-primary">admin</span></span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>
        </a>        

        <a class="fit_btn active">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="image">
          </div>
          <span class="fit_txt">Jenny Huang</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 92%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/men/24.jpg" alt="image">
          </div>
          <span class="fit_txt">John Smith</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="image">
          </div>
          <span class="fit_txt">Rithy Thul</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/men/92.jpg" alt="image">
          </div>
          <span class="fit_txt">Muhammad Khalil</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>        

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="image">
          </div>
          <span class="fit_txt">Zhang Wei</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/women/16.jpg" alt="image">
          </div>
          <span class="fit_txt">Sally Simpson</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>

        <a href="#" class="fit_btn">
          <div class="fit_pic">
            <img src="https://randomuser.me/api/portraits/men/65.jpg" alt="image">
          </div>
          <span class="fit_txt">Tim Timoythful</span>
          <span class="fit_time">
            <span class="progress"><div class="progress-bar" role="progressbar" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div></span>
          </span>                
        </a>


      </div><!-- fit_student_list -->
    </div>
  </div>
</div>
    </div>

    <!-- manage buttons -->

    <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_manage" role="button" aria-expanded="fitse" aria-controls="fit_lesson_manage">
      <i class="fal fa-cog" aria-hidden="true"></i>
      <span class="fit_txt">Manage <span href="#" class="badge badge-light">Admin</span></span>
      <i class="fas fa-chevron-down" aria-hidden="true"></i>
    </a>

    <div class="fit_body collapse" id="fit_lesson_manage">
      <div class="fit_body_content">
        <a class="fit_btn" href="/course/fitzroy-academy/lessons/1/edit">
          <i class="fas fa-edit" aria-hidden="true"></i>
          <span class="fit_txt">Edit this lesson</span>
        </a>
        <a class="fit_btn" href="#">
          <i class="fas fa-user-plus" aria-hidden="true"></i>
          <span class="fit_txt">Manage students</span>
        </a>
        <!-- <a class="fit_btn" href="#">
          <i class="fas fa-chart-bar"></i>
          <span class="fit_txt">Course stats</span>
        </a> -->
      </div>
  


    </div> <!-- /#fit_lesson_detail -->
    
  </div></aside>  
  
  
</main>