{% extends "/layout.html" %}
{% block body %}



{% include 'static/surveys/_course_header.html' %}


<div class="fit_survey" data-fit_iconselect_parent>

  <h2>Are you enjoying the course so far?</h2>

  <div class="fit_iconselects" data-fit_iconselects>
    <a class="fit_iconselect " data-fit_iconselect="I feel horrible">
      <i class="fal fa-angry"></i>
      <span class="sub">Horrible</span>
    </a>      
    <a class="fit_iconselect" data-fit_iconselect="Mostly pretty bad">
      <i class="fal fa-frown"></i>
      <span class="sub">Bad</span>
    </a>              
    <a class="fit_iconselect" data-fit_iconselect="Meh, to be honest">
      <i class="fal fa-meh"></i>
      <span class="sub">Meh</span>
    </a>
    <a class="fit_iconselect" data-fit_iconselect="Overall pretty good">
      <i class="fal fa-smile"></i>
      <span class="sub">Good</span>
    </a>          
    <a class="fit_iconselect" data-fit_iconselect="Feeling great, thanks">
      <i class="fal fa-grin"></i>
      <span class="sub">Great</span>
    </a>
    <a class="fit_iconselect" data-fit_iconselect="I feel amazing!">
      <i class="fal fa-grin-stars"></i>
      <span class="sub">Amazing!</span>
    </a>          
  </div>
  <div class="fit_survey_submit">
    <button type="button" disabled data-fit_iconselects_submit="fit_gather" class="btn btn-lg btn-secondary">Select an option</button>
  </div>
</div>

{% include 'static/surveys/_course_footer.html' %}



{% endblock %}