{% extends "/layout.html" %}
{% block body %}



{% include 'static/surveys/_course_header.html' %}


<div class="fit_survey" data-fit_iconselect_parent>

  <h2>
    How do you feel about the course?
    <span class="fit_why_count">
      <span data-fit_survey_force_counter></span>
      / minimum
      <span data-fit_survey_force_counter_total></span>
    </span>
  </h2>

  <div class="fit_survey_why" data-fit_feedback_why>
    <div class="form-group">
      <textarea class="form-control" data-fit_feedback_why_input data-fit_survey_force="15" id="reason" rows="5"></textarea>
    </div>
  </div>

  <div class="fit_survey_submit">
    <button type="button" disabled data-fit_iconselects_submit="Save answer" data-fit_iconselects_disabled="Please enter an answer" class="btn btn-lg btn-secondary">Please enter an answer</button>
  </div>
</div>

{% include 'static/surveys/_course_footer.html' %}



{% endblock %}