{% extends "/layout.html" %}
{% block body %}



{% include 'static/surveys/_course_header.html' %}


<div class="fit_survey" data-fit_iconselect_parent>

  <h2>
    Would you recommend this course to your friends?
  </h2>

  <div class="fit_iconselects numbers" data-fit_iconselects>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="1"><i>1</i><span class="sub">Never</span></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="2"><i>2</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="3"><i>3</i></a>
    <a class="fit_iconselect active" data-fit_iconselect_previously data-fit_triggerwhy data-fit_iconselect="4"><i>4</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="5"><i>5</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="6"><i>6</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="7"><i>7</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="8"><i>8</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="3"><i>9</i></a>
    <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="10"><i>10</i><span class="sub">Absolutely</span></a>
  </div>


  <div class="fit_survey_submit">
    <button type="button" disabled data-fit_iconselects_submit="Change answer" data-fit_iconselects_disabled="Change your answer" class="btn btn-lg btn-secondary">Change your answer</button>
  </div>
</div>

<!-- 

DEV Notes:
* teachers and admins appear first

-->

<div class="fit_survey_responses" data-fit_survey_responses>
  <h3>All answers.</h3>

  <div class="fit_chart">
    <!-- DEV: Can we show answers on a chart here? -->
  </div>

  <h3>Individual answers.</h3>
  <table class="table">
    <tbody>

      <tr>
        <th>
          <a href="#" class="fit_btn">
            <div class="fit_pic">
              <img src="/assets/images/defaults/face.jpg" alt="image">
            </div>
            <span class="fit_txt">Clare Carmody <span class="badge badge-pill badge-primary">teacher</span></span>
          </a>
        </th>
        <td><div class="response_num response_num_6">6</div></td>
        <td>
          <div class="response">
            <p>Marfa cronut umami, edison bulb beard next level ramps occupy. Banjo banh mi mumblecore poke, +1 poutine deep v messenger bag squid affogato. </p>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          <a href="#" class="fit_btn">
            <div class="fit_pic">
              <img src="https://randomuser.me/api/portraits/men/24.jpg" alt="image">
            </div>
            <span class="fit_txt">John Smith</span>
          </a>
        </th>
        <td><div class="response_num response_num_8">8</div></td>
        <td>
          <div class="response">
            <p>Lol wut fun party time</p>
            <p>Etsy normcore DIY wayfarers, semiotics crucifix everyday carry. Synth roof party bushwick hot chicken.</p>
            <p>iPhone neutra adaptogen street art truffaut ethical man bun godard lomo selvage mixtape.</p>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          <a href="#" class="fit_btn">
            <div class="fit_pic">
              <img src="https://randomuser.me/api/portraits/men/92.jpg" alt="image">
            </div>
            <span class="fit_txt">Muhammad Khalil</span>
          </a>
        </th>
        <td><div class="response_num response_num_3">3</div></td>
        <td>
          <div class="response">
            <p>Nah this sux I hate u blah.</p>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          <a href="#" class="fit_btn">
            <div class="fit_pic">
              <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="image">
            </div>
            <span class="fit_txt">Simon Bulodini</span>
          </a>
        </th>
        <td><div class="response_num response_num_1">1</div></td>
        <td>
          <div class="response">
            <p>Okay so this is going to be a long one...</p>
            <p>Marfa cronut umami, edison bulb beard next level ramps occupy. Banjo banh mi mumblecore poke, +1 poutine deep v messenger bag squid affogato. Etsy normcore DIY wayfarers, semiotics crucifix everyday carry. Synth roof party bushwick hot chicken, iPhone neutra adaptogen street art truffaut ethical man bun godard lomo selvage mixtape.</p>
            <p>Hammock normcore mixtape succulents salvia slow-carb direct trade polaroid craft beer flexitarian wayfarers. Actually vaporware pitchfork keffiyeh, vape humblebrag ethical offal occupy skateboard health goth hammock retro. Kombucha vegan post-ironic hexagon. Asymmetrical taxidermy butcher PBR&B heirloom, four loko man bun kogi.</p>
            <p>Microdosing YOLO DIY kickstarter kinfolk stumptown blog keffiyeh meh 90's asymmetrical schlitz ugh selfies iPhone. Tote bag raw denim coloring book iceland next level pinterest banh mi literally raclette biodiesel lo-fi. Asymmetrical irony pabst small batch vinyl. Gochujang ugh shaman farm-to-table, bitters iPhone four dollar toast poutine taiyaki. Kale chips flexitarian fam lumbersexual cold-pressed kitsch vice small batch health goth asymmetrical activated charcoal pop-up fashion axe authentic. Coloring book poutine synth yuccie 90's PBR&B chartreuse, dreamcatcher slow-carb lo-fi. Cred la croix activated charcoal banjo literally pinterest try-hard waistcoat adaptogen edison bulb hexagon pork belly mixtape tumeric.</p>
            <p>Crucifix pok pok vape, aesthetic kombucha shabby chic iPhone selfies. Roof party ennui hell of meggings actually vinyl farm-to-table vice wolf letterpress 3 wolf moon heirloom. Authentic chicharrones street art tote bag biodiesel taxidermy. Cray edison bulb air plant try-hard williamsburg banh mi before they sold out migas green juice biodiesel pabst pickled mlkshk shoreditch. Air plant four dollar toast offal vinyl YOLO pinterest put a bird on it fixie knausgaard, ennui sriracha kale chips. Viral drinking vinegar lo-fi letterpress narwhal edison bulb, ugh tbh bespoke kickstarter church-key.</p>
          </div>
        </td>
      </tr>

    </tbody>

  </table>
</div>

{% include 'static/surveys/_course_footer.html' %}



{% endblock %}