<div class="modal fade" tabindex="-1" role="dialog" id="fit_modal_add_lesson" data-fit-modal-add-lesson>
  <form action="/course/{{ course.slug }}/lessons/add" method="post" enctype="multipart/form-data">
    {{ add_lesson_form.csrf_token }}

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title">Add a lesson.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>        
        </div>

        <div class="modal-body">

          <div class="fit_fancyplace">
            <label for="title">Lesson name</label>
            <input type="text" class="form-control form-control-lg" name="title" value="" id="title" placeholder="Name your lesson" data-fit-fancyplace>
          </div>

          <div class="fit_fancyplace">
            <label for="description">One-sentence description</label>
            <input type="text" class="form-control" id="description" name="description" value="" maxlength="140" placeholder="Short description of the lesson. 140 characters max." data-fit-fancyplace>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-lg btn-primary"><i class="fal fa-check"></i>  Add lesson</button>
        </div>

      </div>
    </div>
  </form>
</div>