<div class="modal fade" tabindex="-1" role="dialog" id="fit_modal_add_segment" data-fit_iconselect_parent>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a segment.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">
        <a class="fit_iconselect" href="/course_edit_temp/video">
          <a class="fit_iconselect" href="#">
            <i class="fal fa-video"></i>
            <div class="sub">
              <h4>Video.</h4>
              Add a video from <br>Wistia or YouTube.
            </div>
          </a>      
          <a class="fit_iconselect" href="/course_edit_temp/text">
            <i class="fal fa-file"></i>
            <div class="sub">
              <h4>Text page.</h4>
              Add a text page, with <br>links and images.
            </div>
          </a>
          <!-- 
          not yet, little pig, not yet.
          <a class="fit_iconselect" href="@">
            <i class="fal fa-comment-smile"></i>
            <div class="sub">
              <h4>Survey.</h4>
              Ask students questions<br> in a survey.
            </div>
          </a>
 -->
        </div>
      </div>
    </div>
  </div>
</div>