<div class="modal fade" tabindex="-1" role="dialog" id="fit_modal_add_lesson">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a lesson.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">
        <div class="fit_iconselects high_sub">
          <a class="fit_iconselect watermelon" href="#">
            <i class="fal fa-copy"></i>
            <div class="sub">
              <h4>Use a Fitzroy lesson.</h4>
              Choose from the 30+ lessons<br>in the video lesson library.
            </div>
          </a>      
          <a class="fit_iconselect blue" href="??">
            <i class="fal fa-file-plus"></i>
            <div class="sub">
              <h4>Make your own.</h4>
              Build a lesson from scratch <br>with your own videos.
            </div>
          </a>         
        </div>
      </div>
    </div>
  </div>
</div>