<div class="modal fade" tabindex="-1" role="dialog" id="fit_modal_add_survey_segment"
     data-fit-add-edit-segment-modal data-fit-add-survey-segment-modal>
  <form id="survey-segment" action="/course/{{ course.slug }}/lessons/{{ lesson.id }}/segments/{% if segment %}{{ segment.id }}/edit{% else %}add{% endif %}/text"
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        method="POST"
        data-fit-add-edit-segment-form
        data-fit-course-slug="{{ course.slug }}"
        data-fit-lesson-id="{{ lesson.id }}"
        data-fit-segment-id=""
        data-fit-segment-type="survey"
        data-fit-wysiwyg>

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Survey segment.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="fit_fancyplace">
              <label for="segment_name">Question</label>
              <input type="text" class="form-control" name="segment_name"
                     value="" id="segment_name"
                     placeholder="E.g. How are you going with the course so far?"
                     required data-fit-fancyplace>
          </div>

          <h3>Type:</h3>
          {{ type_choices_html|safe }}

          <hr>

        {% for survey_html in rendered_survey_types %}
            {{ survey_html|safe }}
        {% endfor %}

        <hr>

        <h3>Permissions:</h3>
        <div class="form-group fit_radio_icons" data-fit-radio-icons="">

          <div class="form-check">
            <input type="radio" class="form-check-input" checked="checked" value="normal" id="normal" name="permissions">
            <label class="form-check-label" for="normal">
              <i class="fal fa-circle" aria-hidden="true"></i> Normal
            </label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="barrier" value="barrier" name="permissions">
            <label class="form-check-label" for="barrier">
              <i class="fal fa-lock" aria-hidden="true"></i> Barrier
              <small class="form-text text-muted">Students must complete this, and all segments prior to this one to progress.</small>
            </label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="hidden" value="hidden" name="permissions">
            <label class="form-check-label" for="hidden">
              <i class="fal fa-eye" aria-hidden="true"></i> Hidden
              <small class="form-text text-muted">Hidden from students. Use this to temporarily disable segments.</small>
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit"
                name="intro_lesson"
                class="btn btn-primary"
                data-fit-segment-add-edit-submit
        >Save changes</button>
      </div>
    </div>
  </form>
</div>