<div class="modal fade" tabindex="-1" role="dialog" id="fit_modal_add_lesson_fitz">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fitzroy lessons.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">
        

        <div class="fit_lessons">
          <div id="item_2" class="fit_btn" data-list-el-id="2">
            <div class="fit_pic vid">
              <img src="https://embed-ssl.wistia.com/deliveries/62fb7069b056ca6b233e463652e159667f27b99a.jpg?image_crop_resized=640x360" alt="course">
            </div>
            <div class="fit_txt">
              How to sell when you hate selling
            </div>

            <div class="sub buttonset">
              <a href="#" class="btn btn-light" data-toggle="tooltip" title="View in new window"><i class="fal fa-external-link"></i></a>
              <a href="#" class="btn btn-primary"><i class="fal fa-plus" aria-hidden="true"></i> Add</a>
            </div>
          </div>
          
          <div id="item_3" class="fit_btn" data-list-el-id="3">
            <div class="fit_pic vid">
              <img src="https://embed-ssl.wistia.com/deliveries/3d69d1445c1c3fcb995b9021855b1b4911e77474.jpg?image_crop_resized=640x360" alt="course">
            </div>
            <div class="fit_txt">
              Growth forecasting
            </div>

            <div class="sub buttonset">
              <a href="#" class="btn btn-light" data-toggle="tooltip" title="View in new window"><i class="fal fa-external-link"></i></a>
              <a href="#" class="btn btn-primary"><i class="fal fa-plus" aria-hidden="true"></i> Add</a>
            </div>
          </div>
      </div>


    </div>
  </div>
</div>