<div class="modal fade fit_unstoppable" tabindex="-1" role="dialog" id="fit_modal_faces" data-fit_modal_unstoppable data-fit_iconselect_parent>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How are you feeling?</h5>
      </div>
      <div class="modal-body">
        <div class="fit_iconselects" data-fit_iconselects>
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="I feel horrible">
            <i class="fal fa-angry"></i>
            <span class="sub">Horrible</span>
          </a>      
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="Mostly pretty bad">
            <i class="fal fa-frown"></i>
            <span class="sub">Bad</span>
          </a>              
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="Meh, to be honest">
            <i class="fal fa-meh"></i>
            <span class="sub">Meh</span>
          </a>
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="Overall pretty good">
            <i class="fal fa-smile"></i>
            <span class="sub">Good</span>
          </a>          
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="Feeling great, thanks">
            <i class="fal fa-grin"></i>
            <span class="sub">Great</span>
          </a>
          <a class="fit_iconselect" data-fit-triggerwhy data-fit_iconselect="I feel amazing!">
            <i class="fal fa-grin-stars"></i>
            <span class="sub">Amazing!</span>
          </a>          
        </div>
        <div class="collapse" data-fit-feedback-why>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Why do you feel that way?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" disabled data-fit_modal_submit="fit_gather" class="btn btn-lg btn-secondary">Continue</button>
      </div>
    </div>
  </div>
</div>