<div class="modal fade" tabindex="-1" role="dialog" id="modal_nps" data-fit_modal_unstoppable data-fit_iconselect_parent>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Would you recommend this course to your friends?</h5>
      </div>
      <div class="modal-body">
        <div class="fit_iconselects numbers" data-fit_iconselects>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="1"><i>1</i><span class="sub">Never</span></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="2"><i>2</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="3"><i>3</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="4"><i>4</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="5"><i>5</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="6"><i>6</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="7"><i>7</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="8"><i>8</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="3"><i>9</i></a>
          <a class="fit_iconselect" data-fit_triggerwhy data-fit_iconselect="10"><i>10</i><span class="sub">Absolutely</span></a>
        </div>
        <div class="collapse" data-fit_feedback_why>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Why did you choose that number?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" disabled data-fit_modal_submit="Save and continue" class="btn btn-secondary">Choose a number</button>
      </div>
    </div>
  </div>
</div>