<div class="modal fade" tabindex="-1" role="dialog" id="modal_unstoppable" data-fit-iconselect-parent>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How are you going?</h5>
      </div>
      <div class="modal-body">
        <div class="fit_iconselects" data-fit-iconselects>
          <a class="fit_iconselect" data-fit-iconselect="I'm fine, thanks"><i class="fas fa-thumbs-up"></i><span class="sub">I'm fine</span></a>
          <a class="fit_iconselect" data-fit-triggerwhy data-fit-iconselect="I'm stuck, I need help!"><i class="fas fa-times-octagon"></i><span class="sub">I'm stuck</span></a>
        </div>
        <div class="collapse" data-fit-feedback-why>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Oh no! How can we help?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" disabled data-fit-iconselect-go="fit_gather" class="btn btn-secondary">Continue</button>
      </div>
    </div>
  </div>
</div>