<div id="fit_lesson_detail" class="fits" data-fit-active-lesson="{{ lesson.id }}">

  {% include "partials/course/lesson_detail/course_list_tab.html" %}
  {% include "partials/course/lesson_detail/resources_tab.html" %}
  

  <!-- not showing teacher tab for now!  -->
  <!-- {% include "partials/course/lesson_detail/teachers_tab.html" %} -->
	

  {% if current_user and current_user.teaches(course) %}
    {% include "partials/course/lesson_detail/students_progress_chart_tab.html" %}
    {% include "partials/course/lesson_detail/manage_tab.html" %}
  {% endif %}

</div> <!-- /#fit_lesson_detail -->