<!-- manage buttons -->

<a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_manage" role="button" aria-expanded="fitse"
   aria-controls="fit_lesson_manage">
    <i class="fal fa-cog"></i>
    <span class="fit_txt">Manage <span href="#" class="badge badge-light">Admin</span></span>
    <i class="fas fa-chevron-down"></i>
</a>

<div class="fit_body collapse" id="fit_lesson_manage">
    <div class="fit_body_content">
        <a class="fit_btn" href="/course/{{ course.slug }}/edit">
            <i class="fas fa-edit"></i>
            <span class="fit_txt">Edit course lesson</span>
        </a>
        <a class="fit_btn" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit">
            <i class="fas fa-edit"></i>
            <span class="fit_txt">Edit this lesson</span>
        </a>
    </div>
</div>