{% extends "/layout.html" %}
{% block body %}


<div class="fat_head">
  {% include 'static/play/_head.html' %}
</div>

<div class="fat_section plaintext">

  <div class="fit_hero">
    <a class="fit_heartplay " data-fit-heartplay>
      <i class="bigboy navy far fa-business-time"></i>
    </a>
    <h1 class="navy">Bored reports.
      <small>Suit up, it's serious business time.</small>
    </h1>
    
  </div>

  <div class="fit_medium">
    <!-- <div class="fit_picture breakbig">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/55613668&color=%2334322f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/datashat" title="Datassette" target="_blank" style="color: #cccccc; text-decoration: none;">Datassette</a> · <a href="https://soundcloud.com/datashat/businessfunk-one" title="BUSINESSFUNK ONE" target="_blank" style="color: #cccccc; text-decoration: none;">BUSINESSFUNK ONE</a></div>
    </div> -->

    <h3>Q: What's all this then?</h3>
    <p>We have been making video board reports each quarter for our geographically challenged yet lovely and intellgent advisory board.</p>
    <p>We're putting them up here for everyone to see as another step in our public accountability, alongside the <a href="/about/mistakes/">mistakes</a> page.</p>

    <hr class="blunt">
    
    <h3>Q: What can the public see?</h3>
    <p>You get to see the videos, and links to as many of our internal documents as we can get away with sharing publicly. That means plans, policies.</p>
    <p>Stuff like our financials, who we hire, and any sensitive internal stuff won't be shared here.</p>
    <hr class="blunt">

    <h3>Q: Has this been done before?</h3>
    <p><strong>Yes!</strong> We were inspired by other companies, including <a href="https://watsi.org/" target="_blank">Watsi</a> and their <a href="https://watsi.org/faq#can-i-see-your-financials" target="_blank">radical transparency</a> approach, and <a href="https://www.pledgeme.com.au" target="_blank">PledgeMe</a> and <a href="https://chuffed.org/" target="_blank">Chuffed</a>.</p>
  </div>

</div>



<div class="bg">

  <div class="fat_section plaintext">
    <h2 class="">
      <small><i class="fal fa-business-time"></i> Ha ha, business!</small>
      Newest first.
    </h2>

    <div class="fat_board_reports">

      <div class="fat_board_report">
        <h3>End Q3, June 2020.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
              <script src="https://fast.wistia.com/embed/medias/imu3elc0q6.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_imu3elc0q6 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/imu3elc0q6/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://fitzroyacademy.com/courses" target="_blank">
                <i class="fas fa-external-link lg" aria-hidden="true"></i>
                <span class="fit_txt">fitzroyacademy.com/courses<small>Our current set of courses</small></span>
              </a>

              <h4>Asks to the board:</h4>
              <p>Help us figure out how to sell out our online courses.</p>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->


      <div class="fat_board_report">
        <h3>End Q2, June 2020.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
              <script src="https://fast.wistia.com/embed/medias/08d9gzepx2.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_08d9gzepx2 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/08d9gzepx2/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
            <p>P.S. Sorry for the scrappy video, and thanks for patience! - Will.</p>
          </div>
          <div class="col-md-4">
            <div class="sidebar">

              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://fitzroyacademy.com/" target="_blank">
                <i class="fas fa-external-link lg" aria-hidden="true"></i>
                <span class="fit_txt">The new fitzroyacademy.com<small>Holy moly it's our new website</small></span>
              </a>

              <h4>Asks to board members:</h4>
              <p>Intro us to rad people. Some examples:</p>
              <ul>
                <li><strong>Money:</strong> People like Jackie. Risk-competent folks who want to spend money creating education.</li>
                <li><strong>Impact:</strong> Folks like Kevin,  actively doing front-line investment and work on social impact.</li>
                <li><strong>Education:</strong> Teachers, school leaders and others who have sway within education institutes.</li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->

      <div class="fat_board_report">
        <h3>End Q1, March 2019.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video conspicuously_absent">
              <i class="fas fa-play"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>No report?! 😳</h4>
              <p>COVID-19 happened, we didn't make a board report this quarter. We'll do better next time.</p>

            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->

      <div class="fat_board_report">
        <h3>End Q4, December 2019.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
              <script src="https://fast.wistia.com/embed/medias/5tdeb89udy.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_5tdeb89udy videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/5tdeb89udy/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://docs.google.com/document/d/1thfbgaKQPRnFxFE9Kw7J-CbPUJHwbFAiB6hDCm8-5Yg/edit" target="_blank">
                <i class="fas fa-file lg" aria-hidden="true"></i>
                <span class="fit_txt">Flashlight strategy for 2020<small>Google doc</small></span>
              </a>
              
              <h4>Celia @ SHE Investments says:</h4>

              <p>&ldquo;Fitzroy Academy gave us incredible support for developing our first ever online learning course, tailored for Cambodian businesses. We simply would not have been able to do it without them; their training, mentorship, advice and patient and flexible support meant that in August 2019 we launched Cambodia’s first ever online business training platform. Thousands of people are accessing it every month, and we’re now able to reach entrepreneurs around the country.&rdquo;</p>

              <h4>Asks to board members:</h4>
              <ol>
                <li>30 min vid chat to discuss board involvement.</li>
                <li>Introductions to potential board members.</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->

      <div class="fat_board_report">
        <h3>End Q3, September 2019.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
              <script src="https://fast.wistia.com/embed/medias/8wei6hgq64.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8wei6hgq64 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/8wei6hgq64/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://docs.google.com/document/d/1ZqbHVzbcOpRywBY6Jv6s9l5X95ceeRxZ4yHWU078I8w/edit#heading=h.4dedcv4g7ud4" target="_blank">
                <i class="fas fa-file lg" aria-hidden="true"></i>
                <span class="fit_txt">Tech partnership guess-list<small>Google doc</small></span>
              </a>
            
              <h4>Asks to board members:</h4>
              <ol>
                <li>30 min vid chat to talk about our business / impact model.</li>
                <li>Introductions to potential partners.</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->

      <div class="fat_board_report">
        <h3>End Q2, July 2019.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
              <script src="https://fast.wistia.com/embed/medias/8oeahb16nz.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8oeahb16nz videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/8oeahb16nz/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://airtable.com/shr2QxoRPXGm1xXPu/tblEszDkySGTdG6nU" target="_blank">
                <i class="fal fa-table lg" aria-hidden="true"></i>
                <span class="fit_txt">App development roadmap (wildly out of date by now)<small>Airtable database</small></span>
              </a>

              <a class="fit_btn resource_link" href="https://airtable.com/shrZ5H3oR3ndWaQoS/tbld6YPj1BGRsQi06" target="_blank">
                <i class="fal fa-table lg" aria-hidden="true"></i>
                <span class="fit_txt">SE Asia ecosystem map.<small>Airtable database</small></span>
              </a>
              

              <h4>Asks to board members:</h4>
              <ol>
                <li>30 minutes of advice on our business model, the case for funding, via phone / vid chat, preferably within the next month if possible. Thank you!</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->

      <div class="fat_board_report">
        <h3>End Q1, March 2019.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
            <script src="https://fast.wistia.com/embed/medias/thhbeqltgg.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_thhbeqltgg videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/thhbeqltgg/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://docs.google.com/spreadsheets/d/1qzzuqKolu-Tn5hjZMqB1RQjhon2wmeaERrKcmOCdyyg/edit#gid=343034937" target="_blank">
                <i class="fas fa-file lg" aria-hidden="true"></i>
                <span class="fit_txt">Scrappy Q1 metrics + numbers overview.<small>Google doc <span class="badge badge-warning">Board eyes only</span></small></span>
              </a>
              <a class="fit_btn resource_link" href="https://docs.google.com/document/d/1dWbA7J2VxrTyxBBQjCcg-M6y3etto7mGShzPTsx3ERE/edit" target="_blank">
                <i class="fas fa-file lg" aria-hidden="true"></i>
                <span class="fit_txt">‘Customer discovery interviews’ Khmer template.<small>Google doc</small></span>
              </a>
              <a class="fit_btn resource_link" href="https://github.com/fitzroyacademy/fitzroy-academy" target="_blank">
                <i class="fab fa-github lg" aria-hidden="true"></i>
                <span class="fit_txt">Code repository readme.<small>Github repository</small></span>
              </a>
              <a class="fit_btn resource_link" href="https://medium.com/fitzroy-academy/technology-2019-2020-v0-1-18683b846e05" target="_blank">
                <i class="fab fa-medium lg" aria-hidden="true"></i>
                <span class="fit_txt">Technology roadmap, 2019–2020.<small>Blog post</small></span>
              </a>
              <a class="fit_btn resource_link" href="https://medium.com/fitzroy-academy/southeast-asia-2019-2020-35ba72202943" target="_blank">
                <i class="fab fa-medium lg" aria-hidden="true"></i>
                <span class="fit_txt">Southeast Asia, 2019–2020.<small>Blog post</small></span>
              </a>
              <a class="fit_btn resource_link" href="https://fitzroyacademy.wistia.com/medias/6w3gq6w47q" target="_blank">
                <i class="fal fa-film lg" aria-hidden="true"></i>
                <span class="fit_txt">Leang, SHE Investments video producer talks about making video education with us.<small>Video - 00:47</small></span>
              </a>

              <h4>Asks to board members:</h4>
              <ol>
                <li>Intros to more delivery and institutional customers for prototyping.</li>
                <li>A python developer!</li>
                <li>Keep giving us great feedback, ideas and asks.</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->



      <div class="fat_board_report">
        <h3>End 2018.</h3>

        <div class="row">
          <div class="col-md-8">
            <div class="fat_video">
          <script src="https://fast.wistia.com/embed/medias/zz8ga2cipo.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_zz8ga2cipo videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/zz8ga2cipo/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
        </div>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <h4>Show and tell:</h4>
              <a class="fit_btn resource_link" href="https://docs.google.com/document/d/1L0W1FK7eu5ulAWXFUhMhF7rEpdZ4FMnZD-H3DU5IrlI/edit" target="_blank">
                <i class="fas fa-file lg" aria-hidden="true"></i>
                <span class="fit_txt">2019 - 2020 public master plan<small>Google doc</small></span>
              </a>
              <h4>Asks to board members:</h4>
              <ol>
                <li>Introductions to teachers, program managers and ecosystem people for testing and collaboration while we prototype our new platform.</li>
                <li>Feedback on this board report, and the board reporting process</li>
              </ol>
            </div>
          </div>
        </div>
      </div><!-- fat_board_report -->


      <div class="fat_board_report yearsprior">
        <h3>The dark ages...</h3>
        <p>For the years prior, our board reporting has been private...</p>
      </div><!-- fat_board_report -->
      




      


    </div><!-- fat_board_reports -->

  </div>
</div>



{% endblock %}