{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero leftie watermelon">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-comment"></i>
      </a>
      <h1>
        Contact us.
        <small>We&rsquo;re nice, say hi anytime. 👋</small>
      </h1>
    </div>

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_about.html' %}
        </div>
      </div>
      
      <div class="fit_medium">

        <h2>Grab us direct:</h2>


        <dl class="fit_summary_icons lite">
          <dt><i class="far fa-envelope"></i> Tech support: <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a></dt>
          <dt><i class="far fa-envelope"></i> Sales: <a href="mailto:enterprise@fitzroyacademy.com">enterprise@fitzroyacademy.com</a></dt>
          <dt><i class="far fa-phone"></i> Aussies, call <a href="tel:1300 205 170">1300 205 170</a> during business hours.</dt>
          
        </dl>

        <hr class="">

        <h2>Some common questions:</h2>
        
        <dl class="fit_summary_icons">
          <dt><i class="far fa-question-square"></i> I'm having tech problems, what do I do?</dt>
          <dd>
            <p>Email <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a> and we'll connect you with the right person.</p>
            <p>If you can, include some info about what went wrong so we can help you faster!</p>
          </dd>

          <dt><i class="far fa-question-square"></i> Do I keep my intellectual property?</dt>
          <dd>
            <p><strong>Yes.</strong> Our <a href="/support/terms">terms</a> have some legals you should read if you're really worried about this, but in general your data is your own.</p>
            <p>It's worth reading our <a href="/support/terms">terms</a> and <a href="/support/privacy">privacy</a> policies, and contact us if you have any concerns at all!</p>
          </dd>

          <dt><i class="far fa-question-square"></i> What happened to the online canvases?</dt>
          <dd>
            <p><strong>We got rid of them. Sorry!</strong> We found out that most students prefer to use Google Docs, and it's really hard to make online canvases work on mobile phones.</p>
            <p>If you really want to do your canvases online, check out <a href="https://cnvs.online" target="_blank">cnvs.online</a>, it's really nice.</p>
          </dd>

          <dt><i class="far fa-question-square"></i> Are you using my data for research?</dt>
          <dd>
            <p><strong>Yes!</strong> We use data about what lessons you're watching, where you drop off, and so on to inform broad research on what helps other people learn.</p>
            <p>We share this information, anonymised and aggregated, with our research partners to help everyone do better online learning.</p>
            <p>We're serious about privacy and ethics, so we do our very best to keep your data private, and only share the minimum necessary to help get our research done.</p>
            <p>If you're concerned at all, turn the <em>"Let us use your learning data for research."</em> toggle in your control panel.</p>
          </dd>

        </dl>

      </div>


    </div>

  </article>

</main>

{% endblock %}