{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero watermelon">
      <a class="fit_heartplay">
        <i class="bigboy fas fa-heart"></i>
        <i class="smallboy fal fa-chart-bar"></i>
      </a>
      <h1>Impact.</h1>
      
    </div>

    <div class="fit_medium">
      
      <div class="fit_picture breakbigger">
        <img src="/static/assets/images/static/about/maddy_will.jpg" alt="image">
        <small class="caption">Maddy, works on her social media lesson with Will, our founder.</small>
      </div>

    </div><!-- medium -->

    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_about.html' %}
        </div>
      </div>
      
      <div class="fit_medium">

      <h2>???.</h2>
      <p>???</p>

      <p>... once we figure out how to do this properly, we will make this page.</p>
      

      </div>


    </div>

  </article>

</main>

{% endblock %}