{% extends "/layout.html" %}
{% block body %}


<div class="fat_head">
  {% include 'static/play/_head.html' %}
</div>



<div class="fat_head cyan">
	{% include 'static/play/_head.html' %}
</div>


<div class="fat_hero left halfy" id="top">

	<h2 class="cyan">We&rsquo;re teachers, film <br>buffs &amp; tech nerds.</h2>

</div>

<div class="fat_nav list-group" id="scrollspy">
	<div class="contain">
		<a href="#top" class="list-group-item top"><i class="fal fa-arrow-up"></i></a>
		<a href="#first" class="maroon list-group-item"><i class="fal fa-users"></i> <span class="txt">First up</span></a>
		<a href="#people" class="teal list-group-item"><i class="fal fa-users"></i> <span class="txt">People</span></a>
		<a href="#partners" class="pink list-group-item"><i class="fal fa-handshake"></i> <span class="txt">Partners</span></a>
		<a href="#history" class="green list-group-item"><i class="fal fa-books"></i> <span class="txt">History</span></a>
		<!-- <a href="#thanks" class="watermelon list-group-item"><i class="fal fa-heart"></i> <span class="txt">Thanks</span></a> -->
	</div>
</div>


<div class="bg">

	<div class="fat_section plaintext" id="first">


		<div class="fat_whitejab">


			<h2 class="maroon">
				<small><i class="fal fa-globe-asia"></i> Hold up</small>
				First things first.
			</h2>
			<h3>We pay our respects to elders, past, present and emerging.</h3>
			<p>Our home base in Fitzroy, Melbourne sits on the traditional lands of the <a href="https://www.wurundjeri.com.au/" target="_blank">Wurundjeri people</a> of the Kulin nation.</p>
			<p>That sovereignty was never ceded.</p> 

			<div class="fit_picture">
			  <img src="/static/assets/images/static/about/flag.svg" alt="image">
			  <small class="caption">By <a href="https://en.wikipedia.org/wiki/Harold_Thomas_(activist)" target="_blank">Harold Thomas</a>, activist and artist.</small>
			</div>      

			<p>We acknowledge the Traditional Owners of country throughout Australia and recognise their continuing connection to land, waters and culture.</p>

			<p><a href="https://australianstogether.org.au/discover/indigenous-culture/understanding-welcome-to-country/" class="btn btn-outline-primary">More info <i class="fal fa-external-link"></i></a></p>
		</div>
	</div>
</div>

<div class="fat_section plaintext" id="people">

	<h2 class="teal">
		<small><i class="fal fa-users"></i> Our people</small>
		Teachers &amp; geeks.
	</h2>
	<p>We've been making videos, running accelerators and learning about learning since 2104-ish.</p>
	<p>The people who've helped us make stuff for the last few years include the folks below. Our team is almost entirely remote, and comes and goes over the years.</p>

	<div class="row">
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/leo.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-au"></span>
	        Leo, video 
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/clare.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-fr"></span>
	        Clare, coach 
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/michelle.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-us"></span>
	        Michelle, tech
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/reid.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-us"></span>
	        Reid, devops 
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/maciej.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-pl"></span>
	        Maciej, tech
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/eve.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-au"></span>
	        Eve, film
	      </small>
	    </div>
	  </div>
	  <div class="col-6 col-sm-4 col-md-3">
	    <div class="fit_picture">
	      <img src="/static/assets/images/static/faces/will.jpg" alt="image">
	      <small class="caption">
	        <span class="flag flag-icon-background flag-icon-au"></span>
	        Will, teacher
	      </small>
	    </div>
	  </div>
	</div>  

	<hr class="blunt">
<!-- 
	<h3>Our advisory board.</h3>
	<p>The lines between partner, customer, and governance are blurry.</p>


	<div class="row fit_advisors">
	  <div class="col-sm-6">
	    <div class="fit_advisor">
	      <span class="flag flag-icon-background flag-icon-sg"></span>
	        Nicky Wilkinson
	        <small>Director of Philanthropy, Firetree Foundation</small>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="fit_advisor">
	      <span class="flag flag-icon-background flag-icon-kh"></span>
	        Celia Boyd
	        <small>Managing Director, SHE Investments</small>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="fit_advisor">
	      <span class="flag flag-icon-background flag-icon-au"></span>
	        Jackie Coates
	        <small>General Manager, Telstra Foundation</small>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="fit_advisor">
	      <span class="flag flag-icon-background flag-icon-nz"></span>
	        Alex Hannant
	        <small>Co-Director, Yunus Centre, Griffith University</small>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="fit_advisor">
	      <span class="flag flag-icon-background flag-icon-au"></span>
	        Luke Giuliani
	        <small>Chief Technology Officer, Greenpeace Australia</small>
	    </div>
	  </div>
	</div>

	<hr class="spacer">

-->

	<div class="row">
		<div class="col-md-8">
			<p><img src="/static/assets/images/static/irl/kevin_sit.jpg" alt="image"></p>
	  	<small class="caption">Kevin filming on the roof of the Mulago offices in San Francisco.</small>
		</div>
		<div class="col-md-4">
			<p><img src="/static/assets/images/static/about/jenny_laff.jpg" alt="Learning stuff"></p>
			<p><img src="/static/assets/images/static/about/gautam_gun.jpg" alt="Learning stuff"></p>
			<small class="caption">Jenny + Gautam, amazing teachers!</small>
		</div>
	</div>

	<div class="fit_window">
	  
	</div>

	<h3>We make videos.</h3>

	<div class="row">
		<div class="col-md-6">

			<p><strong>Fast facts</strong> on our video production:</p>
			<ul>
			  <li>It takes 100-200 hours of work to make a 30 minute lesson.</li>
			  <li>Our camera gear fits in one pelican case.</li>
			  <li>So far we've filmed in Melbourne, Sydney, London, Denpasar, San Francisco, Phnom Penh, Siem Reap, and Puerto Galera.</li>
			  <li>We've produced 1300+ minutes of content. Something like 6+ months of continuous learning if you used it all end to end.</li>
			</ul>
			<p><a href="http://www.oilportraits.org/">Leo Flander</a> does most of the hard work, and the amazing <a href="https://www.filmsbyeve.com/" target="_blank">Eve Byers</a> (alumni, we miss you) helped make a bunch of our vids. They're award winning film makers and artists in their own right.</p>
		</div>

		<div class="col-md-4 offset-md-1">
			<div class="fat_polaroid">
				<img src="/static/assets/images/static/about/film_dorks.jpg" alt="Dork friends">
				<small class="caption">Folk dorks in San Francisco.</small>
			</div>
		</div>
	</div>

</div>

<div class="bg">

	<div class="fat_section plaintext" id="partners">

		<h2 class="pink">
			<small><i class="fal fa-handshake"></i> Partnership.</small>
			Friends!
		</h2>
			
		<div class="row fit_partner_logos">
      <div class="col-md-6">
      	<div class="tile">
      		<a target="_blank" href="https://exchange.telstra.com.au/foundation-about-us">
		        <img src="/static/assets/images/partners/telstra/telstra_logo.png" alt="image">
		        <h4>Telstra Foundation</h4>
		      </a>
	        <p>Backing initiatives that enable young people to thrive in their connected world..</p>
	        <p>These folks are our first and longest standing partner.</p>
	        <!-- <p><a class="btn btn-outline-primary" target="_blank" href="https://exchange.telstra.com.au/foundation-about-us">Learn More <i class="fal fa-external-link"></i></a></p> -->
	      </div>
      </div>
      <div class="col-md-6">
      	<div class="tile">
      		<a target="_blank" href="https://mulagofoundation.org/">
		        <img src="/static/assets/images/partners/mulago/mulago_logo.jpg" alt="image">
		        <h4>Mulago Foundation</h4>
	        </a>
	        <p>Finding and funding high-performance organizations that tackle the basic needs of the very poor.</p>
	        <p>We've partnered with Mulago to release free, world-class lessons on designing for lasting impact at scale.</p>
	        <!-- <p><a class="btn btn-outline-primary" target="_blank" href="https://mulagofoundation.org/">Learn More <i class="fal fa-external-link"></i></a></p> -->
				</div>
      </div>
    </div>

    <div class="row fit_partner_logos">
      <div class="col-md-6">
      	<div class="tile">
      		<a target="_blank" href="https://www.firetree.org/">
		        <img src="/static/assets/images/partners/firetree/logo.jpg" alt="image">
		        <h4>Firetree Trust</h4>
		      </a>
	        <p>Supporting work that creates long-term positive change in communities ​in Southeast Asia.</p>
	        <p>These folks support and direct us in Southeast Asia.</p>
	        <!-- <p><a class="btn btn-outline-primary" target="_blank" href="https://www.firetree.org/">Learn More <i class="fal fa-external-link"></i></a></p> -->
      	</div>
      </div>
      <div class="col-md-6">
      	<div class="tile">
      		<a href="https://www.sheinvestments.com">
		        <img src="/static/assets/images/partners/she/logo.jpg" alt="image">
		        <h4>SHE Investments</h4>
		      </a>
	        <p>SHE supports women with micro, small and growing businesses to scale, creating social and economic impact for communities.</p>
	        <p>We help the SHE crew to scale existing programs.</p>
	        <!-- <p><a class="btn btn-outline-primary" target="_blank" href="https://www.sheinvestments.com">Learn More <i class="fal fa-external-link"></i></a></p> -->
        </div>
      </div>                 
    </div>

    <div class="fat_whitejab">
			<div class="fat_iconrow">
	    	<h3 class="centered pink">
					<i class="fal fa-heart"></i>
					Partnership matters.
				</h3>
			</div>
	    <p>To do anything meaningful in education requires large scale, co-operative action. It's why we pretty much only ever work in partnership to get things done.</p>

			<blockquote class="fat_quote">
					<span class="ldquo">&ldquo;</span>
					<div class="friend active" id="bq_dayble">
						<p>&ldquo;We started as a fast, stupid, take-no-prisoners expression of frustration with education and the pace of social change.</p>
			      <p>It wasn't until we started working with partners that we realised we might be able to make a real dent, and make it stick.</p>
			      <p>These folks make the work possible with a sincerity that we never originally imagined.&rdquo;</p>
						<cite>- Will D, founder + fool.</cite>
					</div>
					
				</blockquote>

	    <hr class="blunt">

	    <h3>Want to work together?</h3>
	    <p>Firstly: Yay!</p>
	    <p>Secondly: Yaaay!</p>
	    <p>We like to work with funds, schools, and institutes who have a long view and agile principles, who don't make compromises about quality and efficiency.</p>
	    <p>In general, partnership includes making films together, working on tech, and finding ways to very cheaply and efficiently further our missions together.</p>
	    <p>Email <a href="mailto:will@fitzroyacademy.com">will@fitzroyacademy.com</a> directly to chat. 😁</p>
		</div>
	</div>

</div>

<div class="fat_section plaintext" id="history">

	<h2 class="green">
		<small><i class="fal fa-books"></i> A brief History</small>
		2014 - present...
	</h2>

	<div class="fit_window">
	  <img src="/static/assets/images/static/irl/luke_will.jpg" alt="image">
	  <small class="caption">Luke Giuliani (left) and Will Dayble (right).</small>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<p>Education Everywhere Pty Ltd is the third company <a href="https://www.linkedin.com/in/lukegiuliani/" target="_blank">Luke</a> and Will started together, in the same building as they started a <a href="http://gracefitzroy.com/" target="_blank">cafe</a> and <a href="https://squareweave.com.au" target="_blank">digital agency</a>. Luke works at Greenpeace now. They're still best mates. 🥰</p>
			<p>We started Fitzroy as startup-style accelerator for non-techy people, with a social impact focus, in 2014 with 25 students and 40 teachers + mentors in the basement at <a href="http://donkeywheelhouse.org/">Donkey Wheel house</a>.</p>
		</div>
		<div class="col-md-6">
			<p>Since, we’ve worked with researchers, universities, funds and accelerators to figure out different ways to do education.</p>
			<p>In early 2016 we decided to go online-first, so we can reach the whole world by default, when we partnered up with the <a href="/about/partners">Telstra Foundation.</a></p>
			<p>Our teaching approach was originally inspired by Will’s <a href="/about/michael">grandfather</a>, refined through countless classes, workshops, intensives, seminars, mentoring programs and wine-drenched heart-to-hearts.</p>
		</div>
	</div>

	<hr class="spacer">

	<div class="fit_window">
	  <img src="/static/assets/images/static/about/gsddrinks.jpg" alt="image">
	  <small class="caption">Folks from our first, serious 4-week accelerator program hanging out.</small>
	</div>

	<h3>Thanks to the early mob.</h3>
	<p>Massive love to those original teachers, mentors and friends who made it happen.</p>
	<p>These world-class humans, we’re honoured to have their support right from the start. &lt;3</p>
	<hr class="spacer">
	<div class="row">
	  <div class="col-sm-4">
	    <p><a target="_blank" href="https://au.linkedin.com/pub/simon-griffiths/21/157/96">Simon Griffiths</a></p>
	    <p><a target="_blank" href="https://twitter.com/mrjamesnoble">James Noble </a></p>
	    <p><a target="_blank" href="https://twitter.com/skud">Alex 'Skud' Bayley</a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/pub/aaron-matheson/59/791/25">Aaron Matheson </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/pub/monique-conheady/4/2b0/a66">Monique Conheady </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/rexster">Peter Williams </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/juliasharwood">Julia Sharwood </a></p>
	    <p><a target="_blank" href="https://au.linkedin.com/in/tammybutow">Tammy Butow</a></p>
	    <p><a target="_blank" href="http://papercloud.com.au/">Simon Holland</a></p>
	    <p><a target="_blank" href="https://twitter.com/LissanneOliver">Lissanne Oliver </a></p>
	  </div>
	  <div class="col-sm-4">
	    <p><a target="_blank" href="https://www.linkedin.com/in/krystalfister">Krystal Maria Fister </a></p>
	    <p><a target="_blank" href="https://au.linkedin.com/in/daveslutzkin">Dave Slutzkin</a></p>
	    <p><a target="_blank" href="https://twitter.com/TamsienWest">Tamsien West </a></p>
	    <p><a target="_blank" href="http://drjasonfox.com/">Dr. Jason Fox </a></p>
	    <p><a target="_blank" href="https://au.linkedin.com/in/hendricksonmark">Mark Hendrickson</a></p>
	    <p><a target="_blank" href="https://twitter.com/ophelielechat">Ophélie Lechat </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/pub/lana-kagan/43/168/900">Lana Kagan</a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/atlantadaniel">Atlanta Daniel </a></p>
	    <p><a target="_blank" href="http://papercloud.com.au/">Tomas Spacek </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/sampstewart">Sam ‘Frenchie’ Stewart </a></p>
	  </div>
	  <div class="col-sm-4">
	    <p><a target="_blank" href="https://www.linkedin.com/in/chantellebaxter">Chantelle Baxter </a></p>
	    <p><a target="_blank" href="http://designjunkies.co/">Amanda Watts</a></p>
	    <p><a target="_blank" href="https://nl.linkedin.com/in/ikreis">Jeroen Komen </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/ian-jones-4a136121">Ian Jones </a></p>
	    <p><a target="_blank" href="https://au.linkedin.com/pub/benjamin-sandqvist/9/a3/a3">Benjamin Sandqvist</a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/in/dhenaidoo/">Dhe Naidoo</a></p>
	    <p><a target="_blank" href="http://www.chefparade.cz">Marcel Vargaeštok </a></p>
	    <p><a target="_blank" href="https://www.linkedin.com/pub/elliot-costello/23/641/66b">Elliot Costello</a></p>
	    <p><a target="_blank" href="http://rosshill.com.au/">Ross Hill</a></p>
	    <p><a target="_blank" href="https://about.me/tobias.andersson">Tobias Andersson </a></p>              
	  </div>        
	</div>
	<p>&nbsp;</p>
	<p>And best for last, thank <strong>you</strong> for taking the time check out what we do. 🥳</p>
</div>

{% endblock %}