{% extends "/layout.html" %}
{% block body %}

<main class="fit_michael">

  <article>

    <div class="fit_hero">
      <img src="/assets/images/static/about/michael.jpg" alt="Sketch by Audrey.">
      <h1>
        For Michael.
        <small>In loving memory,<br>1922 - 2016.</small>
      </h1>
    </div>

    <div class="fit_medium">
      <p>My grandad taught me to accept what has been, but not what is yet to come.</p>
      <p>Our work directly extends his legacy, spirit, and belief in a constantly improving universe.</p>
      <p>Love ya pop.</p>
      <p>- WD.</p>
    </div>
  </article>

</main>

{% endblock %}