{% extends "/layout.html" %}
{% block body %}

<main class="fit_michael">

  <article>

    <div class="fit_hero">
      <img src="/assets/images/static/about/michael.jpg" alt="image">
      <h1>
        For Michael.
        <small>In loving memory,<br>1922 - 2016.</small>
      </h1>
    </div>

    <div class="fit_medium">
      <p>When I was struggling my grandad taught me to accept what has been, but not what is yet to be.</p>
      <p>Our work extends his legacy, his spirit, and his belief in a wholly better world for everyone.</p>
      <p>- Will D.</p>
    </div>
  </article>

</main>

{% endblock %}