{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero fuscia_line">
      <a class="fit_heartplay" data-fit-heartplay>
        <i class="bigboy far fa-heart-broken"></i>
      </a>
      <h1>The <strong data-fit-heartplay>mistakes</strong> list.</h1>
      
    </div>

    <div class="fit_medium">
      
      <div class="fit_picture breakbigger">
        <img src="/static/assets/images/static/mistakes/facepalm_pink.jpg" alt="image">
      </div>
    </div>


    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_about.html' %}
        </div>
      </div>
      
      <div class="fit_medium">



      <h1>Sharing our dumb mistakes, so you don't have to make them.</h1>
      <p>We had a long conversation with partners, funders and friends about social sector people making mistakes over and over without sharing, and how hard it is to share. We're doing our bit!</p>
      
      <hr class="blunt">
      
      <h3>Foolish themes!</h3>
      <p>When we wrote down a list our screw-ups, we noticed some themes.</p>
      <p>Pretty much all of our mistakes fit within one of these categories. Here goes:</p>
      <p>&nbsp;</p><p>&nbsp;</p>

      
      <div class="breakbigger">
        <div class="row">
          <div class="col-md-4">
            <img src="/static/assets/images/static/mistakes/picard.jpg" alt="image">
            <h4>The dumb expert.</h4>
            <p>Making simple mistakes that we teach our students to avoid.</p>
            <p>You'd think we'd have figured this out by now, but nope.</p>
          </div>
          <div class="col-md-4">
            <img src="/static/assets/images/static/mistakes/holy.jpg" alt="image">
            <h4>Repeat madness.</h4>
            <p>Making a mistake, then making the same mistake again later, even thought we know how much it sucked the first time around. Duh.</p>
          </div>
          <div class="col-md-4">
            <img src="/static/assets/images/static/mistakes/statue.jpg" alt="image">
            <h4>Ego.</h4>
            <p>Letting our ego get in the way and not listening to others.</p>
            <p>This is usually when we think &lsquo;We are special and different&rsquo; before doing something stupid.</p>
          </div>          
        </div>
      </div>

      <hr class="blunt">
      
      <h1 id="fail_list">The list:</h1>

      <div class="sticky-top fit_subhead">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#fail_list" data-fit_fail_list="all"><i class="fal fa-check"></i> All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="dumb"><i class="fal fa-chalkboard-teacher"></i> Dumb <span class="d-none d-sm-inline-block">expert</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="repeat"><i class="fal fa-repeat"></i> Repeat <span class="d-none d-sm-inline-block">madness</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="ego"><i class="fal fa-fist-raised"></i> Ego</a>
          </li>
<!--             
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort by</a>
            <div class="dropdown-menu">
              <a class="dropdown-item active" href="#"><i class="fal fa-calendar"></i> Date</a>
              <a class="dropdown-item" href="#"><i class="fal fa-pepper-hot"></i> Spiciness</a>
            </div>
          </li>
           -->
        </ul>
      </div>

      <hr class="spacer">
      
      <div class="fit_pane" data-fit_fail_type="dumb">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_hire" role="button" aria-expanded="fitse" aria-controls="fail_hire">
            <i class="far fa-chalkboard-teacher"></i> 
            <span class="fit_txt">Hired too early, took too long to fire.</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_hire">
            <dl class="fit_summary_icons">

              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>Late 2016:</strong> We hired a (great) staff member before we had enough work for them, then ran out of work for them <em>and</em> money to pay their wage all at once.</p> 
                <p>We had to let them go and it felt real crappy.</p>
              </dd>
              <dt><i class="far fa-question"></i> Why did it happen?</dt>
              <dd>
                <p>We had enough cash in the bank to wear the hire, and expected we'd need them once we won a big, upcoming grant. We didn't win the big grant. 😣</p>
                <p>Also we just <em>liked</em> them and figured we'd find the work to justify the hire. This was really dumb in retrospect.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>
                <p>We helped that staff member get another job at a friend's company, and gave them 6 weeks to leave. In retrospect this probably wasn't a great idea either, and we should have made the firing decision earlier.</p>
              </dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>
                <p>We should have waiting longer to hire. <a href="https://www.google.com/search?q=Hire+slow%2C+fire+fast" target="_blank">Hire slow! Duh.</a> We didn't desperately need this person, so we couldn't define their role well enough to make it valuable.</p>
                <p>On the flip-side, a year later it took is 3-4 months longer to hire than it should have for another role, which hurt us in other ways. Argh!</p>
              </dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>We lost more money and time on this than we want to admit. Ouch.</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

      <div class="fit_pane" data-fit_fail_type="ego">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_studio" role="button" aria-expanded="fitse" aria-controls="fail_studio">
            <i class="fal fa-fist-raised"></i>
            <span class="fit_txt">Rented the wrong studio space with the wrong people.</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_studio">
            <dl class="fit_summary_icons">
              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>2016-17:</strong> We moved into a studio space we couldn&rsquo;t afford.</p>
                <p>It was nice to have a place to work, but we didn't think it through, didn't totally click with our studio-mates (good people, we were just too different in work style to them).</p>
              </dd>
              <dt><i class="far fa-question"></i> Why did it happen?</dt>
              <dd>
                <p>We had just won a big customer and expected to get more quickly. We wanted to be a &lsquo;real&rsquo; company with space that people could visit, run workshops in, etc. We ended up running maybe one or two workshops and could have done most of this stuff from a co-working space or home.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>
                <p>We moved out. It burnt a bunch of money and time, but now we work distributed. Will and Leo work most of the time in Will's loungeroom! We love it.</p>
              </dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>
                <p>We assumed that studio space was needed when it probably wasn't. We also had a decent-but-not-great relationship with the other company we shared the space with, which meant neither they or we got the full use of the space we wanted.</p>
                <p>The compromise was lame for everyone.</p>
              </dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>Kinda sucked. The money was less of a bummer than the failed relationship.</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

      <div class="fit_pane" data-fit_fail_type="ego">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_tech" role="button" aria-expanded="fitse" aria-controls="fail_tech">
            <i class="fal fa-fist-raised"></i>
            <span class="fit_txt">The tech took 9 months too long.</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_tech">
            <dl class="fit_summary_icons">
              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>2019:</strong> We thought we would rebuild our whole tech stack in 3 months.</p>
                <p>HAH. Yeah right.</p>
              </dd>
              <dt><i class="far fa-question"></i> Why did it happen?</dt>
              <dd>
                <p>We thought we were different and special and could build a complicated thing fast without cutting any corners. This is particularly embarrassing because we are meant to be experts at this.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>
                <p>We haven't yet. We're letting it take as long (and cost as much) as it needs to, and trying not to go broke in the meantime. In retrospect we didn't really have any other choice, but we still could have been smarter from the start.</p>
              </dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>
                <p>I (Will, founder) failed to scope out the true size of the build. If I'd have done this up front, we'd have known how long it was going to take and planned around that.</p>
              </dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>This is a real pain. We nearly went broke and had to take a loan to survive the summer. Ouch. 😭</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

      <div class="fit_pane" data-fit_fail_type="repeat">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_mad" role="button" aria-expanded="fitse" aria-controls="fail_mad">
            <i class="fal fa-repeat"></i>
            <span class="fit_txt">We keep undercooking our video budgets</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_mad">
            <dl class="fit_summary_icons">
              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>2015 - present:</strong> We <em>always</em> think we can make videos faster than we actually can.</p>
                <p>This seems to come down to overpromising things to our partners, and then eating into our own budgets to cover it up. We should allow nearly double what we do, to be reasonable.</p>
              </dd>
              <dt><i class="far fa-question"></i> Why does it happen?</dt>
              <dd>
                <p>Partly it's that we feel the same thing as everyone else: <em>&ldquo;Hold up, video costs HOW much to make?! That's completely insane!&rdquo;</em>, and then try to cut it up a different way to make it more efficient or smarter or cleaner somehow.</p>
                <p>We also assume that it will get cheaper over time, but the opposite is true. It costs the same amount and takes just as long (if not longer), but we get a better result. But that better result doesn't happen faster or cheaper.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fix it.</dt>
              <dd>We get more money to make good videos. This is not a great fix.</dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happens?</dt>
              <dd>We get excited to make our videos better. Like nature abhors a vacuum, video production fills to expand the space made available. We will probably always go over budget on our video production.</dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>This is one of the main reasons we are always running out of money, but we seem to get around it?</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->
    </div><!-- medium -->
  </article>

</main>

<!-- 

------------------------------------------------------------------------

Add to the mistakes list:

* No early 'completion rate' data with the app (funders ask)
* Courses have an order, all courses, LOL.
* ???

------------------------------------------------------------------------

 -->


{% endblock %}