{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-users"></i>
      </a>
      <h1>Partnership.</h1>
      
    </div>


    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_about.html' %}
        </div>
      </div>
      
      <div class="fit_medium">

      <h2>We could never do it alone.</h2>

      <blockquote class="fit_quote">
        <p>When we first started the Fitzroy Academy it was an angry, take-no-prisoners, molotov-flinging expression of frustration with education and the pace of social change.</p>
        <p>It wasn't until we started working with people like Jackie, Rowan, and Kevin that we realised we might be able to make a real dent, and make it stick.</p>
        <p>These partnerships make the work possible with a sincerity and scale I never thought possible in the early days.</p>
        <p>Thank you so much!</p>
        <cite>
          <img src="/app/theme/default/design/images/faces/will.jpg" alt="Face!">
          Will Dayble,<br>
          Founder and fool.
        </cite>
      </blockquote>
      

      <!-- <p><a href="/about/mission" class="btn btn-outline-primary">Learn more about Welcome to Country at Wikipedia <i class="fal fa-external-link"></i></a></p> -->

      <hr class="blunt">

      <h2>We pay our respects to elders, past, present and emerging.</h2>

      <p><strong>First things first:</strong> We live and work on the traditional lands of the <a href="https://www.wurundjeri.com.au/" target="_blank">Wurundjeri people</a> of the Kulin nation (also know as Fitzroy, Melbourne, Australia).</p>
      
      <div class="fit_picture">
        <img src="/assets/images/static/about/flag.svg" alt="image">
        <small class="caption">This flag was made by <a href="https://en.wikipedia.org/wiki/Harold_Thomas_(activist)" target="_blank">Harold Thomas</a>, an activist and artist.</small>
      </div>      
      
      <p>That sovereignty was never ceded.</p> 
      <p>We acknowledge the Traditional Owners of country throughout Australia and recognise their continuing connection to land, waters and culture.</p>

      <p><a href="https://australianstogether.org.au/discover/indigenous-culture/understanding-welcome-to-country/" class="btn btn-outline-primary">More: australianstogether.org.au <i class="fal fa-external-link"></i></a></p>

      <div class="fit_medium_nav">
        <a href="#" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> Previous: Home</a>
        <a href="#" class="btn btn-outline-primary">Next: The mission <i class="fal fa-arrow-right"></i></a>
      </div>
      
      <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

      </div>


    </div>

  </article>

</main>

{% endblock %}