{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero leftie teal">
      <a class="fit_heartplay">
        <i class="bigboy fal fa-grin-hearts"></i>
      </a>
      <h1>
        Partnership.
        <small>The friends that make it all possible.</small>
      </h1>
      
    </div>


    <div class="fit_medium_rare">

      <div class="fit_rare" id="rare_nav">
        <a class="nav-item nav-link fit_rare_dropdown_trigger" data-fit_active_trigger href="#rare_nav">
          <i class="fal fa-chevron-down"></i> More in this section
        </a>
        <div class="fit_rare_dropdown">
          {% include 'partials/static_menus/_about.html' %}
        </div>
      </div>
      
      <div class="fit_medium">


        <div class="row fit_partner_logos">
          <div class="col-sm-6">
            <img src="/assets/images/partners/telstra/telstra_logo.png" alt="image">
            <h4>Telstra Foundation.</h4>
            <p>Backing initiatives that enable young people to thrive in their connected world..</p>
            <p>These folks are our first and longest standing partner, love at first sight.</p>
            <p><a class="btn btn-outline-primary" target="_blank" href="https://exchange.telstra.com.au/foundation-about-us">Learn More <i class="fal fa-external-link"></i></a></p>
          </div>
          <div class="col-sm-6">
            <img src="/assets/images/partners/mulago/mulago_logo.jpg" alt="image">
            <h4>Mulago Foundation.</h4>
            <p>Finding and funding high-performance organizations that tackle the basic needs of the very poor.</p>
            <p>We've partnered with Mulago to release new, free lessons on creating lasting impact at scale.</p>
            <p><a class="btn btn-outline-primary" target="_blank" href="https://mulagofoundation.org/">Learn More <i class="fal fa-external-link"></i></a></p>
          </div>
        </div>

        <div class="row fit_partner_logos">
          <div class="col-sm-6">
            <img src="/assets/images/partners/firetree/logo.jpg" alt="image">
            <h4>Firetree Trust.</h4>
            <p>Supporting work that creates long-term positive change in communities ​in Southeast Asia.</p>
            <p>These folks support and direct our work across Southeast Asia.</p>
            <p><a class="btn btn-outline-primary" target="_blank" href="https://www.firetree.org/">Learn More <i class="fal fa-external-link"></i></a></p>
          </div>
          <div class="col-sm-6">
            <img src="/assets/images/partners/she/logo.jpg" alt="image">
            <h4>SHE Investments.</h4>
            <p>We support women with micro, small and growing businesses to scale, creating social and economic impact for communities.</p>
            <p>We are working with SHE to figure out how to scale out their amazing programs.</p>
            <p><a class="btn btn-outline-primary" target="_blank" href="https://www.sheinvestments.com">Learn More <i class="fal fa-external-link"></i></a></p>
            
          </div>                 
        </div>

        <hr class="blunt">

        <h2>Why partnership is so important.</h2> 
        <p>We could never do it alone.</p>
        <p>To get anywhere near the scope of the problem, the world requires huge, unilateral, co-operative action. It's why we can <strong>only</strong> work in partnership with other smart organisations to get it done.</p>
        <p>In the last 5 years of work we've changed, and the idea of building things and selling them to people seems really dumb. Building things with people that solve long term problems is just way more fun, and infinitely more effective.</p>

        <hr class="blunt">

        <blockquote class="fit_quote">
          <p>When we first started the Fitzroy Academy it was a fast, take-no-prisoners expression of frustration with education and the pace of social change.</p>
          <p>It wasn't until we started working with our partners that we realised we might be able to make a real dent, and make it stick.</p>
          <p>These folks make the work possible with a sincerity that we never originally imagined.</p>
          <cite>
            <img src="/assets/images/static/faces/will.jpg" alt="Face!">
            Will Dayble,<br>
            Founder and fool.
          </cite>
        </blockquote>


        <hr class="blunt">

        <h2>Want to partner with us?</h2>
        <p>Firstly: Yay!</p>
        <p>Secondly: Yaaay!</p>
        <p>We like to work with funds, schools, and institutes who have a long view and agile principles, who don't make compromises about quality and efficiency.</p>
        <p>In general, partnership includes making films together, working on tech, and finding ways to very cheaply and efficiently further our missions together.</p>
        <p>Email <a href="mailto:will@fitzroyacademy.com">will@fitzroyacademy.com</a> directly to chat. 😁</p>

        <div class="fit_medium_nav">
          <a href="/about" class="btn btn-outline-secondary "><i class="fal fa-arrow-left"></i> About</a>
          <a href="/about/mistakes" class="btn btn-outline-primary">Mistakes <i class="fal fa-arrow-right"></i></a>
        </div>

      </div>


    </div>

  </article>

</main>

{% endblock %}