<dd>
    <div class="alert" style="display: none;" data-{{ user_type }}-action-alert></div>

    <div class="fit_quicksearch" data-fit-add-user>

        <div class="input-group searchy">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fal fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="example@email.com" data-user-email>
            <div class="input-group-append">
                <button class="btn btn-link-secondary" type="button" data-add-user
                        data-institute-slug="{{ institute.slug }}" data-user-type="{{ user_type }}">Add
                </button>
            </div>
        </div>

        <div class="teachers" data-users-list>
            {% for teacher in users %}
                {{ teacher|safe }}
            {% endfor %}
        </div>
    </div>
</dd>