{% extends "/layout.html" %}
{% block body %}

<div class="fat_head watermelon">
	{% include 'static/play/_head.html' %}
</div>

<div class="fat_hero watermelon" id="top">
	<h1><a href="#trailer-socent">Learn online, <br>not alone.</a></h1>
</div>



<div class="fat_section fat_pic_grid coursetease left" id="trailer-socent">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/willvert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/will.jpg" alt="" class="hori">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_course_socent"><i class="fas fa-play"></i><small>Watch the trailer <span class="timing">1:41</span></small></a>
	</div>
	<div class="portrait text watermelon">
		<h2>
			<small><i class="fal fa-play-circle"></i> Online short course</small>
			<a href="/courses/socent">Social enterprise.</a>
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> From the basic to the boardroom. Customer discovery, models and impact, through to pitching for investment.<!--  <br>❤️ + 🚀 = 🥳 --></p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 2.5 hour workshops weekly, plus 3-6 hours of homework &times; 6 weeks.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Social enterprise leads, small biz / startup founders, students and activists.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<!-- <p><strong>Cost</strong> 1% of your yearly income. <br><small><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_one_percent">What does this mean?</a></small></p> -->
				<p><strong>Cost</strong> $450<small>AUD</small></p>
			</div>
		</div>
		<div>
			<a href="/courses/socent" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> More details + enrolment</a>
		</div>
	</div>
</div>


<div class="fat_section fat_pic_grid coursetease right" id="trailer-nfp">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/clarevert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/clare.jpg" alt="" class="hori">
		<!-- <a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#fat_modal_video"><i class="fas fa-play"></i><small>Watch the trailer <span class="timing">1:36</span></small> --></a>
	</div>	
	<div class="portrait text teal">
		<h2>
			<small><i class="fal fa-play-circle"></i> Online course</small>
			Don't run a shit non-profit.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Set a clear vision, get your tech in order and run a snappy, agile team that gets things done.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Non-profit leaders. People chasing tight, focussed impact, those impatient for change.</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 2.5 hour workshop + 3-6 hours of homework &times; 12 weeks.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> 1% of your yearly income. <br><small><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_one_percent">What does this mean?</a></small></p>
			</div>
		</div>
		<a href="https://airtable.com/shrTUkjo9LmHm7IuF" target="_blank" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Join the waiting list.</a>
	</div>
</div>

<div class="fat_section fat_pic_grid coursetease left" id="trailer-video">
	<div class="portrait pic">
		<img src="/static/assets/images/lessons_hires/leovert.jpg" alt="" class="vert">
		<img src="/static/assets/images/lessons_hires/leo.jpg" alt="" class="hori">
		<a class="play" href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_course_video"><i class="fas fa-play"></i><small>Watch the trailer <span class="timing">2:11</span></small></a>
	</div>
	<div class="portrait text blue">
		<h2>
			<small><i class="fal fa-users"></i> Online course</small>
			Blended learning.
		</h2>
		<div class="meta">
			<div class="deet">
				<i class="fal fa-info-square"></i>
				<p><strong>Overview</strong> Planning, storytelling and the technical side of creating beautiful online / offline learning.</p>
			</div>
			<div class="deet">
				<i class="fal fa-calendar"></i>
				<p><strong>Schedule</strong> 6 x 2.5 hour workshops. Online.</p>
			</div>
			<div class="deet">
				<i class="fal fa-users"></i>
				<p><strong>Audience</strong> Educators wanting to leap into highly experiential, online/offline learning.</p>
			</div>
			<div class="deet">
				<i class="fal fa-usd-circle"></i>
				<p><strong>Cost</strong> $450 <small>AUD</small> per person.</p>
			</div>
		</div>
		<div>
			<a href="https://airtable.com/shr1DYazAGWL8fGyp" target="_blank" class="btn btn-lg btn-outline-primary"><i class="fal fa-chevron-right"></i> Enrol online</a>
			<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal_course_video" class="btn btn-lg btn-outline-secondary"><i class="fal fa-play"></i> Trailer</a>
		</div>
	</div>
</div>


<div class="fat_section purple" id="hello">
	<h2>
		<small><i class="fal fa-tools"></i> Custom courses</small>
		DIY, with our help.
	</h2>
	<div class="bigly">
		<a class="btn btn-absurd purple" href="/about/services"><i class="fal fa-chalkboard-teacher"></i> Services <!-- <span class="party">🥳</span> --></a>
		<div class="nb">We help serious educators build blended learning that actually works.</div>
	</div>
</div>




<!-- modals for stuff -->


<div class="modal fade " tabindex="-1" role="dialog" id="modal_course_socent">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Social enterprise.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">

        <script src="https://fast.wistia.com/embed/medias/5wobvbefoh.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_5wobvbefoh videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/5wobvbefoh/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          
      </div>
    </div>
  </div>
</div>


<div class="modal fade " tabindex="-1" role="dialog" id="modal_course_video">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Blended learning.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">

        <script src="https://fast.wistia.com/embed/medias/bv00smlj2l.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_bv00smlj2l videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/bv00smlj2l/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          
      </div>
    </div>
  </div>
</div>

<div class="modal fade " tabindex="-1" role="dialog" id="modal_one_percent">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">For some programs we charge 1% of your income. </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
      <div class="modal-body">
      	<p>For example:</p>
				<ul>
					<li>If you earn $50K per year, pay $500.</li>
					<li>If you earn $100K per year, pay $1000.</li>
				</ul>
				<p>We trust you to be honest, and we don't share your income with anyone! Those that can pay more subsidise those that can&rsquo;t.</p>
        <p>It's a bit similar to how Finland does <a href="https://www.theatlantic.com/business/archive/2015/03/finland-home-of-the-103000-speeding-ticket/387484/" target="_blank">speeding tickets.</a></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}