<div class="{% if survey.default %}active{% endif %}" data-fit-pane-type="survey_type" data-fit-pane-detail="{{ survey.survey_id }}">

    <h3>{{ survey.survey_type_name }}:</h3>

    <div class="form-row">
        <div class="col">
            <label for="minimum_length_{{ survey.survey_id }}">Minimum response length (characters)</label>
            <input class="form-control" name="free_text_minlength_{{ survey.survey_id }}" id="minimum_length_{{ survey.survey_id }}"
                   placeholder="E.g. 100" value="{{ survey.free_text_minlength }}" step=1 type="number">
        </div>
        <div class="col"></div>
    </div>

</div>