<div class="form-group fit_radio_icons columned" data-fit-radio-icons="">

    <div class="form-check">
        <input type="radio" class="form-check-input" checked="checked" id="plain_text" value="plain_text"
               name="survey_types" data-fit-perm-type="survey_type" data-fit-perm-trigger="plain_text">
        <label class="form-check-label watermelon" for="plain_text">
            <i class="fal fa-comment-lines" aria-hidden="true"></i> Plain text
            <small class="form-text text-muted">Simple text box for students to type their thoughts.</small>
        </label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" value="happiness" id="happiness" name="survey_types"
               data-fit-perm-type="survey_type" data-fit-perm-trigger="happiness">
        <label class="form-check-label apricot" for="happiness">
            <i class="fal fa-smile" aria-hidden="true"></i> Happiness
            <small class="form-text text-muted">6 faces, from angry to happy, with labels.</small>
        </label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" value="ten" id="ten" name="survey_types"
               data-fit-perm-type="survey_type" data-fit-perm-trigger="ten">
        <label class="form-check-label purple" for="ten">
            <i class="fal fa-tachometer-fast" aria-hidden="true"></i> Ten point scale
            <small class="form-text text-muted">Numbers from 1 to 10 with labels.</small>
        </label>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" value="thumbs" id="thumbs" name="survey_types"
               data-fit-perm-type="survey_type" data-fit-perm-trigger="thumbs">
        <label class="form-check-label blue" for="thumbs">
            <i class="fal fa-thumbs-up" aria-hidden="true"></i> Thumbs
            <small class="form-text text-muted">Simple thumbs up / thumbs down selector.</small>
        </label>
    </div>
</div>