<div class="{% if survey.default %}active{% endif %}" data-fit-pane-type="survey_type" data-fit-pane-detail="{{ survey.survey_id}}">

    <h3>{{ survey.survey_type_name }}:</h3>

    <table class="table fit_label_table">
        <thead>
        <tr>
            <th>Left label <small>Under the 1.</small></th>
            <th>Right label <small>Under the 10.</small></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" name="ten_label_left" placeholder="Absolutely not"
                       value="Absolutely not"></td>
            <td><input type="text" class="form-control" name="ten_label_right" placeholder="Definitely!"
                       value="Definitely!"></td>
        </tr>
        </tbody>
    </table>

    <div class="form-row">
        <div class="col">
            <label>Require clarification (free text box):</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="free_text_require">
                    </div>
                </div>
                <input type="text" class="form-control" name="free_text_entry"
                       placeholder="Question, e.g. Why do you feel that way?" value="Why do you feel that way?">
            </div>
        </div>
        <div class="col">
            <label for="minimum_length_{{ survey.survey_id }}">Minimum response length (characters)</label>
            <input type="url" class="form-control" name="free_text_minlength"
                   placeholder="E.g. 100" value="100"
                   id="minimum_length_{{ survey.survey_id }}"
            >
        </div>
    </div>

</div>