<div class="{% if survey.default %}active{% endif %}" data-fit-pane-type="survey_type" data-fit-pane-detail="{{ survey.survey_id }}">

    <!-- <h3>{{ survey.survey_type_name }}:</h3> -->

    <table class="table fit_label_table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Word.</th>
            <th>Sentence.</th>
        </tr>
        </thead>
        <tbody>
        {% for question in survey.choice_questions %}
        <tr>
            <th>
                {% if question.icon_type == "css" %}
                    <i class="{{ question.icon }}"></i>
                {% elif question.icon_type == "url" %}
                    <img src="{{ question.icon }}" alt="">
                {% endif %}
            </th>
            <td><input type="text" class="form-control" name="single_word_{{ survey.survey_id }}_{{ question.id }}" placeholder="{{ question.single_word }}"
                       value="{{ question.single_word }}"></td>
            <td><input type="text" class="form-control" name="short_sentence_{{ survey.survey_id }}_{{ question.id }}" placeholder="{{ question.short_sentence }}"
                       value="{{ question.short_sentence }}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="form-group">

        <label>Require text:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" {% if survey.free_text_required %}checked{% endif %} name="free_text_require_{{ survey.survey_id }}">
                </div>
            </div>
            <input type="text" class="form-control" name="free_text_entry_{{ survey.survey_id }}"
                   placeholder="Question, e.g. Why do you feel that way?" value="{{ survey.free_text_entry }}">
        </div>
    </div>
    <div class="form-group">
        <label for="minimum_length_{{ survey.survey_id }}">Minimum characters</label>
        <input class="form-control" name="free_text_minlength_{{ survey.survey_id }}"
               placeholder="E.g. 100" value="{{ survey.free_text_minlength }}"
               id="minimum_length_{{ survey.survey_id }}" step=1 type="number"
        >
    </div>

</div>