{% extends "/layout.html" %}
{% block CSRFtoken %}
    <script type="text/javascript">
        {% if form.csrf_token %}
        var csrf_token = "{{ form.csrf_token.current_token }}";
        {% endif %}
    </script>
{% endblock %}

{% block body %}

<main>

  <article>

    <div class="fit_hero">

      <h1>
      	Oops! 404 error.
      </h1>
      <p>It's possible we broke something.</p>
      <p>Email <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a> for help. 🥰</p>

			<div class="fit_medium">
			  
				<div class="fit_picture" style="margin:2rem 0;">
				  <img class="" src="/static/assets/images/static/cinematics/kitten_sad.jpg" alt="sad kitty">
				</div>
				
			</div>

    </div>

  </article>
</main>


{% endblock %}