<!doctype html>
<html lang="en" class="
  {% if url_is('course.view', 'lesson.view', 'segment.view') %} course {% endif %}
  {% if current_user %} current_user {% endif %}
">

<!-- fit_minleft -->
<!-- fit_minright -->
<!-- fit_revealuserpanel -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- Other fool's plugins -->
  <link rel="stylesheet" href="/vendor/flag-icon-css-master/css/flag-icon.css">
  <link rel="stylesheet" href="/vendor/bootstrap4-toggle/css/bootstrap4-toggle.css">
  <script src="https://kit.fontawesome.com/1f45a33999.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/vendor/node-snackbar/dist/snackbar.min.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/medium-editor/dist/css/medium-editor.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/vendor/medium-editor/dist/css/themes/flat.min.css" /> -->

  <!-- Then our stuff -->
  <link rel="stylesheet" href="/css/fit.css?{{ cache_code }}">

  <title>FA! 😍</title>
</head>
<body>


<main>

  <article>

    <div class="fit_hero">

      <h1>
      	Oops!
      </h1>
      <p><strong>404:</strong> Can't find what you&rsquo;re looking for.</p>
      <p>Maybe go <a href="/">back home</a> and try again?</p>

			<div class="fit_medium">
			  
				<div class="fit_picture">
				  <img class="placeholder" src="/assets/images/static/cinematics/kitten_sad.jpg" alt="sad kitty">
				</div>
				
			</div>

    </div>

  </article>
</main>


</body>
</html>