{% extends "/layout.html" %}
{% block body %}


<main>

  <article>

    <div class="fit_hero">

      <h1>
      	We broke it.
      </h1>
      <p><strong>502:</strong> Our server did a boo-boo. </p>
      <p>Email <a href="mailto:support@fitzroyacademy.com">support@fitzroyacademy.com</a> for help.</p>

      <div class="fit_medium">
	      <div class="breakbig">
					<div class="fit_vidya">
					  <img class="placeholder" src="./assets/images/static/cinematics/kitten_scared.jpg" alt="scared kitty">
					</div>
				</div>
			</div>
    </div>

  </article>
</main>


{% endblock %}