{% extends "/layout.html" %}
{% block body %}


<div class="fit_code">

  <!-- DEV: For errors, use this -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fal fa-sad-cry"></i> That didn’t work. Try again?
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form class="fit_form_code">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Course code" required>
      <label for="exampleFormControlInput1">Course code</label>
      <button type="submit" class="btn btn-text"><i class="fas fa-rocket"></i></button>
    </div>
    <p class="fit_cta_tnc">No code? Check the <a href="#">public courses!</a></p>
  </form>
</div>

{% endblock %}

