{% extends "/layout.html" %}
{% block body %}


<main>

  <article>

    <div class="fit_course intro">

      <h1>
        <span class="txt">{{ course.title }}</span>
        {% if current_user and current_user.teaches(course) %}
          <a href="/course/{{ course.slug }}/edit" class="btn pull-right btn-outline-secondary"> 
            <!-- <i class="fal fa-edit"></i> -->
            Edit course
          </a>
        {% endif %}
      </h1>
      
      <p>
        <span>Curated by <span> {{ course.instructors|join_names }}</span>.</span>
      </p>
      
      <div class="fit_vidya">
        {%  if course.cover_image_url %}
            <img class="placeholder" src="{{ course.cover_image_url }}" alt="video">
        {% else %}
            <img class="placeholder" src="/static/assets/images/defaults/spacer.gif" alt="spacer">
        {% endif %}
        <a class="fit_vidya_play" href="{{ course.lessons[0].permalink }}"><i class="fas fa-play-circle"></i></a>
      </div>
      
      <div class="fit_seduce">
        <div class="row">
          <div class="col-sm-4">
            <i class="fal big fa-clock green"></i>
            <h4>{{ course.workload_title|default("Learn online!") }}</h4>
            <p>{{ course.workload_subtitle|default("At your own pace") }}</p>
          </div>
          <div class="col-sm-4">
            <i class="fal big fa-file-alt blue"></i>
            <h4>{{ number_of_resources }}+ resources.</h4>
            <p>Purpose-built templates and links that you can use forever.</p>
          </div>
          <div class="col-sm-4">

            <!-- 
              
              Hot damn this is confusing, psuedocode first:

              Registered:
                + enrolled or teacher
                  = continue
                + not enrolled
                  + free course
                    = start course for free
                  + paid course
                    = pay

              !Registered:
                + anon access
                  = start course
                + paid course
                    = sign up
                + free course
                    = sign up

             -->


            <!-- signed up -->
            {% if current_user %}

                <!-- enrolled -->
                {% if current_user.enrolled(course) or current_user.teaches(course) %}
                  <a href="{{ course.lessons[0].permalink }}" class="btn btn-block btn-lg btn-watermelon">Keep learning</a>
                  <h4>You're enrolled!</h4>
                  <p>Keep up the great work. 🥰</p>

                <!-- not enrolled -->
                {% else %}

                  {% if not course.paid %}
                    <a href="#" data-fit-userpanel class="btn btn-block btn-lg btn-watermelon">Make an account.</a>
                    <h4>Free course!</h4>
                    <p>Sign up for free to enrol.</p>


                  {% elif course.paid %}
                    <a href="#" data-fit-userpanel class="btn btn-block btn-lg btn-watermelon">Pay with card.</a>
                    <h4>${{ course.amount }} USD</h4>
                    <p>Use your card to continue.</p>


                  {% endif %}

                {% endif %}


            <!-- no user -->
            {% else %}

              {% if course.guest_access %}
                <a href="{{ course.lessons[0].permalink }}" class="btn btn-block btn-lg btn-watermelon">Start course</a>
                <h4>Free course!</h4>
                <p>No need to make an account.  🥰</p>

              {% elif not course.paid %}
                <a href="#" data-fit-userpanel class="btn btn-block btn-lg btn-watermelon">Make an account.</a>
                <h4>Free course!</h4>
                <p>Sign up for free to enrol.  🥰</p>


              {% elif course.paid %}
                <a href="#" data-fit-userpanel class="btn btn-block btn-lg btn-watermelon">Make an account.</a>
                <h4>${{ course.amount }} USD</h4>
                <p>Sign up to pay.</p>


              {% endif %}              

            {% endif %}

          </div>
        </div>
      </div>

      <!-- -------------------------------------------------------------------------------- -->

      <div class="row">
        <div class="col-md-6">
          <h3>
            <span class="txt">The course.</span>
          </h3>
          <div class="fit_pane">
            <dl class="fit_summary_icons">
              {% if course.target_audience %}
                <dt><i class="far fa-users"></i> Who's it for?</dt>
                <dd>{{ course.target_audience }}</dd>
              {% endif %}
              <dt><i class="far fa-clock"></i> Course length &amp; workload:</dt>
              <dd>{{ course.workload_summary|default("") }}</dd>
              <dt><i class="far fa-tag"></i> Cost:</dt>
              <dd>Free course!</dd> <!-- DEV: select from (free | paid | funded) -->
              {% if course.skill_level %}
                <dt><i class="far fa-university"></i> Skill:</dt>
                <dd>{{ course.skill_level }}</dd>
              {% endif %}
            </dl>
          </div>
          
          {% if course.summary_html %}
            <h3>What you'll learn.</h3>

            <!-- DEV: This stuff below is from a WYSIWYG-lite (probably just basic formatting and images) input on course edit -->
            {{ course.summary_html|safe }}
            <p>          
          {% endif %}
        </div><!-- col -->

        <div class="col-md-6">
            
          <h3>
            <span class="txt">Lesson plan.</span>
            <small class="subtxt">
              <span class="fas fa-clock"></span> 
              {{ course.duration_seconds|format_time }}
            </small>
          </h3>

          <div class="fit_body fit_lessons">

            {% for lesson in course.lessons %}
              {% include 'partials/course/_nav_lesson_nolink.html' %}
            {% endfor %}
          </div>
          <!-- end vid stack -->

        </div><!-- col -->
      </div>

    </div>  

  {% if not course.guest_access and not current_user %}
    <div class="fit_cta">
      <div class="fit_course">
        <h3>Ready to begin?</h3>
        <a href="#" data-fit-userpanel class="btn btn-light btn-hg btn-drop" role="button"><i class="fas fa-user"></i> Create an account</a>
        <p class="fit_cta_tnc">You need to make a free account to continue.</p>
      </div>
    </div>

  {% elif not course.paid and course.visibility == "public" %}
    <div class="fit_cta">
      <div class="fit_course">
        <h3>Ready to begin?</h3>
        <form method="post" action="/enroll/{{ course.slug }}">
          <button type="submit" class="btn btn-light btn-hg btn-drop" role="button"><i class="fas fa-rocket"></i> Pay with credit card
          </button>
          <p class="fit_cta_tnc">This is a paid course.</p>
        </form>
      </div>
    </div>

  {% elif not course.paid and course.visibility == "code" %}
    <div class="fit_cta">
      <div class="fit_course">
        <h3>Ready to begin?</h3>
        <form class="fit_form_code fit_fancyplace fit_wiggle_daddy" method="post" action="/enroll/{{ course.slug }}">
          <div class="form-group">
            <input type="text" class="form-control" name="course_code" id="course_code" placeholder="Course code" required data-fit-fancyplace>
            <label for="course_code">Course code</label>
            <button type="submit" class="btn btn-text fit_wiggle"><i class="fas fa-rocket"></i></button>
          </div>
        </form>
        <p class="fit_cta_tnc">This course is <a href="/product/pricing">completely free</a> forever!</p>
      </div>
    </div>
  {% endif %}

  {#

      <!-- DEV: this version is for a course that requires explicit user invites from the teacher. Not used yet! -->

      <div class="fit_cta">
        <div class="fit_course">
          <h3>Ready to begin?</h3>
          <a href="#" class="btn btn-light btn-hg btn-drop" disabled role="button"><i class="fas fa-lock"></i> Requires invite</a>
          <p class="fit_cta_tnc">You need to be invited by <strong>teacher.name</strong> to join this course.</p>
        </div>
      </div>
      
  #}

  </article>

</main>

{% endblock %}