{% extends "/layout.html" %}
{% block body %}
<main class="fit_player breezy">
  <nav>

    <div class="fit_mobilenav_trigger" fit-course_mobilenav_trigger>
      <a class="fit_btn" data-toggle="collapse">
        <span class="fit_txt">Lessons</span>
        <i class=" fas fa-chevron-down"></i>
      </a>
    </div>

    <div class="fits">

      <div class="fit fit_hider">
         <a class="fit_btn subtle" href="#" data-fit-minleft>
          <i class="fas fa-chevron-left"></i>
          <span class="fit_txt">Hide</span> 
        </a>
      </div>
      {% if active_segment %}
        {% for lesson in course.lessons %}
          {% include 'partials/course/_nav_lesson.html' %}
        {% endfor %}
      {% endif %}

    </div>
  </nav>


  {% if active_segment %}
  <article>
    <div class="fit_vidya">
      {% include 'partials/course/_active_segment.html' %}
    </div>

  </article>

  <aside>
    {% with lesson = active_lesson %}
      {% include 'partials/course/_lesson_detail.html' %}
    {% endwith %}
  </aside>  
  {% else %}
      <article>
      No content. :(
      </article>
  {% endif %}
  
</main>

{% endblock %}