{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course intro">

      <h1>
        <span class="txt">Edit course.</span>
        <small class="subtxt">
          <button class="btn btn-sm btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary"><i class="fal fa-check"></i> Save changes</button>
        </small>
      </h1>

      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="course_name" value="{{ course.title }}" id="course_name" placeholder="Name your course" data-fit-slug-first data-fit-slug-name data-course-edit>
      </div>
      <div class="form-group">
        <!-- <label for="lesson_description">Short description</label> -->
        <input type="text" class="form-control" id="course_description" value="{{ course.info }}" maxlength="140" placeholder="Short description of the lesson. 140 characters max." data-course-edit>
      </div>

      <div class="fit_vidya">
        <img class="placeholder" src="{%  if cover_image %}{{ cover_image }}{% else %}https://embed-ssl.wistia.com/deliveries/34aa394bce40d844a6914ed6b020eac6c0181c65.jpg?image_crop_resized=640x360{% endif %}" alt="video">
        <a class="fit_vidya_play" href="#" onclick="document.getElementById('cover_image').click()"><i class="fas fa-upload"></i></a>
        <input id="cover_image" name="cover_image" type="file" style="display: none;" data-course-edit>
      </div>

      <h3>
        <span class="txt">Lesson plan.</span>
        <small class="subtxt"><i class="fas fa-clock"></i>
          <!-- DEV: NEeds to show calculated total lesson length -->
          45:36
        </small>
      </h3>

      <div class="fit_body fit_lessons">
          

          {% if not introduction %}
          <a class="fit_btn solid secondary" href="#" data-toggle="modal" data-target="#fit_modal_add_lesson">
            <i class="fas fa-plus"></i>
            <span class="fit_txt">Add an intro video</span>
          </a>
          {% endif %}

          <div>

            {% if introduction %}
            <div class="fit_btn">
              <div class="fit_pic vid">
                <img src="{{ introduction.thumbnail }}" alt="course">
              </div>
              <div class="fit_txt">
                Introduction
              </div>
              <div class="sub buttonset">
                <div class="btn btn-text subtle">{{ introduction.strfduration }}</div>
                  <!-- DEV: Allow editing intro lesson. Allow removing intro lesson? -->
                <a href="#" class="btn btn-light"><i class="fal fa-ellipsis-v"></i></a>
              </div>
            </div>
            {% endif %}

            <div id="sortable-list" data-course-slug="{{ course.slug }}">
                {% for lesson in lessons %}
                <div id="lesson_{{ lesson.id }}" class="fit_btn" data-list-el-id="{{ lesson.id }}">
                  <div class="fit_pic vid">
                    <img src="{{ lesson.thumbnail }}" alt="course">
                  </div>
                  <div class="fit_txt">
                    {{ lesson.title }}
                  </div>

                  <div class="sub buttonset">

                    <div class="btn btn-text subtle">{{ lesson.strfduration }}</div>

                    <div class="dropdown">
                      <button href="#" class="btn btn-light" type="button" id="dropdown_123" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fal fa-ellipsis-v"></i>
                      </button>

                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_123">
                        <a class="dropdown-item" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/edit"><i class="fal fa-edit"></i> Edit</a>
                        <a class="dropdown-item" href="/course/{{ course.slug }}/lessons/{{ lesson.id }}/delete" data-toggle="modal" data-target="#fit_modal_delete"><i class="fal fa-trash"></i> Delete</a>
                      </div>
                    </div>

                    <a href="#" class="btn btn-light handle" data-fit-dragndrop><i class="fal fa-arrows-v"></i></a>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          
          <a class="fit_btn solid secondary" href="#" data-toggle="modal" data-target="#fit_modal_add_lesson">
            <i class="fas fa-plus"></i>
            <span class="fit_txt">Add a lesson / segment</span>
          </a>
        
      </div>
      <!-- end vid stack -->

      <div class="row">
        <div class="col-md-6">
          <h3>
            <span class="txt">Course info.</span>
          </h3>
          <form action="/course/{{ course.slug }}/edit" method="post">
          <div class="fit_pane">
            <dl class="fit_summary_icons">

              <!--
              <dt><i class="far fa-building"></i> Program</dt>
              <dd>
                <div class="form-group">
                  <select class="form-control">
                    <option>Leave No-one behind</option>
                    <option>Global challenges</option>
                  </select>
                </div>
              </dd>-->

              <dt><i class="far fa-calendar"></i> Year</dt>
              <dd>
                <div class="form-group">
                  <input type="text" class="form-control" id="year" placeholder="E.g. 2020" value="{{ course.year.year if course.year }}" data-course-edit>
                  <small class="form-text text-muted">Useful if you're running the same course over multiple years.</small>
                </div>
              </dd>

              <dt><i class="far fa-users"></i> Who's it for?</dt>
              <dd>
                <div class="form-group">
                  <textarea rows="3" type="text" class="form-control" id="who_its_for" placeholder="E.g. Super-early stage social entrepreneurs who don't have an idea, but want to learn the basics.."  data-course-edit>{{ course.target_audience }}</textarea>
                </div>
              </dd>
              
              <dt><i class="far fa-clock"></i> Course length &amp; workload</dt>
              <dd>
                <div class="form-group">
                  <textarea rows="3" type="text" class="form-control" id="workload_summary" placeholder="E.g. This course will take 20-30 hours on average, and is best done in teams." data-course-edit>{{ course.workload_summary }}</textarea>
                </div>
              </dd>

              <dt><i class="far fa-university"></i> Skill level</dt>
              <dd>
                <div class="form-group">
                  <input  type="text" class="form-control" id="skill_level" placeholder="E.g. Introductory to intermediate." value="{{ course.skill_level }}" data-course-edit>
                </div>
              </dd>

              <dt><i class="far fa-info-square"></i> What you&rsquo;ll learn</dt>
              <dd>
                <div class="form-group">
                  <!-- DEV: This stuff below is from a WYSIWYG-lite (probably just basic formatting and images) input on course edit -->
                  <textarea rows="8" id="course_summary" class="form-control" placeholder="From a basic idea to early customers, business models and getting the numbers right.

You'll define your impact model, look into creating behaviour change that lasts, and maybe even think about partnering with another organisation to create impact...">{{ course.summary_html }}</textarea>
                </div>
              </dd>
              
              <dt><i class="far fa-tag"></i> Tags</dt>
              <dd>
                <div class="form-group">
                  <!-- DEV: Let's use this? https://bootsnipp.com/snippets/exqd3 -->
                  <!-- For now, can be comma delimited? -->
                  <input type="text" class="form-control" placeholder="E.g. socent, agile, highschool" disabled>
                </div>
                <small class="form-text text-muted">Only letters, with commas between tags.</small>
              </dd>
            </dl>


          </div><!-- pane -->
          </form>

        </div><!-- col -->


        <div class="col-md-6">
            
          <h3>
            <span class="txt">Permissions.</span>
          </h3>


          <div class="fit_pane">
            <dl class="fit_summary_icons">
              
              <form action="/course/{{ course.slug }}/edit" method="post">
              <dt><i class="far fa-external-link"></i> Link</dt>
              <dd>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fal fa-link"></i></span>
                    </div>
                    <input type="text" id="course-slug" class="form-control" maxlength="20" name="course_slug" value="{{ course.slug }}" placeholder="short link">
                    <div class="input-group-append">
                      <button id="change-slug" class="btn btn-link-secondary" type="button" data-course-slug="{{ course.slug }}">Change</button>
                    </div>
                  </div>
                  <small class="form-text text-muted">Course link: <a data-fit-slug-url="/course/" href="/course/{{ course.slug }}">fitzroyacademy.com/course/{{ course.slug }}<strong data-fit-slug-reveal></strong></a></small>
                  <input type="hidden" value="????" id="secretslug" name="secretslug" data-fit-slug-reveal_secret> <!-- DEV: store this input, it strips off weird characters -->
                </div>
              </dd> 

              <dt>
                <i class="far fa-chalkboard-teacher"></i> Teacher(s)
                <a class="" data-toggle="tooltip" title="Invite other users to have teacher access to this course, via email." href="#"><i class="fas fa-info-circle"></i></a>
              </dt>
              <dd>
                <div id="add-teacher-alert" class="alert" style="display: none;"></div>

                <div class="fit_quicksearch">

                  <div class="input-group searchy">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fal fa-envelope"></i></span>
                    </div>
                    <input type="text" id="add-teacher-email" class="form-control" placeholder="example@email.com">
                    <div class="input-group-append">
                      <button id="add-teacher" class="btn btn-link-secondary" type="button" data-course-slug="{{ course.slug }}">Add</button>
                    </div>
                  </div>

                  <div id="teachers-list" class="teachers">
                    {% for teacher in teachers %}
                    <div id="teacher-{{ teacher.id }}" class="fit_btn">
                      <div class="fit_pic circle"><img src="{% if teacher.profile_picture %}{{ teacher.profile_picture }}{% else %}/assets/stub/marge.png{% endif %}" alt="user"></div>
                      <div class="fit_txt">{{ teacher.first_name }} {{ teacher.last_name }}</div>
                      <div class="sub buttonset">
                        <a class="btn btn-sm btn-light" data-teacher-id="{{ teacher.id }}" data-course-slug="{{ course.slug }}" data-course-edit-remove-teacher><i class="fal fa-trash"></i> Remove</a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </dd>

              <dt><i class="far fa-rocket"></i> Course code</dt>
              <dd>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id=""><i class="fal fa-lock"></i></div>
                    </div>
                    <input type="text" class="form-control" id="course_code" placeholder="Course code" maxlength="12" minlength="8" value="{{ course.course_code }}" data-course-edit>
                  </div>
                  <small class="form-text text-muted">All courses have a code. 8 - 12 characters, letters and numbers.</small>
                </div>
              </dd>
              </form>

              <dt><i class="far fa-lock"></i> Visibility</dt>
              <dd>
                <div class="form-group">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary active">
                      <input type="radio" name="course_permission" value="public" id="option1" autocomplete="off" checked data-fit-perm-type="visibility" data-fit-perm-trigger="public"> Public
                    </label>
                    <label class="btn btn-outline-secondary ">
                      <input type="radio" name="course_permission" value="public" id="option1" autocomplete="off" data-fit-perm-type="visibility" data-fit-perm-trigger="institute"> Institute only
                    </label>      
                    <label class="btn btn-outline-secondary">
                      <input type="radio" name="course_permission" value="code" id="option3" autocomplete="off" data-fit-perm-type="visibility" data-fit-perm-trigger="code"> Code only
                    </label>
                  </div>
                  <small class="form-text text-muted active" data-fit-perm-type="visibility" data-fit-perm-detail="public">Can be accessed by anyone, appears publicly on the site.</small>
                  <small class="form-text text-muted" data-fit-perm-type="visibility" data-fit-perm-detail="institute">Can only be found via your institute / school page.</small>
                  <small class="form-text text-muted" data-fit-perm-type="visibility" data-fit-perm-detail="code">Can only be found via access code.</small>
                </div>
              
              </dd>

              <dt><i class="far fa-usd-square"></i> Cost</dt>
              <dd>
                <div class="form-group" data-fit-perm-group-type="paid" >
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary {{ 'active' if not course.options("paid") }}">
                      <input type="radio" name="course_paid" value="free" id="option1" autocomplete="off" {{ 'checked' if not course.options("paid") }} data-fit-perm-type="paid" data-fit-perm-trigger="free" data-course-slug="{{ course.slug }}"> Free
                    </label>                
                    <label class="btn btn-outline-secondary {{ 'active' if course.options("paid") }}">
                      <input type="radio" name="course_paid" value="paid" id="option3" autocomplete="off" {{ 'checked' if course.options("paid") }} data-fit-perm-type="paid" data-fit-perm-trigger="paid" data-course-slug="{{ course.slug }}"> Paid
                    </label>
                  </div>
                  <small class="form-text text-muted active" data-fit-perm-type="cost" data-fit-perm-detail="free">Anyone can access this course for free.</small>
                </div>


                <div class="form-group" data-fit-perm-type="cost" data-fit-perm-detail="paid">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id="">$</div>
                    </div>
                    <input type="text" class="form-control" placeholder="e.g. 100">
                  </div>
                  <small class="form-text text-muted">One-time cost per student, in US Dollars.</small>
                </div>
              </dd>

              <div class="active" data-fit-perm-detail="free">
                <dt><i class="far fa-eye"></i> Anonymity</dt>
                <dd>
                  <div class="form-group" data-fit-perm-group-type="guest_access" data-course-slug="{{ course.slug }}">
                    <input type="checkbox" {{ 'checked' if course.options("guest_access") }} data-toggle="toggle" data-size="sm" data-style="simple" id="guest_access" name="guest_access">
                    <label for="">Allow anonymous access</label>
                  </div>
                </dd>
              </div>
             

            <dt><i class="far fa-file-edit"></i> Draft</dt>
              <dd>
                <div class="form-group">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                    <label class="btn btn-outline-secondary {{ 'active' if course.options("draft") }}">
                      <input type="radio" name="course_draft" value="draft" id="option1" autocomplete="off" {{ 'checked' if course.options("draft") }}  data-fit-perm-type="draft" data-fit-perm-trigger="draft" data-course-slug="{{ course.slug }}"> Draft
                    </label>                
                    <label class="btn btn-outline-secondary fit_live_course_btn {{ 'active' if not course.options("draft") }}">
                      <input type="radio" name="course_draft" value="live" id="option3" autocomplete="off" {{ 'checked' if not course.options("draft") }}  data-fit-perm-type="draft" data-fit-perm-trigger="live" data-course-slug="{{ course.slug }}"> <i class="fas fa-exclamation-square"></i> Live
                    </label>
                  </div>
                  <small class="form-text text-muted active" data-fit-perm-type="draft" data-fit-perm-detail="draft">Can only be accessed via direct link. Doesn't appear anywhere.</small>
                  <small class="form-text text-muted" data-fit-perm-type="draft" data-fit-perm-detail="live">
                    <span class="active" data-fit-perm-type="visibility" data-fit-perm-detail="public">Live on the site for <strong>anyone</strong> as this is a public course.</span>
                    <span data-fit-perm-type="visibility" data-fit-perm-detail="institute">Live on your <strong>institute page</strong> only.</span>
                    <span data-fit-perm-type="visibility" data-fit-perm-detail="code">Live, but only accessible via the <strong>course code.</strong></span>
                  </small>
                </div>
              </dd>

            </dl>
          </div><!-- pane -->


        </div><!-- col -->
      </div><!-- row -->

      <div class="fit_pane d-flex justify-content-between">
        <button class="btn btn-lg btn-outline-secondary"><i class="fal fa-external-link"></i> View live </button>
        <button class="btn btn-lg btn-primary"><i class="fal fa-check"></i>  Save changes</button>
      </div>

    </div>

  </article>

</main>

{% include 'partials/modal/_add_lesson.html' %}
{% include 'partials/modal/_add_segment.html' %}

{% endblock %}