{% extends "/layout.html" %}
{% block body %}
<main class="fit_player breezy">
  <nav>

    <div class="fit_mobilenav_trigger" fit-course_mobilenav_trigger>
      <a class="fit_btn" data-toggle="collapse">
        <span class="fit_txt">Lessons</span>
        <i class=" fas fa-chevron-down"></i>
      </a>
    </div>

    <div class="fits">

      <div class="fit fit_hider">
         <a class="fit_btn subtle" href="#" data-fit-minleft>
          <i class="fas fa-chevron-left"></i>
          <span class="fit_txt">Hide</span>
        </a>
      </div>
      {% if active_segment %}
        {% for lesson in course.lessons %}
          {% include 'partials/course/_nav_lesson.html' %}
        {% endfor %}
      {% endif %}

    </div>
  </nav>


  {% if active_segment %}
      <article data-fit-vidya-locked style="display: none;">
        <div class="fit_segment_locked">
          <i class="fal fa-lock"></i>
          <h1>Locked.</h1>
          <a href="#" class="btn btn-lg btn-text"><i class="fal fa-chevron-left"></i> Complete the previous segment first.</a>
          <!-- <a href="#" class="btn btn-lg btn-text"><i class="fal fa-chevron-left"></i> Complete all previous segments first.</a> -->
        </div>
      </article>
      <article data-fit-vidya-unlocked>
        <div class="fit_vidya {% if active_segment.type.name == "video" %}active{% endif %}"
             data-fit-pane-type="segment_display_content"
             data-fit-pane-detail="video_content"
        >
          {% include "partials/segments/_video_wistia.html" %}
        </div>
        <div class=" {% if active_segment.type.name == "text" %}active{% endif %}"
             data-fit-pane-type="segment_display_content"
             data-fit-pane-detail="text_content"
        >
          {% if active_segment.type.name == "text" %}
          {% include "partials/segments/_text.html" %}
          {% endif %}
        </div>
        <div class="{% if active_segment.type.name == "survey" %}active{% endif %}"
             data-fit-pane-type="segment_display_content"
             data-fit-pane-detail="survey_content"
        >
          {% if active_segment.type.name == "survey" %}
          {% include "partials/segments/survey/" + active_segment.survey_type.name + ".html" %}
          {% endif %}
        </div>
      </article>

  <aside>
    {% with lesson = active_lesson %}
      {% include 'partials/course/lesson_detail/index.html' %}
    {% endwith %}
  </aside>
  {% else %}
      <article>
      No content. :(
      </article>
  {% endif %}

</main>

{% endblock %}