<!doctype html>
<html lang="en" class="">

<!-- fit_minleft -->
<!-- fit_minright -->
<!-- fit_revealuserpanel -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- plugins -->
  <link rel="stylesheet" href="/vendor/fontawesome-pro-5.8.1-web/css/all.css">
  <link rel="stylesheet" href="/vendor/flag-icon-css-master/css/flag-icon.css">
  <link rel="stylesheet" href="/vendor/bootstrap4-toggle/css/bootstrap4-toggle.css">

  <!-- Then our stuff -->
  <link rel="stylesheet" href="/css/fit.css">

  <title>FA! 😍</title>
</head>
<body>

{% include 'partials/_nav_code.html' %}


{% block body %}{% endblock %}

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap4-toggle/js/bootstrap4-toggle.js"></script>
<script src="/vendor/apexcharts/dist/apexcharts.min.js"></script>

<!-- FA JS -->
<script src="/js/fit.js"></script>

</body>
</html>
