{% from 'macros.html' import link_to, active_link, wysiwyg %}
<!doctype html>
<html lang="en" class="
  
  section-{{ current_section }}
  section-sub-{{ current_section_sub }}
  {% if url_is('course.view', 'lesson.view', 'segment.view') %} course {% endif %}
  {% if current_user %} current_user {% endif %}

">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }} ">

  <!-- Other fool's plugins -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flag-icon-css-master/css/flag-icon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap4-toggle/css/bootstrap4-toggle.css') }}">
  <script src="https://kit.fontawesome.com/1f45a33999.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/node-snackbar/dist/snackbar.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/medium-editor/dist/css/medium-editor.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/cropperjs/cropper.min.css') }}" />
  <!-- Then our stuff -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fit.css')}}?{{ cache_code }}">

  <title>😍 Fitzroy Academy</title>
</head>
<body>

{% include 'partials/_flash_alerts.html' %}



{% block body %}{% endblock %}


<div class="fat_footer">
  {% include 'partials/nav/_footer.html' %}
</div>


<div class="modal fade fat_menu_modal fat_menu_lhs" tabindex="-1" role="dialog" id="fat_menu_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="x" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
      </button>      
      <div class="modal-body">
        
        <div class="fat_hero">
          <h1>Hi! 🥰</h1>
          <div class="fat_tease_btns">
            <a class="btn btn-xl btn-text" href="/"><i class="fal fa-home"></i> Home </a>
            <a class="btn btn-xl btn-text watermelon" href="/courses"><i class="fal fa-play"></i> Courses </a>
            <a class="btn btn-xl btn-text purple" href="/about/services"><i class="fal fa-chalkboard-teacher"></i> Services </a><br>
            <a class="btn btn-xl btn-text cyan" href="/about"><i class="fal fa-smile-beam"></i> About us</a>              
            <a class="btn btn-xl btn-text green" href="/about/contact"><i class="fal fa-comment-alt-smile"></i> Contact us</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>



<!-- Other fool's JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap4-toggle/js/bootstrap4-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/apexcharts/dist/apexcharts.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="{{ url_for('static', filename='vendor/node-snackbar/dist/snackbar.min.js') }}"></script>

<!-- medium wysiwyg -->
<script src="{{ url_for('static', filename='vendor/medium-editor/dist/js/medium-editor.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/medium-editor-autolist/dist/autolist.min.js') }}"></script>
<!-- wysiwyg -->

<script src="{{ url_for('static', filename='vendor/cropperjs/cropper.min.js') }}"></script>


<!-- FA JS -->
{% block CSRFtoken %}
    <script type="text/javascript">
        {% if form and form.csrf_token %}
        var csrf_token = "{{ form.csrf_token.current_token }}";
        {% elif ajax_csrf_form and ajax_csrf_form.csrf_token %}
        var csrf_token = "{{ ajax_csrf_form.csrf_token.current_token }}";
        {% endif %}
    </script>
{% endblock %}
<script src="{{ url_for('static', filename='js/fit.js') }}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74679557-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74679557-1');
</script>


<!-- {% include 'partials/_debug_template_vars.html' %} -->


</body>
</html>
