{% from 'macros.html' import link_to, active_link, wysiwyg %}
<!doctype html>
<html lang="en" class="
  fit_breezy_player
  {% if url_is('course.view', 'lesson.view', 'segment.view') %} course {% endif %}
  {% if current_user %} current_user {% endif %}
">

<!-- fit_minleft -->
<!-- fit_minright -->
<!-- fit_revealuserpanel -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }} ">

  <!-- Other fool's plugins -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flag-icon-css-master/css/flag-icon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap4-toggle/css/bootstrap4-toggle.css') }}">
  <script src="https://kit.fontawesome.com/1f45a33999.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/node-snackbar/dist/snackbar.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/medium-editor/dist/css/medium-editor.min.css') }}" />
  <!-- <link rel="stylesheet" type="text/css" href="/vendor/medium-editor/dist/css/themes/flat.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/cropperjs/cropper.min.css') }}" />
  <!-- Then our stuff -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fit.css')}}?{{ cache_code }}">

  <title>FA! 😍</title>
</head>
<body>


{% include 'partials/_flash_alerts.html' %}

{% include 'partials/nav/_header.html' %}

{% block body %}{% endblock %}


{% include 'partials/nav/_footer.html' %}

<!-- At some point we will decide how to bring these in sensibly -->
{% include 'partials/modal/_add_course.html' %}
{% include 'partials/modal/_delete.html' %}


<!-- Other fool's JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap4-toggle/js/bootstrap4-toggle.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/apexcharts/dist/apexcharts.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="{{ url_for('static', filename='vendor/node-snackbar/dist/snackbar.min.js') }}"></script>

<!-- medium wysiwyg -->
<script src="{{ url_for('static', filename='vendor/medium-editor/dist/js/medium-editor.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/medium-editor-autolist/dist/autolist.min.js') }}"></script>
<!-- wysiwyg -->

<script src="{{ url_for('static', filename='vendor/cropperjs/cropper.min.js') }}"></script>


<!-- FA JS -->
{% block CSRFtoken %}{% endblock %}
<script src="{{ url_for('static', filename='js/fit.js') }}"></script>


{% include 'partials/_debug_template_vars.html' %}

</body>
</html>
