{% extends "/layout.html" %}
{% block body %}
<main>
  <nav>
    <div class="fits">
      <div class="fit fit_hider">
         <a class="fit_link subtle i-l" href="#" data-fit-minleft>
          <span class="fit_txt">Hide playlist</span> 
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
      <div class="fit">
        <div class="fit_body collapse show" id="fit_1">
        
          <a class="fit_link i-l i-t" data-toggle="collapse" href="#fit_lesson_1" role="button" aria-expanded="fit_lesson_1" aria-controls="fit_lesson_1">
            <div class="fit_video">
              <img src="./assets/images/lessons/agile-project-management.jpg" alt="course">
              <span class="fas fa-check"></span>
            </div>
            <span class="fit_txt">Agile project management</span>
            <span class="fit_time">3:51</span>
          </a>

          <div class="collapse" id="fit_lesson_1">
            <div class="fit_body fit_segments">
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">Introduction</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">1:01</span>
                </a>
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">The interviewee</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">3:22</span>
                </a>
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">The questionairre</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">4:52</span>
                </a>
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">Getting started</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">1:30</span>
                </a>
              </div>
          </div>          
          
          <div class="fit_lesson">
            <a class="fit_link i-l i-t" data-toggle="collapse" href="#fit_lesson_2" role="button" aria-expanded="fit_lesson_2" aria-controls="fit_lesson_2">
              <div class="fit_video">
                <img src="./assets/images/lessons/community-integration.jpg" alt="course">
                <i class="fas fa-play"></i>
              </div>
              <span class="fit_txt">Community integration</span>
              <span class="fit_time">3:51</span>
              <i class="fit_lesson_min fas fa-chevron-up"></i>
            </a>

            <div class="collapse show" id="fit_lesson_2">
              <div class="fit_body fit_segments">
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">Introduction</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">1:01</span>
                </a>
                <a class="fit_link complete i-l i-t" href="#">
                  <span class="fit_txt">The interviewee</span> 
                  <span class="fas fa-check"></span>
                  <span class="fit_time">3:22</span>
                </a>
                <a class="fit_link active i-l i-t" href="#">
                  <span class="fit_txt">The questionairre</span> 
                  <span class="fas fa-play"></span>
                  <span class="fit_time">4:52</span>
                </a>
                <a class="fit_link i-l i-t" href="#">
                  <span class="fit_txt">Survey</span> 
                  <span class="fas fa-poll-h"></span>
                  <span class="fit_time"></span>
                </a>
                <a class="fit_link i-l i-t" href="#">
                  <span class="fit_txt">Getting started</span> 
                  <span class="fas fa-circle"></span>
                  <span class="fit_time">1:30</span>
                </a>
              </div>
            </div>          
          </div>

          <a class="fit_link i-l i-t" href="#">
            <div class="fit_video"><img src="./assets/images/lessons/empathy-mapping.jpg" alt="course"></div>
            <span class="fit_txt">Empathy mapping</span>
            <span class="fit_time">3:51</span>
          </a>        

          <a class="fit_link i-l i-t" href="#">
            <div class="fit_video"><img src="./assets/images/lessons/crowdfunding.jpg" alt="course"></div>
            <span class="fit_txt">Crowdfunding</span>
            <span class="fit_time">3:51</span>
          </a>
        </div>
      </div>

    </div>
  </nav>


  <article>
    <div class="fit_vidya">
      {# <img class="placeholder" src="./assets/images/defaults/vid.jpg" alt="video"> #}

      <script src="https://fast.wistia.com/embed/medias/4ub59urk8l.jsonp" async></script>
      <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

      <div class="wistia_embed wistia_async_4ub59urk8l videoFoam=true">
        <div class="wistia_swatch">
          <img src="https://fast.wistia.com/embed/medias/4ub59urk8l/swatch" alt="vid" onload="this.parentNode.style.opacity=1;" />
        </div>
      </div> 
{# 
      <div class="fit_vidya_controls">
        <button type="button" class="btn btn-light" data-fit-ctrl><i class="far fa-expand-wide"></i></button>
      </div>
#}
    </div>

    <div class="fit_subvidya">

      <a href="#" class="fit_closepanel"><i class="fas fa-times"></i></a>
      
      <h2 class="fit_avatared">
        <a href="user.html">
          <span class="fit_avatar"><img src="https://randomuser.me/api/portraits/women/44.jpg" alt="image"></span>
        Jenny Huang.
        </a>
      </h2>

      <div class="fit_chart">
        <div class="fit_chart_svg" id="fit_chart"></div>
        <div class="fit_chart_x">
          <div class="tick"><i class="fas fa-circle"></i></div>
          <div class="tick"><i class="fas fa-circle"></i></div>
          <div class="tick"><i class="fas fa-circle"></i></div>
          <div class="tick"><i class="fas fa-poll-h"></i></div>
          <div class="tick"><i class="fas fa-circle"></i></div>
        </div>
      </div>

    </div>
  </article>



  <aside>
    <div class="fits">

      <div class="fit fit_hider">
        <a class="fit_link subtle i-r" data-fit-minright href="#">
          <span class="fit_txt">Hide tabs</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="fit">
        <a class="fit_link collapsed i-r" data-toggle="collapse" href="#fit_lesson_resources" role="button" aria-expanded="fitse" aria-controls="fit_lesson_resources">
          <span class="fit_txt">Resources</span> 
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse" id="fit_lesson_resources">
          <div class="fit_body_content">

            <a class="fit_link i-l" href="#">
              <span class="fas fa-file-alt lg"></span>
              Awesome template example
              <small>Google document</small>
            </a>

            <a class="fit_link i-l" href="#">
              <span class="fas fa-file-spreadsheet lg"></span>
              My spreadsheet thing
              <small>Google spreadsheet</small>
            </a>

            <a class="fit_link i-l" href="#">
              <span class="fas fa-file-image lg"></span>
              Slide deck example
              <small>Google slides</small>
            </a>

            <a class="fit_link subtle i-l" href="#">
              <span class="fas fa-arrow-left"></span>
              More lesson resources
            </a>

          </div>
        </div>
      </div>
      <div class="fit">
        <a class="fit_link i-r collapsed" data-toggle="collapse" href="#fit_lesson_faqs" role="button" aria-expanded="fitse" aria-controls="fit_lesson_faqs">
          <span class="fit_txt">Frequently asked questions</span>
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse" id="fit_lesson_faqs">
          <div class="fit_body_content">

            <h5>What's with Vermeulen and van den Akker?</h5>
            <p>He is some big ol kinda jerk and you probably wouldn't like him hey.</p>
            
            <h5>Also my butt?</h5>
            <p>The prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.</p>

            <h5>And what about your butt?</h5>
            <p>Vermeulen asserts that "metamodernism is not so much a philosophy—which implies a closed ontology—as it is an attempt at a vernacular, or a sort of open source document.</p>

            <a class="fit_link subtle i-l" href="#">
              <span class="fas fa-arrow-left"></span>
              Load 8 more FAQs
            </a>

          </div>
        </div>
      </div>

      <div class="fit">
        <a class="fit_link i-r collapsed" data-toggle="collapse" href="#fit_lesson_transcript" role="button" aria-expanded="fitse" aria-controls="fit_lesson_transcript">
          <span class="fit_txt">Transcript</span>
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse" id="fit_lesson_transcript">
          <div class="fit_body_content">
            <p>The term metamodernist appeared as early as 1975, when Mas'ud Zavarzadeh isolatedly used it to describe a cluster of aesthetics or attitudes which had been emerging in American literary narratives since the mid-1950s.</p>
            <a class="fit_link subtle i-l" href="#">
              <span class="fas fa-arrow-left"></span>
              Full tranascript
            </a>            
          </div>
        </div>
      </div>      

      <div class="fit">
        <a class="fit_link i-r collapsed" data-toggle="collapse" href="#fit_lesson_teacher" role="button" aria-expanded="fitse" aria-controls="fit_lesson_teacher">
          <span class="fit_txt">Your teacher</span>
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse" id="fit_lesson_teacher">
          <div class="fit_body_content">
            <a class="fit_link i-l" data-toggle="collapse" href="#fit_lesson_resources" role="button" aria-expanded="fitse" aria-controls="fit_lesson_resources">
              <span class="fit_txt">Victoria Cullen</span> 
              <img class="fit_avatar" src="./assets/images/defaults/face.jpg" alt="user">
            </a>
            <p>&ldquo;I'm a prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.&rdquo;</p>
          </div>
        </div>
      </div>

      <div class="fit fit_overflow">
        <a class="fit_link i-r" data-toggle="collapse" href="#fit_lesson_stats" role="button" aria-expanded="fitse" aria-controls="fit_lesson_stats">
          <span class="fit_txt">Analytics <span href="#" class="badge badge-light">admins only</span></span>
          <span class="fas fa-chevron-down"></span>
        </a>

        <div class="fit_body collapse show person_active" id="fit_lesson_stats">
          <div class="fit_body_content">
            <form class="form">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" name="search" value="" id="search" placeholder="Filter" aria-label="search" aria-describedby="search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-sort"></i> <span class="d-none d-sm-inline-block"></button>
                  </div>
                </div>  
              </div>
            </form>

            {% include 'partials/_student_list_active.html' %}
            {% include 'partials/_student_list.html' %}
          </div>
        </div>
      </div>      

    </div>
  </aside>
</main>

{% endblock %}
