{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_hero pink">
      <a class="fit_heartplay" data-fit-heartplay>
        <i class="bigboy far fa-heart-broken"></i>
      </a>
      <h1>The <strong data-fit-heartplay>mistakes</strong> list.</h1>
      
    </div>

    <div class="fit_medium">
      
      <div class="fit_window">
        <div class="butts"><a></a><a></a><a></a></div>        
        <img src="./assets/images/static/mistakes/facepalm_pink.jpg" alt="image">
      </div>



      <h1>Sharing our  dumb mistakes.</h1>
      <p>Hopefully you don't have to make them again.</p>
      <p><strong>We&rsquo;re doing this</strong> because we think it&rsquo;s good teaching and learning.</p>
      <p><strong>Also,</strong> we had a long conversation with some partners and funders about social sector folks making the same mistakes over and over without sharing.</p>        
      <hr class="blunt">
      
      <h3>Foolish themes!</h3>
      <p>When we wrote down a list our screw-ups, we noticed some themes.</p>
      <p>Pretty much all of our mistakes fit within one of these categories:</p>
      
      <div class="breakbig">
        <div class="row">
          <div class="col-md-4">
            <img src="./assets/images/static/mistakes/picard.jpg" alt="image">
            <h4>The dumb expert.</h4>
            <p>Making simple mistakes that we teach our students to avoid.</p>
          </div>
          <div class="col-md-4">
            <img src="./assets/images/static/mistakes/holy.jpg" alt="image">
            <h4>Repeated madness.</h4>
            <p>Making a mistake, then making the same mistake again later.</p>
          </div>
          <div class="col-md-4">
            <img src="./assets/images/static/mistakes/statue.jpg" alt="image">
            <h4>Ego.</h4>
            <p>Letting our ego get in the way and not listening to others.</p>
          </div>          
        </div>
      </div>

      <hr class="blunt">
      
      <h1 id="fail_list">The list:</h1>

      <div class="sticky-top fit_subhead">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#fail_list" data-fit_fail_list="all"><i class="fal fa-check"></i> All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="dumb"><i class="fal fa-chalkboard-teacher"></i> Dumb <span class="d-none d-sm-inline-block">expert</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="mad"><i class="fal fa-repeat"></i> Repeat <span class="d-none d-sm-inline-block">madness</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fail_list" data-fit_fail_list="ego"><i class="fal fa-glasses"></i> Ego</a>
          </li>
<!--             
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort by</a>
            <div class="dropdown-menu">
              <a class="dropdown-item active" href="#"><i class="fal fa-calendar"></i> Date</a>
              <a class="dropdown-item" href="#"><i class="fal fa-pepper-hot"></i> Spiciness</a>
            </div>
          </li>
           -->
        </ul>
      </div>

      <hr class="spacer">
      
      <div class="fit_pane fat" data-fit_fail_type="dumb">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_hire" role="button" aria-expanded="fitse" aria-controls="fail_hire">
            <i class="far fa-chalkboard-teacher"></i> 
            <span class="fit_txt">The bad hire</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_hire">
            <dl class="fit_summary_icons">

              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>Late 2016:</strong> We hired a (great) staff member before we had enough work for them, then ran out of work for them <em>and</em> money to pay their wage all at once.</p> 
                <p>We had to let them go and it felt real crappy.</p>
              </dd>
              <dt><i class="far fa-clock"></i> Why did it happen?</dt>
              <dd>
                <p>We had enough cash in the bank to wear the hire, and expected we'd need them once we won a big, upcoming grant. We didn't win the big grant. 😣</p>
                <p>Also we just <em>liked</em> them and figured we'd find the work to justify the hire. This was really dumb in retrospect.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>
                <p>We helped that staff member get another job at a friend's company, and gave them 6 weeks to leave. In retrospect this probably wasn't a great idea either, and we should have made the firing decision earlier.</p>
              </dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>
                <p>We should have waiting longer to hire. <a href="https://www.google.com/search?q=Hire+slow%2C+fire+fast" target="_blank">Hire slow! Duh.</a> We didn't desperately need this person, so we couldn't define their role well enough to make it valuable.</p>
                <p>On the flip-side, a year later it took is 3-4 months longer to hire than it should have for another role, which hurt us in other ways. Argh!</p>
              </dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>We lost more money and time on this than we want to admit. Ouch.</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

      <div class="fit_pane fat" data-fit_fail_type="ego">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_studio" role="button" aria-expanded="fitse" aria-controls="fail_studio">
            <i class="fal fa-glasses"></i>
            <span class="fit_txt">The studio space fail</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_studio">
            <dl class="fit_summary_icons">
              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>2016:</strong> We moved into a studio space we couldn&rsquo;t afford.</p>
                <p>It was nice to have a place to work, but we didn't think it through, didn't totally click with our studio-mates (good people, we were just too different in work style to them).</p>
              </dd>
              <dt><i class="far fa-clock"></i> Why did it happen?</dt>
              <dd>
                <p>We had just won a big customer and expected to get more quickly. We wanted to be a &lsquo;real&rsquo; company with space that people could visit, run workshops in, etc. We ended up running maybe one or two workshops and could have done most of this stuff from a co-working space or home.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>
                <p>We moved out. It burnt a bunch of money and time, but now we work distributed. Will and Leo work most of the time in Will's loungeroom! We love it.</p>
              </dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>
                <p>We assumed that studio space was needed when it probably wasn't. We also had a decent-but-not-great relationship with the other company we shared the space with, which meant neither they or we got the full use of the space we wanted.</p>
                <p>The compromise was lame for everyone.</p>
              </dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>Kinda sucked. The money was less of a bummer than the failed relationship.</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

      <div class="fit_pane fat" data-fit_fail_type="mad">
        <div class="fit">
          <a class="fit_btn fit_btn_lg collapsed" data-toggle="collapse" href="#fail_mad" role="button" aria-expanded="fitse" aria-controls="fail_mad">
            <i class="fal fa-repeat"></i>
            <span class="fit_txt">Repeated madness</span>
            <span class="fas fa-chevron-down"></span>
          </a>
          <div class="fit_body collapse" id="fail_mad">
            <dl class="fit_summary_icons">
              <dt><i class="far fa-heart-broken"></i> What happened?</dt>
              <dd>
                <p><strong>2016:</strong> We moved into a studio space we couldn&rsquo;t afford.</p>
                <p>It was nice to have a decent place to work, but we didn't think it through, didn't really get along with our studio-mates (good people, we were just too different in style to them).</p>
              </dd>
              <dt><i class="far fa-clock"></i> Why did it happen?</dt>
              <dd>
                <p>We had just won a grant and thought we would get more. We wanted to be a 'real' company with space that people could visit, run workshops, etc. We ended up running maybe one or two workshops.</p>
              </dd>
              <dt><i class="far fa-heart"></i> How we fixed it.</dt>
              <dd>We moved out. It burnt a bunch of money and time, but now we work distributed. Will and Leo work most of the time in Will's loungeroom! We love it.</dd>
              
              <dt><i class="far fa-comments-alt"></i> Real talk, what <em>actually</em> happened?</dt>
              <dd>We assumed that studio space was needed when it probably wasn't. We also had a decent-but-not-great relationship with the other company we shared the space with, which meant neither they or we got the full use of the space we wanted. The compromise was crappy for everyone.</dd>

              <dt><i class="far fa-tachometer-alt-fast"></i> Spiciness:</dt>
              <dd>
                <p>Kinda sucked.</p>
                <div class="fit_spicy">
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fas fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                  <i class="fal fa-pepper-hot"></i>
                </div>
              </dd>            
            </dl>
          </div><!-- collapse -->
        </div><!-- fit -->
      </div><!-- pane -->

    </div><!-- medium -->
  </article>

</main>

{% endblock %}

