{% extends "/layout.html" %}
{% block body %}

<main>
  <nav>
    <div class="fits">

      <div class="fit fit_hider">
         <a class="fit_btn subtle" href="#" data-fit-minleft>
          <i class="fas fa-chevron-left"></i>
          <span class="fit_txt">Hide</span> 
        </a>
      </div>


      <div class="fit_lesson">
        <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_1" role="button" aria-expanded="fit_lesson_1" aria-controls="fit_lesson_1">
          <div class="fit_pic vid">
            <img src="./assets/images/lessons/agile-project-management.jpg" alt="course">
            <span class="fas fa-check"></span>
          </div>
          <span class="fit_txt">Agile project management</span>
          <span class="fit_sub">3:51</span>
          <i class="fit_hovermin fas fa-chevron-up"></i>
        </a>

        <div class="collapse" id="fit_lesson_1">
          <div class="fit_body fit_segments">
            <a class="fit_btn complete" href="#">
              <span class="fas fa-check"></span>
              <span class="fit_txt">Introduction</span> 
              <span class="fit_sub">1:01</span>
            </a>
            <a class="fit_btn complete" href="#">
              <span class="fas fa-check"></span>
              <span class="fit_txt">The interviewee</span> 
              <span class="fit_sub">3:22</span>
            </a>
            <a class="fit_btn complete" href="#">
              <span class="fas fa-check"></span>
              <span class="fit_txt">The questionairre</span> 
              <span class="fit_sub">4:52</span>
            </a>
            <a class="fit_btn complete" href="#">
              <span class="fas fa-check"></span>
              <span class="fit_txt">Getting started</span> 
              <span class="fit_sub">1:30</span>
            </a>
          </div>
        </div>
      </div>          
      
      <div class="fit_lesson">
        <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_2" role="button" aria-expanded="fit_lesson_2" aria-controls="fit_lesson_2">
          <div class="fit_pic vid">
            <img src="./assets/images/lessons/community-integration.jpg" alt="course">
            <i class="fas fa-play"></i>
          </div>
          <span class="fit_txt">Community integration</span>
          <span class="fit_sub">3:51</span>
          <i class="fit_hovermin fas fa-chevron-up"></i>
        </a>

        <div class="collapse show" id="fit_lesson_2">
          <div class="fit_body fit_segments">
            
            <a class="fit_btn video complete" href="#">
              <span class="fas fa-"></span>
              <span class="fit_txt">Introduction</span>
              <span class="fit_sub">1:01</span>
            </a>

            <a class="fit_btn html locked" href="#">
              <span class="fas fa-iconhere"></span>
              <span class="fit_txt">Introduction</span>
              <span class="fit_sub">1:01</span>
            </a>

            <a class="fit_btn complete" href="#">
              <span class="fas fa-check"></span>
              <span class="fit_txt">The interviewee</span> 
              <span class="fit_sub">3:22</span>
            </a>
            <a class="fit_btn questionairre active" href="#">
              <span class="fas fa-file"></span>
              <span class="fit_txt">The questionairre</span> 
            </a>
            <a class="fit_btn optional" href="#">
              <span class="fas fa-poll-h"></span>
              <span class="fit_txt">Survey</span>
              <span class="fit_sub"></span>
            </a>
            <a class="fit_btn locked" href="#">
              <span class="fas fa-circle"></span>
              <span class="fit_txt">Getting started</span> 
              <span class="fit_sub">1:30</span>
            </a>
          </div>
        </div>          
      </div>

      <div class="fit_lesson">
        <a class="fit_btn collapsed" href="#">
          <div class="fit_pic vid"><img src="./assets/images/lessons/empathy-mapping.jpg" alt="course"></div>
          <span class="fit_txt">Empathy mapping</span>
          <span class="fit_sub">3:51</span>
        </a>
      </div>

      <div class="fit_lesson">
        <a class="fit_btn collapsed" href="#">
          <div class="fit_pic vid"><img src="./assets/images/lessons/crowdfunding.jpg" alt="course"></div>
          <span class="fit_txt">Crowdfunding</span>
          <span class="fit_sub">3:51</span>
        </a>
      </div>

      <div class="fit_lesson_manage">
        <a class="fit_btn" href="#">
          <i class="fas fa-edit"></i>
          <span class="fit_txt">Edit this lesson</span>
        </a>
        <a class="fit_btn" href="#">
          <i class="fas fa-user-plus"></i>
          <span class="fit_txt">Manage students</span>
        </a>        
      </div>


    </div>
  </nav>


  <article>

    <div class="fit_subvidya">

      {# <a href="#" class="fit_closepanel"><i class="fas fa-times"></i></a> #}

      <div class="nav nav-pills fit_flag_group" role="tablist" aria-label="Basic example">
        <a href="#lang-en" class="nav-link active" data-toggle="tab" role="tab">
          <span class="flag flag-icon-background flag-icon-gb" title="gb"></span> English
        </a>
        <a href="#lang-kh" class="nav-link" data-toggle="tab" role="tab">
          <span class="flag flag-icon-background flag-icon-kh" title="kh"></span> ភាសាខ្មែរ
        </a>
        <a href="#lang-ph" class="nav-link" data-toggle="tab" role="tab">
          <span class="flag flag-icon-background flag-icon-ph" title="ph"></span> Tagalog
        </a>
      </div>

      <div class="tab-content fit_html_slab" id="lang_change">
      
        <div class="tab-pane fade show active" id="lang-en" role="tabpanel">
          <h2>Welcome to a text thing.</h2>

          <h4>History of the term.</h4>
          <p>The term <strong>metamodernist</strong> appeared as early as 1975, when Mas'ud Zavarzadeh isolatedly used it to describe a cluster of aesthetics or attitudes which had been emerging in American literary narratives since the mid-1950s.</p>

          <p>In 1995, Canadian literary theorist Linda Hutcheon stated that a new label for what was coming after postmodernism was necessary.</p>

          <p>In 1999, Moyo Okediji reused the term metamodern about contemporary Afro-American art, defining it as an "extension of and challenge to modernism and postmodernism" with the aim to "transcend, fracture, subvert, circumvent, interrogate and disrupt, hijack and appropriate modernity and postmodernity."</p>

          <p>
            <img src="./assets/images/lessons/performance.jpg" alt="user">
          </p>

          <p>In 2002, Andre Furlani, analyzing the literary works of Guy Davenport, defined metamodernism as an aesthetic that is "after yet by means of modernism…. a departure as well as a perpetuation."[4][5] The relationship between metamodernism and modernism was seen as going "far beyond homage, toward a reengagement with modernist method in order to address subject matter well outside the range or interest of the modernists themselves."</p>

          <p>In 2007, Alexandra Dumitrescu described metamodernism as partly a concurrence with, partly an emergence from, and partly a reaction to, postmodernism, "champion[ing] the idea that only in their interconnection and continuous revision lie the possibility of grasping the nature of contemporary cultural and literary phenomena."</p>

          <h4>Vermeulen and van den Akker.</h4>

          <p>
            <img src="./assets/images/lessons/evidence-based-interventions.jpg" alt="user">
          </p>

          <p>In 2010, cultural theorists Timotheus Vermeulen and Robin van den Akker proposed metamodernism as an intervention in the post-postmodernism debate.[7][8] In their essay Notes on Metamodernism, they asserted that the 2000s were characterized by the return of typically modern positions that did not forfeit the postmodern mindsets of the 1980s and 1990s. According to them, the metamodern sensibility "can be conceived of as a kind of informed naivety, a pragmatic idealism", characteristic of cultural responses to recent global events such as climate change, the financial crisis, political instability, and the digital revolution.[7] They asserted that “the postmodern culture of relativism, irony, and pastiche" is over, having been replaced by a post-ideological condition that stresses engagement, affect, and storytelling.</p>

          <p>The prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.[7] Vermeulen and van den Akker described metamodernism as a "structure of feeling" that oscillates between modernism and postmodernism like "a pendulum swinging between…innumerable poles".[10] According to Kim Levin, writing in ARTnews, this oscillation "must embrace doubt, as well as hope and melancholy, sincerity and irony, affect and apathy, the personal and the political, and technology and techne."[9] For the metamodern generation, according to Vermeulen, "grand narratives are as necessary as they are problematic, hope is not simply something to distrust, love not necessarily something to be ridiculed."</p>

          <p>Vermeulen asserts that "metamodernism is not so much a philosophy—which implies a closed ontology—as it is an attempt at a vernacular, or…a sort of open source document, that might contextualise and explain what is going on around us, in political economy as much as in the arts."[11] The return of a Romantic sensibility has been posited as a key characteristic of metamodernism, observed by Vermeulen and van den Akker in the architecture of Herzog & de Meuron, and the work of artists such as Bas Jan Ader, Peter Doig, Olafur Eliasson, Kaye Donachie, Charles Avery, and Ragnar Kjartansson.</p>
        </div>

        <div class="tab-pane fade" id="lang-kh" role="tabpanel">
          <h2>ប្រតិចារិក</h2>

          <h4>ប្រវត្តិសាស្រ្តនៃពាក្យ</h4>
          <p>ពាក្យ metamodernist បានបង្ហាញខ្លួននៅដើមឆ្នាំ 1975 នៅពេលដែល Mas'ud Zavarzadeh បានប្រើវាដាច់ដោយឡែកពីគ្នាដើម្បីពិពណ៌នាអំពីចង្កោមនៃអាកប្បកិរិយាឬអាកប្បកិរិយាដែលបានលេចឡើងនៅក្នុង narratives អក្សរសិល្ប៍របស់អាមេរិកចាប់តាំងពីពាក់កណ្តាលទសវត្សឆ្នាំ 1950</p>

          <p>នៅឆ្នាំ 1995 អ្នកជំនាញផ្នែកអក្សរសាស្ត្រកាណាដាលោកលីនដាហ៊ូតថុនបានថ្លែងថាស្លាកថ្មីមួយសម្រាប់អ្វីដែលបានកើតឡើងក្រោយពេលទំនើបគឺជាការចាំបាច់។</p>

          <p>នៅឆ្នាំ 1999 Moyo Okediji បានប្រើពាក្យមេតាឌិតថ្មីអំពីសិល្បៈអាហ្រ្វិកសហសម័យដែលកំណត់ថាវាជា "ការពង្រីកនិងប្រជែងនឹងសម័យទំនើបនិង postmodernism" ក្នុងគោលបំណងដើម្បី "ហួសប្រមាណ, បាក់ឆ្អឹង, បញ្ច្រាស, circumvent, interrogate និងរំខានប្លន់និងសមស្រប។ ទំនើបនិង postmodernity</p>

          <p>
            <img src="./assets/images/lessons/performance.jpg" alt="user">
          </p>

          <p>ក្នុងឆ្នាំ 2002 លោក Andre Furlani ដែលធ្វើការវិភាគលើស្នាដៃអក្សរសាស្ត្ររបស់លោក Guy Davenport បានកំណត់និយមន័យនៃ metamodernism ថាជា«សោភ័ណភាពមួយដែលក្រោយមកទៀតដោយមធ្យោបាយទំនើបនិយម ... ​​ជាការចាកចេញនិងភាពរឹងមាំ»។ [5] [5] ទំនាក់ទំនងរវាង metamodernism និង ទំនើបនិយមត្រូវបានគេមើលឃើញថានឹង "ហួសពីការគោរពទៅឆ្ពោះទៅរកការចាប់ផ្តើមឡើងវិញជាមួយវិធីសាស្រ្តទំនើបដើម្បីដោះស្រាយបញ្ហាប្រធានបទបានយ៉ាងល្អនៅក្រៅជួរឬការចាប់អារម្មណ៍របស់ពួកទំនើបនិយមខ្លួនឯង"</p>

          <p>នៅឆ្នាំ 2007 អាឡិចសាន់ត្រាឌូមីតស៍ស៍ (Alexandra Dumitrescu) បានពិពណ៌នាអំពីការប្រែប្រួលអាកាសធាតុដែលជាផ្នែកមួយនៃការប្រៀបធៀបដែលជាផ្នែកមួយនៃការលេចឡើងនិងជាប្រតិកម្មតបទៅនឹង postmodernism ដែលជាគំនិតផ្តួចផ្តើមថាមានតែនៅក្នុងការភ្ជាប់គ្នានិងការកែសម្រួលជាបន្តបន្ទាប់គឺលទ្ធភាពនៃការចាប់យកធម្មជាតិនៃសហសម័យ បាតុភូតវប្បធម៌និងអក្សរសាស្ត្រ "។</p>

          <h4>Vermeulen and van den Akker.</h4>

          <p>
            <img src="./assets/images/lessons/evidence-based-interventions.jpg" alt="user">
          </p>       

          <p>នៅឆ្នាំ 2010 ទ្រឹស្ដីទ្រឹស្ដីវប្បធម៌លោក Timotheus Vermeulen និង Robin van den Akker បានស្នើឱ្យមានការផ្លាស់ប្តូរលោហធាតុដែលជាការធ្វើអន្តរាគមន៍ក្នុងការជជែកដេញដោលក្រោយសម័យទំនើបនិយម។ [7] [8] នៅក្នុងការកត់សម្គាល់របស់ពួកគេស្តីពីមេតាម៉ុននិយមពួកគេបានអះអាងថាឆ្នាំ 2000 ត្រូវបានកំណត់ដោយការត្រឡប់មកវិញនៃមុខតំណែងជាទូទៅសម័យទំនើបដែលមិនបានបោះបង់ចោលគំនិត postmodern នៃទសវត្សឆ្នាំ 1980 និង 1990 ។ យោងទៅតាមពួកគេការយល់ដឹងពីមេតូដឺនអាចត្រូវបានបង្កើតឡើងជាប្រភេទមួយនៃចំណេះដឹងដ៏ឆើតឆាយដែលជាគំនិតនិយមនិយមជាក់ស្តែងដែលជាលក្ខណៈនៃការឆ្លើយតបខាងវប្បធម៌ទៅនឹងព្រឹត្តិការណ៍សកលថ្មីៗដូចជាការប្រែប្រួលអាកាសធាតុវិបត្តិហិរញ្ញវត្ថុអស្ថិរភាពនយោបាយនិងបដិវត្តឌីជីថល។ 7] ពួកគេបានអះអាងថា«វប្បធម៌ក្រោយសម័យទំនើបនៃរឿងរ៉ាវទាក់ទងនឹងរឿងរ៉ាវរឿងអាស្រូវនិងស្ពាន់ធ័រ»បានបញ្ចប់ដោយត្រូវបានជំនួសដោយស្ថានភាពខាងមនោគមវិជ្ជាដែលសង្កត់ធ្ងន់លើការចូលរួមប៉ះពាល់និងការនិទានរឿង។</p>

          <p>បុព្វបទ "meta" នៅទីនេះសំដៅលើជំហរឆ្លុះបញ្ចាំងឬពាក្យចចាមអារាមម្តងហើយម្តងទៀតប៉ុន្តែទៅនឹងស៊ីមត្យូរបស់ផ្លាតូដែលជាចលនាមួយរវាងបង្គោលផ្ទុយនិងលើសពីនេះ។ [7] លោក Vermeulen និង van den Akker បានពណ៌នា metamodernism ថាជា«រចនាសម្ព័ន្ធនៃអារម្មណ៍»ដែលរង្វាលរវាងសម័យទំនើបនិង postmodernism ដូចជា "ប៉ោលសន្ទុះរវាង ... បង្គោលរាប់មិនអស់" ។ [10] យោងតាមលោកគីមលៀវិនបានសរសេរក្នុងសៀវភៅ ARTnews ការរំជើបរំជួលនេះ«ត្រូវតែប្រកាន់យកនូវការសង្ស័យក៏ដូចជាក្តីសង្ឃឹមនិងភាពស្និតស្នាលភាពស្មោះត្រង់និងភាពមុតមាំប៉ះពាល់និងស្មារតីផ្ទាល់ខ្លួននិងនយោបាយនិងបច្ចេកវិទ្យានិងបច្ចេកវិទ្យា។ យោងតាមលោក Vermeulen "ការរៀបរាប់ដ៏ធំគឺចាំបាច់ដូចដែលពួកគេមានបញ្ហាក្តីសង្ឃឹមមិនមែនគ្រាន់តែជាអ្វីដែលមិនគួរឱ្យទុកចិត្តទេតែមិនមែនជាអ្វីដែលត្រូវចំអកនោះទេ" ។</p>

          <p>លោក Vermeulen បានអះអាងថា "metamodernism មិនសូវជាទស្សនវិស័យទេដែលមានន័យថាជាវិទ្យាសាស្ត្របិទទ្វារដែលវាជាការប៉ុនប៉ងក្នុងភាសាមួយឬជាប្រភេទឯកសារប្រភពបើកចំហដែលអាចបរិយាយនិងពន្យល់ពីអ្វីដែលកំពុងកើតឡើងនៅជុំវិញយើងនៅក្នុងនយោបាយ។ [11] ការត្រលប់មកវិញនៃភាពរ៉ូមែនទិកស្នេហាត្រូវបានគេចាត់ទុកថាជាលក្ខណៈសំខាន់នៃ metamodernism ដែលបានសង្កេតឃើញដោយ Vermeulen និង van den Akker នៅក្នុងស្ថាបត្យកម្មនៃ Herzog & de Meuron និងការងាររបស់សិល្បករដូចជា ដូចជា Bas Jan Ader, Peter Doig, Olafur Eliasson, Kaye Donachie, Charles Avery, និង Ragnar Kjartansson ។</p>

        </div>

        <div class="tab-pane fade" id="lang-ph" role="tabpanel">
          <h2>Kasaysayan ng termino.</h2>
          <p>Ang terminong metamodernist ay lumitaw nang maaga noong 1975, nang ginagamit ito ng Mas'ud Zavarzadeh upang ilarawan ang isang kumpol ng mga estetika o saloobin na lumilitaw sa mga Amerikanong literary narratives mula pa noong kalagitnaan ng 1950s.</p>

          <p>Noong 1995, ang Canadian literary theorist na si Linda Hutcheon ay nagsabi na ang isang bagong label para sa kung ano ang darating pagkatapos ng postmodernism ay kinakailangan.</p>

          <p>Noong 1999, ginamit muli ni Moyo Okediji ang terminong metamodern tungkol sa kontemporaryong arte ng Afro-Amerikano, na tinutukoy ito bilang isang "extension at hamon sa modernismo at postmodernism" na may layuning "lumagpas, bumitiw, sumuko, sumangguni, kamakabaguhan at postmodernity. "</p>

          <p>
            <img src="./assets/images/lessons/performance.jpg" alt="user">
          </p>

          <p>Noong 2002, sinuri ni Andre Furlani ang mga gawaing pampanitikan ng Guy Davenport, na tinukoy na metamodernism bilang isang aesthetic na "pagkatapos pa sa pamamagitan ng modernismo ... isang pag-alis at pagpapanatili." [4] Ang ugnayan sa pagitan ng metamodernismo at ang modernismo ay itinuturing na "mas malayo sa paggalang, patungo sa isang reengagement sa modernist na paraan upang matugunan ang paksa sa labas ng hanay o interes ng mga modernista mismo."</p>

          <p>Noong 2007, inilarawan ni Alexandra Dumitrescu ang metamodernism bilang bahagyang pagsang-ayon sa, bahagyang isang paglitaw mula sa, at bahagyang reaksyon sa, postmodernism, "kampeon [ang] ideya na tanging sa kanilang pagkakabit at tuluy-tuloy na pagbabago ay kasinungalingan ang posibilidad na makuha ang kalikasan ng kontemporaryo kultural at pampanitikan phenomena. "</p>

          <h3>Vermeulen at van den Akker.</h3>
          <p>
            <img src="./assets/images/lessons/evidence-based-interventions.jpg" alt="user">
          </p>

          <p>Noong 2010, ang mga kultural na teoriya na sina Timotheus Vermeulen at Robin van den Akker ay nagpanukala ng metamodernismo bilang interbensyon sa debate sa post-postmodernism. [7] [8] Sa kanilang sanaysay na Mga Tala sa Metamodernism, ipinahayag nila na ang mga 2000 ay nailalarawan sa pagbabalik ng mga karaniwang modernong posisyon na hindi nawalan ng mga postmodern mindset sa dekada 1980 at 1990s. Ayon sa mga ito, ang metamodern na pakiramdam ay "maaaring maisip bilang isang uri ng kaalamang pagkatao, isang pragmatic idealismo", katangian ng mga tugon sa kultura sa mga kamakailang pandaigdigang pangyayari tulad ng pagbabago ng klima, krisis sa pananalapi, kawalang-sigla sa pulitika, at digital na rebolusyon. [ 7] Ipinagpapalagay nila na "ang postmodern na kultura ng relatibismo, kabalintunaan, at pastiche" ay tapos na, na napalitan ng isang post-ideological na kondisyon na nagpapahiwatig ng pakikipag-ugnayan, apekto, at pagkukuwento.</p>

          <p>Ang prefix na "meta-" dito ay hindi tumutukoy sa isang mapanimdim na paninindigan o paulit-ulit na pag-aalipusta, ngunit sa metaxy ni Plato, na nagpapahiwatig ng isang kilusan sa pagitan ng mga kabaligtaran na mga pole at lampas sa kanila. [7] Inilarawan ni Vermeulen at van den Akker ang metamodernism bilang isang "istraktura ng pakiramdam" na nagbubuga sa pagitan ng modernismo at postmodernism tulad ng "isang palawit na nakalawit sa pagitan ng ... hindi mabilang na mga pole". [10] Ayon sa Kim Levin, sa pagsulat sa ARTnews, ang pag-oscillation na ito ay "dapat yakapin ang pag-aalinlangan, pati na ang pag-asa at kalungkutan, katapatan at kabalintunaan, nakakaapekto at kawalang-interes, ang personal at ang pulitika, at teknolohiya at teknolohiya." [9] , ayon kay Vermeulen, "ang mga dakilang narratives ay kinakailangan kung sila ay may problema, pag-asa ay hindi lamang isang bagay na hindi magtiwala, ang pag-ibig ay hindi kinakailangang isang bagay na pag-alis."</p>

          <p>Binibigyang-diin ni Vermeulen na ang "metamodernism ay hindi isang pilosopiya-na nagpapahiwatig ng sarado na ontolohiya-dahil ito ay isang pagtatangka sa isang katutubong wika, o ... isang uri ng bukas na dokumento ng pinagmulan, na maaaring konteksto at ipaliwanag kung ano ang nangyayari sa paligid natin, sa pulitika ekonomiya gaya ng sa sining. "[11] Ang pagbabalik ng isang Romantikong pakiramdam ay nai-posited bilang isang pangunahing katangian ng metamodernism, na sinusunod ni Vermeulen at van den Akker sa arkitektura ng Herzog & de Meuron, at ang gawain ng mga artista tulad bilang Bas Jan Ader, Peter Doig, Olafur Eliasson, Kaye Donachie, Charles Avery, at Ragnar Kjartansson.</p>

        </div>        
      </div>

      <div class="fit_html_slab_complete">
        <a href="#" class="btn btn-light btn-lg">Got it, continue!</a>
        <small>Go to the next section.</small>
      </div>      

    </div>
  </article>



  <aside>
    <div class="fits">

      <div class="fit fit_hider">
        <a class="fit_btn subtle i-r" data-fit-minright href="#">
          <span class="fit_txt">Hide</span>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>

      <div class="fit">
        <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_resources" role="button" aria-expanded="fitse" aria-controls="fit_lesson_resources">
          <i class="fal fa-books"></i>
          <span class="fit_txt">Resources</span> 
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse show" id="fit_lesson_resources">
          <div class="fit_body_content">

            <a class="fit_btn resource" href="#">
              <span class="fas fa-file-alt lg"></span>
              <span class="fit_txt">
                Awesome template example
                <small>Google document</small>
              </span>
              
            </a>

            <a class="fit_btn resource" href="#">
              <span class="fas fa-file-spreadsheet lg"></span>
              <span class="fit_txt">
                My spreadsheet thing
                <small>Google spreadsheet</small>
              </span>
              
            </a>

            <a class="fit_btn resource" href="#">
              <span class="fas fa-file-image lg"></span>
              <span class="fit_txt">
                Slide deck example
                <small>Google slides</small>
              </span>
              
            </a>

            <a class="fit_btn subtle" href="#">
              <span class="fas fa-arrow-left"></span>
              <span class="fit_txt">Load full lesson resources</span>
            </a>

          </div>
        </div>
      </div>

      <div class="fit">
        <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_teacher" role="button" aria-expanded="fitse" aria-controls="fit_lesson_teacher">
          <i class="fal fa-chalkboard-teacher"></i>
          <span class="fit_txt">Your teacher</span>
          <span class="fas fa-chevron-down"></span>
        </a>
        <div class="fit_body collapse" id="fit_lesson_teacher">
          <div class="fit_body_content">
            <a class="fit_btn" data-toggle="collapse" href="#fit_lesson_resources" role="button" aria-expanded="fitse" aria-controls="fit_lesson_resources">
              <span class="fit_pic circle"><img src="./assets/images/defaults/face.jpg" alt="user"></span>
              <span class="fit_txt">Victoria Cullen</span> 
            </a>
            <p>&ldquo;I'm a prefix "meta-" here referred not to a reflective stance or repeated rumination, but to Plato's metaxy, which denotes a movement between opposite poles as well as beyond them.&rdquo;</p>
          </div>
        </div>
      </div>

      <div class="fit fit_overflow">
        <a class="fit_btn collapsed" data-toggle="collapse" href="#fit_lesson_stats" role="button" aria-expanded="fitse" aria-controls="fit_lesson_stats">
          <i class="fal fa-chart-bar"></i>
          <span class="fit_txt">Analytics <span href="#" class="badge badge-light">admins only</span></span>
          <span class="fas fa-chevron-down"></span>
        </a>

        <div class="fit_body collapse person_active" id="fit_lesson_stats">
          <div class="fit_body_content">
            <form class="form">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" name="search" value="" id="search" placeholder="Filter" aria-label="search" aria-describedby="search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-sort"></i> <span class="d-none d-sm-inline-block"></button>
                  </div>
                </div>  
              </div>
            </form>

            <!-- put student lists here! -->
          </div>
        </div>
      </div>      

    </div>
  </aside>
</main>


{% include 'partials/_footer.twig' %}


{% endblock %}
