{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course">

    	<h1 class="fit_avatared">
    		<a href="{{ current_user.profile_picture }}" target="_blank" class="fit_avatar">
    			<img src="{{ current_user.profile_picture }}" alt="user">
    		</a>
    		<span class="fit_txt">{{ current_user.full_name }}.</span>
    	</h1> 

    	{% include 'partials/form/_errors.html' %}

			<div class="fit_pane">
			  <dl class="fit_summary_icons">
			    <dt><i class="far fa-user"></i> About you.</dt>
			    <dd>
			      <form class="fit_user_edit" method="post" action="/edit">
            	{{ form.csrf_token }}
							<div class="row">
			          <div class="col">
			            <div class="fit_fancyplace">
			              <label for="firstname">Given name</label>
			              <input type="text" id="firstname" name="first_name" class="form-control" value="{{ current_user.first_name }}" placeholder="Given name" required data-fit-fancyplace data-fit-slug-name data-fit-slug-first>
			            </div>
			          </div>
			          <div class="col">
			            <div class="fit_fancyplace">
			              <label for="lastname">Last name</label>
			              <input type="text" id="lastname" name="last_name" class="form-control" value="{{ current_user.last_name }}" placeholder="Last name" required data-fit-fancyplace data-fit-slug-name data-fit-slug-last>
			            </div>
			          </div>
			        </div>

			        <div class="fit_fancyplace">
			          <label for="register_email">Email address</label>
			          <input type="email" id="register_email" name="email" class="form-control" value="{{ current_user.email }}" placeholder="Email address" required data-fit-fancyplace>
			        </div>

			        <div class="fit_fancyplace">
			          <label for="register_pass">Change password</label>
			          <input type="password" id="register_pass" name="password" class="form-control" placeholder="Change password" data-fit-fancyplace>
			        </div>

			        <div class="form-group">
								<div class="fit_squarelogo fit_cropper" data-fit-image-uploader data-fit-aspect-width="1" data-fit-aspect-height="1">
		              {% if current_user.profile_picture %}
		                <img src="{{ current_user.profile_picture }}" alt="user">
		              {% else %}
		                <img class="placeholder" src="/assets/images/defaults/spacer.gif" alt="spacer">
		              {% endif %}
		              <a class="fit_vidya_play fit_upload_dropzone" href="#" data-fit-image-dropzone><i class="fas fa-upload"></i></a>
		              <form action="/edit" method="post" style="display:none;">
		                <input id="cover_image" name="cover_image" type="file" accept="image/png, image/jpeg, image/gif" data-fit-image-input>
		              </form>
		              <a class="btn btn-primary fit_save_crop" data-fit-save-crop><i class="fal fa-check"></i> Save</a>
		            </div>
							</div>        
							
							<div class="form-group">
								<div class="input-group fit_fancyplace">
								  <div class="input-group-prepend">
								    <span class="input-group-text" id="user_at">@</span>
								  </div>
								  <input type="text" id="username" class="form-control" maxlength="20" name="username" value="{{ current_user.username }}" placeholder="username" aria-label="username" aria-describedby="user_at" data-fit-slug-set>
								</div>
								<small id="sluglink" class="form-text text-muted">Your personal link will be: <span class="fit_sluglabel">fitzroyacademy.com/user/<strong data-fit-slug-reveal>{{ current_user.username }}</strong></span></small>
								<input type="hidden" value="{{ current_user.username }}" id="secretslug" name="secretslug" data-fit-slug-reveal-secret> <!-- DEV: store this input as username, it strips off weird characters -->
							</div>

						  <button type="submit" class="btn btn-primary">Save changes</button>
			      </form>
			    </dd>
			  </dl>
			</div>        
			  
			<div class="fit_course">
        <h3>
          <span class="txt">Your courses.</span>
          {% if current_user.courses|length > 0 %}
            <small class="subtxt"><span class="fas fa-check"></span> {{ current_user.course_progress }}% complete</small> 
            <!-- DEV: total % complete, aggregated across all courses user has started -->
          {% endif %}
        </h3>

        <div class="fit_body fit_lessons">

          <!-- DEV: this is links (without the accordion!) direct to the courses user is enrolled in -->

          {% if current_user.courses|length == 0 %}
            <div class="fit_btn">
              <div class="fit_txt">You're not enrolled in any courses yet!</div>
            </div>
          {% else %}
            {% for course in current_user.courses %}
            <div class="fit_lesson">
              <a class="fit_btn" href="{{ course.permalink }}">
                <div class="fit_pic vid">
                  <img src="{{ course.thumbnail }}" alt="course">
                </div>
                <span class="fit_txt">{{ course.title }}</span>
                <span class="fit_sub">{{ course.duration_seconds|hhmmss }}</span>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>

        <a href="/course/add" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i> New course</a>

      </div><!-- fit_course -->

			<h3>
			  <span class="txt">Your privacy.</span>
			</h3>
			<p></p>
			<dl class="fit_summary_icons">
			  <dt><i class="far fa-lock"></i> Notifications.</dt>
			  <dd>
			    <div class="form-group">
			      <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1"> <!-- DEV: user privacy permissions. Let's talk this through -->
			      <label for="permissions_1">Receieve emails and notifications from your teachers.</label>
			    </div>
			    <div class="form-group">
			      <input type="checkbox"  data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1"> <!-- DEV: user privacy permissions. Let's talk this through -->
			      <label for="permissions_1">Receieve emails and notifications from <a href="/">Fitzroy Academy</a>.</label>
			    </div>
			  </dd>
			  <dt><i class="far fa-lock"></i> Your details and data.</dt>
			  <dd>     
			    <div class="form-group">
			      <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1"> <!-- DEV: user privacy permissions. Let's talk this through -->
			      <label for="permissions_1">Let us use your learning data for research. <a href="/faq#research">What&rsquo;s this?</a></label>
			    </div>
			    <div class="form-group">
			      <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1"> <!-- DEV: user privacy permissions. Let's talk this through -->
			      <label for="permissions_1">Allow other students to see my name</label>
			    </div>
			    <div class="form-group">
			      <input type="checkbox" checked data-toggle="toggle" data-size="sm" data-style="simple" id="permissions_1" name="permissions_1">  <!-- DEV: user privacy permissions. Let's talk this through -->
			      <label for="permissions_1">Allow other registered users to see my email address</label>
			    </div>
			  </dd>          
			</dl>
			<p>Not sure about privacy or data? <a href="/faq#privacy">Read the FAQs</a> about our data and research.</p>
		</div>
	</article>
</main>
{% endblock %}