{% extends "/layout.html" %}
{% block body %}

<main>

  <article>

    <div class="fit_course">

    	<h1 class="fit_avatared">
    		<a href="{{ user.profile_picture }}" target="_blank" class="fit_avatar">
    			<img src="{{ user.profile_picture }}" alt="user">
    		</a>
    		<span class="fit_txt">{{ user.full_name }}</span>
    	</h1> 

			<div class="fit_pane">
			  <dl class="fit_summary_icons">
			    <dt><i class="far fa-user"></i> About {{ user.first_name }}.</dt>
			    <dd>
			      <ul>
			        <li><a href="mailto:{{ user.email }}">{{ user.email }}</a></li> <!-- DEV: email only visible if user has set "show my email" in preferences, and to super admins 
			        <li><strong>34</strong> years old, from <strong>Paris, France</strong>.</li> <!DEV: from the user DB -->
			      </ul>
			    </dd>
			  </dl>
			</div>        
			  
			<div class="fit_course">
			  <h3>
			    <span class="txt">{{ user.first_name }}&rsquo;s courses.</span>
			    <small class="subtxt"><span class="fas fa-check"></span> 72% complete</small> <!-- DEV: total % complete, aggregated across all courses user has started -->
			  </h3>

			  <div class="fit_body fit_lessons">

			    <!-- DEV: this is links (without the accordion!) direct to the courses user is enrolled in -->

			    <div class="fit_lesson">
			      <a class="fit_btn collapsed i-l i-t" href="#">
			        <div class="fit_pic vid">
			          <img src="/assets/images/lessons/agile-project-management.jpg" alt="course">
			          <span class="fas fa-check"></span>
			        </div>
			        <span class="fit_txt">Agile project management</span>
			        <span class="fit_txt secondary">Clare Carmody, Salesforce</span>
			        <span class="fit_time">43:51</span>
			      </a>
			    </div>

			    <div class="fit_lesson">
			      <a class="fit_btn collapsed i-l i-t" href="#">
			        <div class="fit_pic vid">
			          <img src="/assets/images/lessons/guerilla-usability-testing.jpg" alt="course">
			          <span class="fas fa-check"></span>
			        </div>
			        <span class="fit_txt">Feeling good about eating cake</span>
			        
			        <span class="fit_txt secondary">Melissa Ng, Melewi</span>
			        <span class="fit_time">53:51</span>
			      </a>        
			    </div>            


			    <div class="fit_lesson">
			      <a class="fit_btn collapsed i-l i-t" href="#">
			        <div class="fit_pic vid">
			          <img src="/assets/images/lessons/crowdfunding.jpg" alt="course">
			          <span class="fas fa-play"></span>
			        </div>
			        <span class="fit_txt">Crowdfunding</span>
			        
			        <span class="fit_txt secondary">Prashan Paramanathan, Chuffed</span>            
			        <span class="fit_time">3:51</span>
			      </a>
			    </div>
			  </div>
			</div><!-- fit_course -->

		</div>
	</article>
</main>
{% endblock %}