{% extends "/layout.html" %}
{% block body %}


<div class="fat_head">
  {% include 'static/play/_head.html' %}
</div>

<div class="fat_hero">
  <h1>The online <br>impact school.</h1>
	<div class="fat_tease_btns">
    <a class="btn btn-xl btn-text watermelon" href="/courses"><i class="fal fa-play"></i> Courses </a>
    <a class="btn btn-xl btn-text purple" href="/services"><i class="fal fa-chalkboard-teacher"></i> Services </a>
    <a class="btn btn-xl btn-text cyan" href="/about"><i class="fal fa-smile-beam"></i> About</a>
  </div>
</div>

{% endblock %}

