<div class="fit_survey" data-fit_iconselect_parent>
    {% with template = active_segment.get_questions_template() %}
        <h2>
            {{ active_segment.title }}
            {% if template.free_text_minlength > 0 %}
                <span class="fit_why_count">
          <span data-fit_survey_force_counter>{% if survey_response %}
              {{ survey_response.free_text_response|length }}{% else %}0{% endif %}</span>
          / minimum
          <span data-fit_survey_force_counter_total>{{ template.free_text_minlength }}</span>
        </span>
            {% endif %}
        </h2>

        <div class="fit_survey_why" data-fit_feedback_why>
            <div class="form-group">
                <textarea class="form-control" data-fit_feedback_why_input
                          data-fit_survey_force="{{ template.free_text_minlength }}" id="reason"
                          rows="5">{% if survey_response %}{{ survey_response.free_text_response }}{% endif %}</textarea>
            </div>
        </div>

        <div class="fit_survey_submit">
            <button type="button" disabled data-fit_iconselects_submit="Save answer"
                    data-fit_iconselects_disabled="Please enter an answer"
                    data-fit_iconselects_free_text_required="Please enter an answer"
                    data-fit-submit-survey-segment
                    data-fit-segment-id="{{ active_segment.id }}"
                    class="btn btn-lg btn-secondary">Please enter an answer
            </button>

        {% include 'partials/segments/survey/_skip_button.html' %}
        </div>
    {% endwith %}
</div>
